<section class="iso_pgN application_modernization_new">
  <div class="tec_banner_sec tec_banner_secNew">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="bnr-hdr">
            <h1 class="" style="font-family:BebasNeueBold;"> APPLICATION MIGRATION & MODERNIZATIon
              <small> OUTSOURCING SERVICES</small>
            </h1>

            <p class="wow fadeIn animated" data-wow-delay=".3s"> I provide expert application migration &
              modernization services for all kinds of web and mobile apps. <BR>
              I ensure your application keeps up with
              the latest trends in technology and design. </p>

            <ul class="wow fadeIn   animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s;">
              <li class="ios_icon1"> Higher Productivity</li>
              <li class="ios_icon2"> Agile Development</li>
              <li class="ios_icon3"> Reduced Costs</li>
              <li class="ios_icon4">Improved App Performance</li>
            </ul>

          </div>

          <div class="hirenow_button wow fadeInDown animated" data-wow-delay=".3s">
            <a href="/contact" title="Contact Me Now" class="ladda-button" data-style="slide-left"> CONTACT ME
              NOW </a></div>
        </div>
      </div>
    </div>
    <!--   <div class="img_icon"> <img src="common/images/php_icon.png" alt="php ios developers" title="Dedicated php-developers" /> </div> -->
  </div>

  <section class="body_container" role="main">

    <section class="app_moderzation_main_outer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="ourecommerce_innr">
              <h3> My Application Migration And Modernisation Services </h3>
              <p> Software migration and modernization is crucial in dynamic market conditions.
                <br> I develop
                an incremental development roadmap for the application migration & modernization process.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon1"></small>
              <p> Platform/ Technology
                Migration </p>
              <span> Migration and enhancement of legacy systems with new Internet-driven, cloud based technologies and platforms.
 </span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon2"></small>
              <p> UI Modernization & <br>
                Migration </p>
              <span> I provide UI Modernization & Migration to maintain a consistent UX across smartphones, tablets, laptops and desktops.
</span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon3"></small>
              <p> Application <br>
                Re-engineering </p>
              <span> Consolidation of an assortment of software into a single, consistent system that demolishes siloes.


  </span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon4"></small>
              <p> Website Migration </p>
              <span> Migration between one platform to another, one technology to another and one domain to a different one.

</span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon5"></small>
              <p> API Migration & <br>
                Modernization
              </p>
              <span> Modernizing and migrating APIs with payment gateways, ecommerce platforms, geolocation, social networks, etc.

</span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon6"></small>
              <p> Enterprise To Cloud <br>
                Transformation </p>
              <span> I ensure your enterprise database, OS, User Interface, CRM, ERP, corporate mail and custom apps are safe in cloud.
 </span></div>
          </div>


        </div>
        <div class="row headline">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeIn animated animated" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="request_MorInfo"><a href="/contact"> contact me today </a></div>
          </div>
        </div>
      </div>
    </section>



    <%= render 'layouts/footer_former' %>
  </section>
</section>

