<section class="iso_pgN application_modernization_new appli_development_new app-devel-new xyz">
  <div class="tec_banner_sec tec_banner_secNew">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="bnr-hdr">
            <h1 class="" style="font-family:BebasNeueBold;"> CUSTOM APPLICATION
              <small> DEVELOPMENT SERVICES available</small>
            </h1>

            <p class="wow fadeIn   animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;">I
              completely offer rapid full stack
              application development services to a wide array of industry verticals catering to all kinds of start-ups
              and mid-large scale businesses. Be it a simple portal or a complex business solution, I am here to help
              you with all of your software development needs. </p>

            <ul class="wow fadeIn     animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s;">
              <li class="ios_icon1"> 100% Transparency</li>
              <li class="ios_icon2"> Quality Deliverables</li>
              <li class="ios_icon3"> Flexible Engagement Models</li>
              <li class="ios_icon4"> CO-Operative</li>
            </ul>

          </div>

          <div class="hirenow_button wow fadeInDown   animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;">
            <a href="/contact" title="Contact ME Now" class="ladda-button" data-style="slide-left"><span class="ladda-label">
              CONTACT ME NOW </span><span class="ladda-spinner"></span></a>
          </div>
        </div>
      </div>
    </div>
    <!--   <div class="img_icon"> <img src="common/images/php_icon.png" alt="php ios developers" title="Dedicated php-developers" /> </div> -->
  </div>

  <section class="body_container" role="main">

    <section class="appli_development_outer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="ourecommerce_innr">
              <h3> MY APPLICATION DEVELOPMENT SERVICES </h3>
              <p> Being a software developer, I provide full stack application development
                services that cater every facet of the tech industry. I thrive in the latest
                technologies and provide services that fulfill your requirements in an adequate manner. </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow rotateInDownLeft     animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon1"></small>
              <h4> Web Development </h4>
              <p> Modern Web Apps are not limited to desktops only as mobile-centric web has gained significant
                importance. As one of the remarkable offshore software developers, I build cross-platform
                web applications and take your business to the next level. Some of my offerings are: </p>
              <div class="bullet_main">
                <ul>
                  <li>Custom Web Application Development</li>
                  <li>Web Application Modernization</li>
                  <li> Application Integration</li>
                  <li>Application Re-engineering</li>
                </ul>


              </div>


            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow rotateInDownLeft     animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon2"></small>
              <h4> Mobile Development </h4>
              <p> Evolving business challenges require mobile technology solutions that are adaptive and scalable to
                boost your business growth. Choose a software developer to build
                mobile apps and stay ahead of competition. <br>I offer: </p>
              <div class="bullet_main">
                <ul>
                  <li> Native Mobile App Development</li>
                  <li> Hybrid Mobile App Development</li>
                  <li> Mobile Application Re-engineering</li>
                  <li> Existing Mobile App Conversion</li>
                </ul>


              </div>

            </div>
          </div>


        </div>

      </div>
    </section>


    <section class="client-focusM client_f_mode">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="ourecommerce_innr text-center">
              <h3> Client Focus </h3>
              <p> I deliver custom Application Development Services for Startups, SMBs and Agencies.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="ourecommerce_innr focusBox-list">
              <div class="box box1">
                <div class="box-inner">
                  <a href="javascript:void(0)">
                    <small></small>
                    <span>Startup Businesses</span>
                  </a>
                </div>
                <div class="hover_content">
                  <h3><span class="iconH"></span> <b>Startup Businesses</b></h3>
                  <ul>
                    <li> Fixed price estimates</li>
                    <li> Iterative prototyping services for fast delivery of a fully verified MVP</li>
                    <li>Dedicated scrum masters and advanced Agile delivery practices</li>
                    <li>Capacity to rapidly grow the software development teams</li>
                  </ul>
                </div>
              </div>
              <div class="box box2">

                <div class="box-inner">
                  <a href="javascript:void(0)">
                    <small></small>
                    <span> Digital Agencies &amp; ISVs  </span>
                  </a>
                </div>
                <div class="hover_content">
                  <h3><span class="iconH"></span><b> Digital Agencies &amp; ISVs </b></h3>
                  <ul>
                    <li> Tested and Proven environment optimization techniques</li>
                    <li> Flexible engagement models for varying delivery risks</li>
                    <li> Capacity to support an ongoing stream of projects</li>
                    <li> Hands-on project delivery experience with value-added services</li>
                  </ul>
                </div>

              </div>
              <div class="box box3">

                <div class="box-inner">
                  <a href="javascript:void(0)">
                    <small></small>
                    <span> Enterprises &amp; Governments </span>
                  </a>
                </div>
                <div class="hover_content">
                  <h3><span class="iconH"></span> <b> Enterprises &amp; Governments </b></h3>
                  <ul>
                    <li> Professional consulting and assistance for large agencies</li>
                    <li> Process transparency and contracting engagements</li>
                    <li>Adherence to standards and regulations for government projects</li>
                    <li>Enabling effective cross-enterprise orchestration of existing IT investments</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="client_testimonila_sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="testmonilas_innr">
              <h3>CLIENT TESTIMONIALS </h3>
              <p>Still not convinced? See what our customers are saying..</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="testimonial_slide1 owl-carousel owl-theme col-lg-5 col-md-12 col-sm-12 col-xs-12" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
              <div class="owl-wrapper" style="width: 1828px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                <div class="owl-item" style="width: 457px;">
                  <div class="item">
                    <div class="development_services_inner"> <span> “

               In my opinion this person is a stress buster. I have had the most peaceful time with this person
                      by my side taking care of all my complicated website development. All I did was to wait for
                      their prompt email updates in my inbox.

                ” </span>
                      <h4>- Cathy Wise </h4>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 457px;">
                  <div class="item">
                    <div class="development_services_inner"> <span>“

               Understanding the needs of customers is the key to any successful business. They perfectly understand
                      these needs and know how to make them applicable. He is a world-class expert in this field and
                      he is more eager than us to get the project done! He is exceptionally reliable and highly
                      efficient.

                ” </span>
                      <h4> - Krystal Norris </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div style="visibility: visible; animation-delay: 0.1s;" data-wow-delay=".1s" class="col-lg-2 col-md-12 col-sm-12 col-xs-12 wow rotateInDownLeft     animated animated animated animated animated">
            <div class="development_services_inner">
              <div class="img_box"><img src="common/images/ios_testomonila131217.png"></div>
            </div>
          </div>
          <div class="testimonial_slide2 col-lg-5 col-md-12 col-sm-12 col-xs-12 owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
              <div class="owl-wrapper" style="width: 1832px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                <div class="owl-item" style="width: 458px;">
                  <div class="item">
                    <div class="development_services_inner "> <span>“

               With him I have experienced a lot of 'firsts'. I noticed that he never shied away from innovating especially
                      with technologies that were a bit old. His belief in the power of combination and permutation is
                      astounding as he took the best of all.
                ” </span>
                      <h4>- - Daisy Banks </h4>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 458px;">
                  <div class="item">
                    <div class="development_services_inner "> <span>“

             I am looking forward to work with ValueCoders in the near future. ValueCoders, through their exceptional service culture, has found a place in our provider list despite them being new to us. They took the least time to impress.

                ” </span>
                      <h4>- Eddie May </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>


    <%= render 'layouts/footer_former' %>
  </section>
</section>