<section class="co_development_pg">
  <section class="web_appl_dvl_newPG">
    <div class="web_appl_dvl_bnner_sec_outr">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="web_appl_dvl_bnner_sec">
              <h1 class="wow fadeIn animated" data-wow-delay=".2s">Co-Development Services
                <small> Development method</small>
              </h1>
              <p class="wow fadeIn animated" data-wow-delay=".3s">Build quality software & accelarate time-to-market
                with my professional software developers who are dedicated to meet your specific requirements of the
                on-going development projects.</p>
              <ul class="wow fadeIn animated" data-wow-delay=".6s">
                <li class="web-icon1">Quality Deliverables</li>
                <li class="web-icon2">100% Transparency</li>
                <li class="web-icon3">Skilled Team</li>
                <li class="web-icon4">Flexible Engagement Models</li>
              </ul>

              <div class="Web_dvl_button wow fadeInDown animated" data-wow-delay=".3s">
                <a href="/contact" title="Request Free Consultation">Request Free Consultation</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="web_appl_dvl_sec">
    <div class="container">
      <div class="dvl_sec_pnl border-btm wow fadeIn animated" data-wow-delay=".1s">
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <div class="img-lft">
              <img src="common/images/Co-development.jpg" alt="Co-Development Services" title="Co-Development Services "/>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="txt-right">
              <p class="heading">Co-Development Services</p>
              <p class="desc">I maintain a cooperative and friendly yet professional environment so that I can fit in
                your work culture easily. my developers go through the whole project scope and cooperate with you as
                per the project needs. </p>
              <ul class="list">
                <li>- Easy hiring of developers for ongoing projects</li>
                <li>- End Projects faster in less investment</li>
                <li>- Reduce risk of project failure</li>
                <li>- No extra infrastructure buildup cost</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="dvl_sec_pnl dvl_sec_pnl2 wow fadeIn animated" data-wow-delay=".1s">
        <div class="row">
          <div class="col-sm-6 col-xs-12 pull-right">
            <div class="img-lft mbl-img">
              <img src="common/images/contract-hiring.jpg" alt="Co-Development Services India" title="Co-Development Services India"/>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 pull-left">
            <div class="txt-right">
              <p class="heading">On-Contract Hiring</p>
              <p class="desc">At ValueCoders, I offer on Contract software developers with flexible hiring models for
                your varying project needs. my versatile contracts are available on a fixed cost basis, retainer basis
                or hourly basis. Regardless of the Software development contract option you choose, I ensure on-time
                delivery and 100% client satisfaction for every project. </p>
              <ul class="list">
                <li>- Get specialised developers for specific project requirement</li>
                <li>- Save cost and time by choosing right hiring models</li>
                <li>- Reduce exposures to lawsuits & legal claims</li>
                <li>- Flexibility to hire per project for quality development</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="casestudies_outer case-study-web">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="casestudies_inner">
            <h4 class="wow fadeIn animated" data-wow-delay=".2s">Web/Mobile Co-Development Work Samples</h4>
            <p class="wow fadeIn animated" data-wow-delay=".2s">Top businesses rely on ValueCoders for their Web &amp;
              Mobile co-development needs. Here are a few cases of companies whose success has been supported by us</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="Dsamples_slider">
            <!-- need to change within this section -->
            <div class="item">
              <div class="slider-left">
                <div class="WSImg_outer text-center">
                  <div class="WSImg_inner">
                    <div class="WSIng_content_outr">
                      <img src="common/images/img2.jpg" alt="Work Samples" title="Work Samples" class="native-apps"/>
                      <div class="WSIng_content">
                        <p>Drizzly is the E Commerce website powering a superior shopping experience for beer, wine,
                          liquor, Soda, Mixers, Fruit Juice, Energy drinks, Garnishes, Bitters, Snacks and Party
                          supplies. Combining the best selection and price, content-rich and personalized shopping
                          experiences, and the speed and convenience of on-demand delivery. This AngularJS powered
                          website is responsive, making it comfortable for smartphone users to access and order from
                          anywhere.</p>
                      </div>
                    </div>
                  </div>
                  <span class="circle">
										</span>
                  <span class="WSImg_btm">
											<img src="common/images/video_icon2.png" alt="PixelCrayons"/>
										</span>
                </div>
              </div>
            </div>
            <!-- End -->
            <!-- need to change within this section -->
            <div class="item">
              <div class="slider-left">
                <div class="WSImg_outer text-center">
                  <div class="WSImg_inner">
                    <div class="WSIng_content_outr">
                      <img src="common/images/samples/php/img2.jpg" alt="Work Samples" title="Work Samples" class="native-apps"/>
                      <div class="WSIng_content">
                        <p>Activity Rocket helps parents in finding the best classes, camps and athletic activities for
                          their kids. Search & book tuitions and comparing classes are some of the highlighted features
                          of this website.</p>
                      </div>
                    </div>
                  </div>
                  <span class="circle">
										</span>
                  <span class="WSImg_btm">
											<img src="common/images/video_icon2.png" alt="PixelCrayons"/>
										</span>
                </div>
              </div>
            </div>
            <!-- End -->
            <!-- need to change within this section -->
            <div class="item">
              <div class="slider-left">
                <div class="WSImg_outer text-center">
                  <div class="WSImg_inner">
                    <div class="WSIng_content_outr">
                      <img src="common/images/samples/php/img3.jpg" alt="Work Samples" title="Work Samples" class="native-apps"/>
                      <div class="WSIng_content">
                        <p>ProAdviser is an online community which provides a platform for customers to get professional
                          advice related to finance, accounting and law by hiring professional advisers on the website.
                          Once a client submits a request with complete details, it is forwarded to 5 different advisors
                          (based on algorithm and the type of advisor needed). Advisers are notified and contact the
                          clients the clients with the appropriate advise. Proadviser also lets clients to view the
                          complete profile of the adviser they are going to hire for their requirements.</p>
                      </div>
                    </div>
                  </div>
                  <span class="circle">
										</span>
                  <span class="WSImg_btm">
											<img src="common/images/video_icon2.png" alt="PixelCrayons"/>
										</span>
                </div>
              </div>
            </div>
            <!-- End -->
            <!-- need to change within this section -->
            <div class="item">
              <div class="slider-left">
                <div class="WSImg_outer text-center">
                  <div class="WSImg_inner">
                    <div class="WSIng_content_outr">
                      <img src="common/images/samples/php/img4.jpg" alt="Work Samples" title="Work Samples" class="native-apps"/>
                      <div class="WSIng_content">
                        <p>Eatigo is Thailand and Singapore's leading dining deal and online restaurant reservation
                          portal offering real-time deals of up to 50% off the whole food bill for every restaurant,
                          every day! Eatigo users never pay the full price whether its a romantic dinner with your
                          partner, a business lunch, an evening with friends or just a quick bite when you are out in
                          town. It provides users with a wide selection of local and International restaurants covering
                          a range of cuisines all at the best discounts, at all times.</p>
                      </div>
                    </div>
                  </div>
                  <span class="circle">
										</span>
                  <span class="WSImg_btm">
											<img src="common/images/video_icon2.png" alt="PixelCrayons"/>
										</span>
                </div>
              </div>
            </div>
            <!-- End -->
            <!-- need to change within this section -->
            <div class="item">
              <div class="slider-left">
                <div class="WSImg_outer text-center">
                  <div class="WSImg_inner">
                    <div class="WSIng_content_outr">
                      <img src="common/images/samples/php/img5.jpg" alt="Work Samples" title="Work Samples" class="native-apps"/>
                      <div class="WSIng_content">
                        <p>VoiceBunny is the best place online to book voice over jobs and even get paid for every
                          audition! This website has 2 types of Users: Clients and Voice Over Artists (Service
                          Provider). Clients posts their project and Service Providers are booked as per the project's
                          budget. Paypal is integrated for the payout feature.</p>
                      </div>
                    </div>
                  </div>
                  <span class="circle">
										</span>
                  <span class="WSImg_btm">
											<img src="common/images/video_icon2.png" alt="PixelCrayons"/>
										</span>
                </div>
              </div>
            </div>
            <!-- End -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="get_outer appl_dvl_frm">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <style>
            @media only screen and (max-width: 479px) {
              .form_info .country.error, .form_info input.error[type="text"], .form_info textarea.error {
                border: 2px solid red;
              }

              .form_info #user-name-err1, .form_info #user-email-err, .form_info #user-country-err, .form_info #user-phone-err, .form_info #user-message-err {
                display: none;
              }
            }
          </style>
          <div class="get_left">
            <div class="bill_satisfaction">
              <a href="javascript:void(0);" class="satisfaction_pop"><img src="common/images/satisfaction1.png" alt="Hire Offshore Developers - Logo - 1" class="satisfaction2"/></a>
              <a href="javascript:void(0);" class="billing_pop"><img src="common/images/billing1.png" alt="Hire Offshore Developers - Logo - 2" class="billing2"/></a>
            </div>
            <form name="contact-frm" id="contact-frm" action="sendmail.php" method="post">
              <input type="hidden" name="type" value="contact-frm"/>
              <input type="hidden" name="frmqueryString" id="frmqueryString" value="&amp;PageName=&amp;xForwordFor=&amp;deviceID=computer"/>
              <h6>Get in Touch</h6>
              <p>Request further information or free trial.</p>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form_info">
                    <span class="form_info_icon">
                        <i class="fa fa-user"></i>
                    </span>

                    <input type="text" class="name" placeholder="Name" maxlength="100" name="user-name" id="user-name" onkeyup="removeErrMsg(this.name)"/>
                    <small><img src="common/images/field_required.png" alt="Get In Touch - Required Field - 1"/></small>
                    <span id="user-name-err1"></span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form_info">
                    <span class="form_info_icon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" name="user-email" id="user-email" maxlength="100" class="email" placeholder="Email" onkeypress="isNumberKey(this)" onkeyup="removeErrMsg(this.name)"/>
                    <small><img src="common/images/field_required.png" alt="Get In Touch - Required Field - 2"/></small>
                    <span id="user-email-err"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form_info">
                        <span class="form_info_icon">
                            <i class="fa fa-globe"></i>
                        </span>
                        <div class="country" id="user-country-div">
                            <select id="user-country" name="user-country">
                                <option value="">Choose Country</option>
                                <option value="USA">United States</option>
                                <option value="GBR">United Kingdom</option>
                                <option value="CAN">Canada</option>
                                <option value="AUS">Australia</option>
                                <option value="AFG">Afghanistan</option>
                                <option value="ALB">Albania</option>
                                <option value="DZA">Algeria</option>
                                <option value="ASM">American Samoa</option>
                                <option value="AND">Andorra</option>
                                <option value="AGO">Angola</option>
                                <option value="AIA">Anguilla</option>
                                <option value="ATA">Antarctica</option>
                                <option value="ATG">Antigua and Barbuda</option>
                                <option value="ARG">Argentina</option>
                                <option value="ARM">Armenia</option>
                                <option value="ABW">Aruba</option>
                                <option value="AUT">Austria</option>
                                <option value="AZE">Azerbaijan</option>
                                <option value="BHS">Bahamas</option>
                                <option value="BHR">Bahrain</option>
                                <option value="BGD">Bangladesh</option>
                                <option value="BRB">Barbados</option>
                                <option value="BLR">Belarus</option>
                                <option value="BEL">Belgium</option>
                                <option value="BLZ">Belize</option>
                                <option value="BEN">Benin</option>
                                <option value="BMU">Bermuda</option>
                                <option value="BTN">Bhutan</option>
                                <option value="BOL">Bolivia</option>
                                <option value="BIH">Bosnia and Herzegovina</option>
                                <option value="BWA">Botswana</option>
                                <option value="BVT">Bouvet Island</option>
                                <option value="BRA">Brazil</option>
                                <option value="IOT">British Indian Ocean Territory</option>
                                <option value="BRN">Brunei Darussalam</option>
                                <option value="BGR">Bulgaria</option>
                                <option value="BFA">Burkina Faso</option>
                                <option value="BDI">Burundi</option>
                                <option value="KHM">Cambodia</option>
                                <option value="CMR">Cameroon</option>
                                <option value="CPV">Cape Verde</option>
                                <option value="CYM">Cayman Islands</option>
                                <option value="CAF">Central African Republic</option>
                                <option value="TCD">Chad</option>
                                <option value="CHL">Chile</option>
                                <option value="CHN">China</option>
                                <option value="CXR">Christmas Island</option>
                                <option value="CCK">Cocos (Keeling) Islands</option>
                                <option value="COL">Colombia</option>
                                <option value="COM">Comoros</option>
                                <option value="COG">Congo</option>
                                <option value="COD">Congo, the Democratic Republic of the</option>
                                <option value="COK">Cook Islands</option>
                                <option value="CRI">Costa Rica</option>
                                <option value="CIV">Cote Divoire</option>
                                <option value="HRV">Croatia (Hrvatska)</option>
                                <option value="CUB">Cuba</option>
                                <option value="CYP">Cyprus</option>
                                <option value="CZE">Czech Republic</option>
                                <option value="DNK">Denmark</option>
                                <option value="DJI">Djibouti</option>
                                <option value="DMA">Dominica</option>
                                <option value="DOM">Dominican Republic</option>
                                <option value="ECU">Ecuador</option>
                                <option value="EGY">Egypt</option>
                                <option value="SLV">El Salvador</option>
                                <option value="GNQ">Equatorial Guinea</option>
                                <option value="ERI">Eritrea</option>
                                <option value="EST">Estonia</option>
                                <option value="ETH">Ethiopia</option>
                                <option value="FLK">Falkland Islands (Malvinas)</option>
                                <option value="FRO">Faroe Islands</option>
                                <option value="FJI">Fiji</option>
                                <option value="FIN">Finland</option>
                                <option value="FRA">France</option>
                                <option value="FXX">France, Metropolitan</option>
                                <option value="GUF">French Guiana</option>
                                <option value="PYF">French Polynesia</option>
                                <option value="ATF">French Southern Territories</option>
                                <option value="GAB">Gabon</option>
                                <option value="GMB">Gambia</option>
                                <option value="GEO">Georgia</option>
                                <option value="DEU">Germany</option>
                                <option value="GHA">Ghana</option>
                                <option value="GIB">Gibraltar</option>
                                <option value="GRC">Greece</option>
                                <option value="GRL">Greenland</option>
                                <option value="GRD">Grenada</option>
                                <option value="GLP">Guadeloupe</option>
                                <option value="GUM">Guam</option>
                                <option value="GTM">Guatemala</option>
                                <option value="GIN">Guinea</option>
                                <option value="GNB">Guinea-Bissau</option>
                                <option value="GUY">Guyana</option>
                                <option value="HTI">Haiti</option>
                                <option value="HMD">Heard Island and Mcdonald Islands</option>
                                <option value="HND">Honduras</option>
                                <option value="HKG">Hong Kong</option>
                                <option value="HUN">Hungary</option>
                                <option value="ISL">Iceland</option>
                                <option value="IND">India</option>
                                <option value="IDN">Indonesia</option>
                                <option value="IRN">Iran, Islamic Republic of</option>
                                <option value="IRQ">Iraq</option>
                                <option value="IRL">Ireland</option>
                                <option value="ISR">Israel</option>
                                <option value="ITA">Italy</option>
                                <option value="JAM">Jamaica</option>
                                <option value="JPN">Japan</option>
                                <option value="JOR">Jordan</option>
                                <option value="KAZ">Kazakhstan</option>
                                <option value="KEN">Kenya</option>
                                <option value="KIR">Kiribati</option>
                                <option value="PRK">Korea, Democratic Peoples Republic of</option>
                                <option value="KOR">Korea, Republic of</option>
                                <option value="KWT">Kuwait</option>
                                <option value="KGZ">Kyrgyzstan</option>
                                <option value="LAO">Lao Peoples Democratic Republic</option>
                                <option value="LVA">Latvia</option>
                                <option value="LBN">Lebanon</option>
                                <option value="LSO">Lesotho</option>
                                <option value="LBR">Liberia</option>
                                <option value="LBY">Libyan Arab Jamahiriya</option>
                                <option value="LIE">Liechtenstein</option>
                                <option value="LTU">Lithuania</option>
                                <option value="LUX">Luxembourg</option>
                                <option value="MAC">Macao</option>
                                <option value="MKD">Macedonia</option>
                                <option value="MDG">Madagascar</option>
                                <option value="MWI">Malawi</option>
                                <option value="MYS">Malaysia</option>
                                <option value="MDV">Maldives</option>
                                <option value="MLI">Mali</option>
                                <option value="MLT">Malta</option>
                                <option value="MHL">Marshall Islands</option>
                                <option value="MTQ">Martinique</option>
                                <option value="MRT">Mauritania</option>
                                <option value="MUS">Mauritius</option>
                                <option value="MYT">Mayotte</option>
                                <option value="MEX">Mexico</option>
                                <option value="FSM">Micronesia, Federated States of</option>
                                <option value="MDA">Moldova, Republic of</option>
                                <option value="MCO">Monaco</option>
                                <option value="MNG">Mongolia</option>
                                <option value="MNE">Montenegro</option>
                                <option value="MSR">Montserrat</option>
                                <option value="MAR">Morocco</option>
                                <option value="MOZ">Mozambique</option>
                                <option value="MMR">Myanmar</option>
                                <option value="NAM">Namibia</option>
                                <option value="NRU">Nauru</option>
                                <option value="NPL">Nepal</option>
                                <option value="NLD">Netherlands</option>
                                <option value="ANT">Netherlands Antilles</option>
                                <option value="NCL">New Caledonia</option>
                                <option value="NZL">New Zealand</option>
                                <option value="NIC">Nicaragua</option>
                                <option value="NER">Niger</option>
                                <option value="NGA">Nigeria</option>
                                <option value="NIU">Niue</option>
                                <option value="NFK">Norfolk Island</option>
                                <option value="MNP">Northern Mariana Islands</option>
                                <option value="NOR">Norway</option>
                                <option value="OMN">Oman</option>
                                <option value="PAK">Pakistan</option>
                                <option value="PLW">Palau</option>
                                <option value="PSE">Palestinian Territory, Occupied</option>
                                <option value="PAN">Panama</option>
                                <option value="PNG">Papua New Guinea</option>
                                <option value="PRY">Paraguay</option>
                                <option value="PER">Peru</option>
                                <option value="PHL">Philippines</option>
                                <option value="PCN">Pitcairn</option>
                                <option value="POL">Poland</option>
                                <option value="PRT">Portugal</option>
                                <option value="PRI">Puerto Rico</option>
                                <option value="QAT">Qatar</option>
                                <option value="REU">Reunion</option>
                                <option value="ROU">Romania</option>
                                <option value="RUS">Russian Federation</option>
                                <option value="RWA">Rwanda</option>
                                <option value="SHN">Saint Helena</option>
                                <option value="KNA">Saint Kitts and Nevis</option>
                                <option value="LCA">Saint Lucia</option>
                                <option value="SPM">Saint Pierre and Miquelon</option>
                                <option value="VCT">Saint Vincent and the Grenadines</option>
                                <option value="WSM">Samoa</option>
                                <option value="SMR">San Marino</option>
                                <option value="STP">Sao Tome and Principe</option>
                                <option value="SAU">Saudi Arabia</option>
                                <option value="SEN">Senegal</option>
                                <option value="SRB">Serbia</option>
                                <option value="SCG">Serbia and Montenegro</option>
                                <option value="SYC">Seychelles</option>
                                <option value="SLE">Sierra Leone</option>
                                <option value="SGP">Singapore</option>
                                <option value="SVK">Slovakia</option>
                                <option value="SVN">Slovenia</option>
                                <option value="SLB">Solomon Islands</option>
                                <option value="SOM">Somalia</option>
                                <option value="ZAF">South Africa</option>
                                <option value="SGS">South Georgia and the South Sandwich Islands</option>
                                <option value="ESP">Spain</option>
                                <option value="LKA">Sri Lanka</option>
                                <option value="SDN">Sudan</option>
                                <option value="SUR">Suriname</option>
                                <option value="SJM">Svalbard and Jan Mayen Islands</option>
                                <option value="SWZ">Swaziland</option>
                                <option value="SWE">Sweden</option>
                                <option value="CHE">Switzerland</option>
                                <option value="SYR">Syrian Arab Republic</option>
                                <option value="TWN">Taiwan</option>
                                <option value="TJK">Tajikistan</option>
                                <option value="TZA">Tanzania, United Republic of</option>
                                <option value="THA">Thailand</option>
                                <option value="TLS">Timor-Leste</option>
                                <option value="TGO">Togo</option>
                                <option value="TKL">Tokelau</option>
                                <option value="TON">Tonga</option>
                                <option value="TTO">Trinidad and Tobago</option>
                                <option value="TUN">Tunisia</option>
                                <option value="TUR">Turkey</option>
                                <option value="TKM">Turkmenistan</option>
                                <option value="TCA">Turks and Caicos Islands</option>
                                <option value="TUV">Tuvalu</option>
                                <option value="UGA">Uganda</option>
                                <option value="UKR">Ukraine</option>
                                <option value="ARE">United Arab Emirates</option>
                                <option value="UMI">United States Minor Outlying Islands</option>
                                <option value="URY">Uruguay</option>
                                <option value="UZB">Uzbekistan</option>
                                <option value="VUT">Vanuatu</option>
                                <option value="VAT">Vatican City State (Holy See)</option>
                                <option value="VEN">Venezuela</option>
                                <option value="VNM">Viet Nam</option>
                                <option value="VGB">Virgin Islands, British</option>
                                <option value="VIR">Virgin Islands, U.S.</option>
                                <option value="WLF">Wallis and Futuna Islands</option>
                                <option value="ESH">Western Sahara</option>
                                <option value="YEM">Yemen</option>
                                <option value="YUG">Yugoslavia</option>
                                <option value="ZAR">Zaire</option>
                                <option value="ZMB">Zambia</option>
                                <option value="ZWE">Zimbabwe</option>
                            </select>
                        </div>
                        <small><img src="common/images/field_required.png" alt="Get In Touch - Required Field - 3"/> </small>
                        <span id="user-country-err" style="right: 25px;"></span>

                    </div>
                </div> -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form_info">
                    <span class="form_info_icon">
                        <i class="fa fa-phone"></i>
                    </span>
                    <input type="text" class="phone" placeholder="Phone" maxlength="40" id="user-phone" name="user-phone" onkeyup="removeErrMsg(this.name)"/>
                    <small><img src="common/images/field_required.png" alt="Get In Touch - Required Field - 4"/></small>
                    <span id="user-phone-err"></span>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form_info form_infobudget">
                    <span class="form_info_icon">
                        <i class="fa fa-dollar"></i>
                    </span>
                    <div class="country budget">
                      <select id="user-budget" name="user-budget">
                        <option value="">What is your allocated budget?</option>
                        <option value="$1000">&lt;$1000</option>
                        <option value="$1000-$5000">$1000-$5000</option>
                        <option value="$5000-$10000">$5000-$10000</option>
                        <option value="$10000 or more">&gt;$10000</option>
                      </select>
                    </div>
                  </div>
                </div>

              </div>
              <!--<div class="row">

                          </div>-->
              <div class="form_info margin_bottom">
            <span class="form_info_icon">
                <i class="fa fa-list-ul"></i>
            </span>
                <textarea name="user-req" id="user-req" placeholder="Your Requirements" onkeyup="removeErrMsg(this.name)"></textarea><!--Your Requirements -->
                <small><img src="common/images/field_required.png" alt="Get In Touch - Required Field - 4"/></small>
                <span id="user-message-err"></span>


              </div>
              <span class="required_field">*Fields are required</span>
              <a href="javascript:void(0);" class="send_your_request" data-style="slide-left" id="submitFrm" title="Send your request. We'll get back within 1 business day.">Send
                your request. We'll get back within 1 business day.</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">

      equalheight = function (container) {
          var currentTallest = 0,
              currentRowStart = 0,
              rowDivs = new Array(),
              $el,
              topPosition = 0;
          $(container).each(function () {
              $el = $(this);
              $($el).height('auto')
              topPostion = $el.position().top;

              if (currentRowStart != topPostion) {
                  for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                      rowDivs[currentDiv].height(currentTallest);
                  }
                  rowDivs.length = 0; // empty the array
                  currentRowStart = topPostion;
                  currentTallest = $el.height();
                  rowDivs.push($el);
              } else {
                  rowDivs.push($el);
                  currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
              }
              for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                  rowDivs[currentDiv].height(currentTallest);
              }
          });
      }
      $(window).load(function () {
          equalheight('.eql_height');
          equalheight('.eql_height2');
          equalheight('.eql_height3');
          equalheight('.eql_height4');
          equalheight('.eql_height5');
          equalheight('.eql_height6');
          equalheight('.eql_height7');
          equalheight('.eql_height1');

      });
      $(window).resize(function () {
          equalheight('.eql_height');
          equalheight('.eql_height2');
          equalheight('.eql_height3');
          equalheight('.eql_height4');
          equalheight('.eql_height5');
          equalheight('.eql_height6');
          equalheight('.eql_height7');
          equalheight('.eql_height1');
      });


      $(".hire_dev_sec .hire_dev_sec-right ul li").addClass("eql1_height");

      if ($(window).width() < 768) {
          $(".hire_dev_sec .hire_dev_sec-right .hire_dev_right-inner").removeClass("eql_height");
      } else {

      }


  </script>



  <%= render 'layouts/popups' %>


</section>
