<section class="index_latest_pg">


  <section class="val_index_page index_new_latest">
    <div class="banner_index">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12" style="visibility: hidden;">
            <div class="bnr-hdr">
              <h1 class=""><small>Freelance Web Developer for</small> <span>online web development and clients</span></h1>
              <p aclass="wow fadeIn   animated" adata-wow-delay=".3s" astyle="visibility: visible; animation-delay: 0.3s;">I am a software developer focused on just one thing - online software development services. <span style="font-weight:bold;"> With 13+ </span>years of experiences, I have worked with startups, software product development companies, digital agencies and enterprises to help simplify their IT outsourcing experience and reduce costs/time-to-market. </p>
              <p class="second-p"><span> Planning to outsource software development services?</span> Or would you like to hire an offshore software developer?</p>
            </div>
          </div>
        </div>
        <!--a class="btn btn-discuss-reqr" data-wow-delay=".1s" href="/contact"> Contact Me Now </a-->
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </section>

  <% if logged_in? %>


  <section class="dvl-services dvl_services_new">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="dvl-srv-hd wow fadeIn animated" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;"> services i can offer </h2>
          <p class="dvl-srv-desc wow fadeIn animated" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"> <span style="color:#ff8c00;">Truthfulness, transparency</span> and <span style="color:#ff8c00;">collaborative approach</span> is a start!
          </p></div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="dvl-src-panel-new wow fadeIn animated" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"> <a href="/application-development"> <span class="box_icon1"></span> <strong>
            <p class="box_heading"> WEB / MOBILE </p>
            <p class="box_descp"> I am happy that I am able to deliver build high quality software development services for both web &amp; mobile leveraging the best platform capabilities and offering premium user-experience. </p>
          </strong> </a> </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="dvl-src-panel-new wow fadeIn animated" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"> <a href="/application-maintenance"> <span class="box_icon2"></span> <strong>
            <p class="box_heading">Application Maintenance</p>
            <p class="box_descp"> Sustain your existing software applications &amp; reduce maintenance costs. I help you focus on your business and leave the headache of ongoing maintenance to me. </p>
          </strong> </a> </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="dvl-src-panel-new wow fadeIn animated" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"> <a href="/application-modernization"> <span class="box_icon3"></span> <strong>
            <p class="box_heading">app modernization</p>
            <p class="box_descp">Transform legacy applications to state of art technologies and modern architecture to stay relevant and deliver greatest business value</p>
          </strong> </a> </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="dvl-src-panel-new wow fadeIn animated" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"> <a href="/dedicated-development-teams"> <span class="box_icon4"></span> <strong>
            <p class="box_heading"> DEVELOPMENT TEAM </p>
            <p class="box_descp"> As an IT outsourcing developer, I can introduce reliably dedicated software development teams who have vast experience in latest web and mobile development technologies. </p>
          </strong> </a> </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="dvl-src-panel-new wow fadeIn " data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"> <a href="/co-development"> <span class="box_icon5_new"></span> <strong>
            <p class="box_heading"> CO-DEVELOPMENT </p>
            <p class="box_descp"> Build quality software &amp; accelerate time-to-market with any professional software developers who are dedicated to meet your specific requirements of the on-going development projects. </p>
          </strong> </a> </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="dvl-src-panel-new wow fadeIn " data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"> <a href="/testing-qa"> <span class="box_icon6_new"></span> <strong>
            <p class="box_heading">testing &amp; qa</p>
            <p class="box_descp">I provide hassle free and precise testing catering to diverse business requirements. I am experienced and skilled to meet your specific requirements on diverse technologies </p>
          </strong> </a> </div>
        </div>

      </div>
    </div>
  </section>


  <section class="global_industries_outer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeIn animated" style="visibility: hidden; animation-name: none;">
          <div class="development_project_innr">
            <h3> SOFTWARE DEVELOPMENT EXPERTISE </h3>
            <p> I provide software development services for various industries along with result-driven project management and seamless communication.  </p>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-2 col-sm-4 col-xs-12 text-center wow fadeIn animated" style="visibility: hidden; animation-name: none;"> <a href="/industries/healthcare">
          <div class="global_box">
            <div class="p_box">
              <p> Healthcare </p>
            </div>
            <div class="green_box"> <small class="Dservices_icon2"></small> </div>
          </div>
        </a> </div>
        <div class="col-md-2 col-sm-4 col-xs-12 text-center wow fadeIn animated" style="visibility: hidden; animation-name: none;"> <a href="/industries/retail">
          <div class="global_box">
            <div class="p_box">
              <p>Retail &amp;
                Commerce</p>
            </div>
            <div class="green_box"> <small class="Dservices_icon3"></small> </div>
          </div>
        </a> </div>

        <div class="col-md-2 col-sm-4 col-xs-12 text-center"> <a href="/industries/digital">
          <div class="global_box">
            <div class="p_box">
              <p>Digital &amp;
                Marketing
                Agencies</p>
            </div>
            <div class="green_box"> <small class="Dservices_icon5"></small> </div>
          </div>
        </a> </div>
        <div class="col-md-2 col-sm-4 col-xs-12 text-center wow fadeIn animated" style="visibility: hidden; animation-name: none;"> <a href="/industries/logistics">
          <div class="global_box margin">
            <div class="p_box">
              <p>Logistics &amp;
                Transportation</p>
            </div>
            <div class="green_box"> <small class="Dservices_icon6"></small> </div>
          </div>
        </a> </div>
        <div class="col-md-2 col-sm-4 col-xs-12 text-center wow fadeIn animated" style="visibility: hidden; animation-name: none;"> <a href="/industries/travel">
          <div class="global_box margin">
            <div class="p_box">
              <p>Travel &amp;
                Tourism</p>
            </div>
            <div class="green_box"> <small class="Dservices_icon8"></small> </div>
          </div>
        </a> </div>

        <div class="col-md-2 col-sm-4 col-xs-12 text-center"> <a href="/industries/media">
          <div class="global_box margin margin">
            <div class="p_box">
              <p>Media &amp;
                Entertainment</p>
            </div>
            <div class="green_box"> <small class="Dservices_icon12"></small> </div>
          </div>
        </a> </div>
      </div>
    </div>
  </section>
  <section class="modern_technologies">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeIn animated" style="visibility: hidden; animation-name: none;">
          <div class="inner_new">
            <h2> IT Outsourcing Services: Technologies </h2>
            <p>As a software developer, I have core knowledge of various new and established platforms and build secure, scalable and cost effective software using them. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="slider_sec_main">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 wow fadeIn animated" style="visibility: hidden; animation-name: none;">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 wow fadeIn animated" style="visibility: hidden; animation-name: none;"> <a href="javascript:void(0);" class="php_click contActive">
            <div class="tech_box ">
              <div class="img_box"><img src="common/images/php_new.png" alt="php development services" data-width="120" data-height="120"></div>
              <p>Backend</p>
            </div>
          </a> </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> <a href="javascript:void(0);" class="jawa_click contActive">
            <div class="tech_box ">
              <div class="img_box"><img src="common/images/js_new.png" alt="java script development services" data-width="120" data-height="120"></div>
              <p>Frontend</p>
            </div>
          </a> </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 wow fadeIn animated" style="visibility: hidden; animation-name: none;"> <a href="javascript:void(0);" class="mobile_click contActive">
            <div class="tech_box ">
              <div class="img_box active_click"><img src="common/images/mobile_newt.png" alt="Mobile development services" data-width="90" data-height="90"> </div>
              <p>Mobile</p>
            </div>
          </a> </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 wow fadeIn animated" style="visibility: hidden; animation-name: none;"> <a href="javascript:void(0);" class="ecommerce_click contActive">
            <div class="tech_box ">
              <div class="img_box"><img src="common/images/eco_cms.png" alt="Cms development services" data-width="120" data-height="120"></div>
              <p>Ecommerce &amp; CMS</p>
            </div>
          </a> </div>

          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 wow fadeIn animated" style="visibility: hidden; animation-name: none;"> <a href="javascript:void(0);" class="others_click contActive">
            <div class="tech_box ">
              <div class="img_box"><img src="common/images/others_new.png" alt="software development Company" data-width="120" data-height="120"></div>
              <p>Others</p>
            </div>
          </a> </div>
        </div>
      </div>
      <div class="slider_sec">

        <div class="inner_sec mobile_click_cont">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p> Hire me on hourly or full time (dedicated monthly)
                  basis for native and cross platform apps (iOS, Android, Xamarin & React Native). </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row wow fadeIn animated">
              <div class="col-md-12">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <div class="technology_slider owl-carousel owl-theme col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="item"><a href="/skills/swift"><img src="common/images/swift.png" alt="SWift development services"></a>
                      <p class="icon_title">Swift </p>
                    </div>
                    <div class="item"><a href="/skills/android"><img src="common/images/android.png" alt="Android Application development services"></a>
                      <p class="icon_title">Android </p>
                    </div>
                    <div class="item"><a href="/skills/ios"><img src="common/images/hire-ios-developers.png" alt="Ios Application development services"></a>
                      <p class="icon_title">IOS </p>
                    </div>
                    <div class="item"><a href="javascript:;"><img src="common/images/ionic.png" alt="Ionic Application development services"></a>
                      <p class="icon_title">Ionic </p>
                    </div>
                    <div class="item"><a href="/skills/reactnative"><img src="common/images/react.png" alt="react js development services"></a>
                      <p class="icon_title"> React Native </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="inner_sec php_click_cont">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p> Choose agile development methodologies for PHP & Ruby frameworks: Laravel, Symfony, CodeIgniter, RoR. </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="technology_slider owl-carousel owl-theme col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                  <div class="item"><a href="/skills/codeigniter"><img src="common/images/codeignitor.png" alt="software development services"></a>
                    <p class="icon_title"> Codeigniter </p>
                  </div>
                  <div class="item"><a href="/skills/laravel"><img src="common/images/laravel.png" alt="software development services"></a>
                    <p class="icon_title"> Laravel </p>
                  </div>
                  <div class="item"><a href="/skills/symfony"><img src="common/images/symfony.png" alt="software development services"></a>
                    <p class="icon_title"> Symfony </p>
                  </div>
                  <div class="item"><a href="/skills/ror"><img src="common/images/ror.png" alt="top RoR outsourcing company  "></a>
                    <p class="icon_title"> RoR </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/API-new.png" alt="best API development company "></a>
                    <p class="icon_title"> APi </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/softwere-developers.png" alt="top it outsourcing company  "></a>
                    <p class="icon_title"> Software </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/web-developers.png" alt="it outsourcing company "></a>
                    <p class="icon_title"> Web </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inner_sec ecommerce_click_cont">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>Dedicated development for Drupal, Sitecore, Sitefinity, Umbraco, WordPress, Magento, OpenCart, Prestashop, WooCommerce, & Shopify. </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="technology_slider owl-carousel owl-theme col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="item"><a href="javascript:;"><img src="common/images/e-commerce.png" alt="top it outsourcing company  "></a>
                    <p class="icon_title"> ECommerce </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/magento.png" alt="top it outsourcing company  "></a>
                    <p class="icon_title"> Magento </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/opencart.png" alt="top it outsourcing company  "></a>
                    <p class="icon_title"> OpenCart </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/wordpress.png" alt="top software development companies"></a>
                    <p class="icon_title"> WordPress </p>
                  </div>

                  <div class="item"><a href="javascript:;"><img src="common/images/shpify.png" alt="top it outsourcing company"></a>
                    <p class="icon_title"> Shopify </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/woo.png" alt="top it outsourcing company  "></a>
                    <p class="icon_title"> WooCommerce </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/CMS.png" alt="top it outsourcing company  "></a>
                    <p class="icon_title"> CMS </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/drupal.png" alt="top software development companies"></a>
                    <p class="icon_title"> Drupal </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/kentico.png" alt="top software development companies"></a>
                    <p class="icon_title"> Kentico </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/sitecore.png" alt="top software development companies"></a>
                    <p class="icon_title"> Sitecore </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/sitefinity.png" alt="top software development companies"></a>
                    <p class="icon_title"> Sitefinity </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/umbraco.png" alt="top software development companies"></a>
                    <p class="icon_title"> Umbraco </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/prestashop.png" alt="top it outsourcing company"></a>
                    <p class="icon_title"> Prestashop </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inner_sec jawa_click_cont">
          <div class="container">
            <div class="row">
              <div class="col-md-12 wow fadeIn animated">
                <p> Embrace future with the power of emerging JavaScript technologies like AngularJS,
                  Node.js, Vue.js, MEAN Stack, Meteor & ReactJS. </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="technology_slider owl-carousel owl-theme col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="item"><a href="/skills/angularjs"><img src="common/images/angular.png" alt="it outsourcing company "></a>
                    <p class="icon_title"> Angular </p>
                  </div>
                  <div class="item"><a href="/skills/nodejs"><img src="common/images/js.png" alt="it outsourcing company "></a>
                    <p class="icon_title"> Node </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/mean-stack.png" alt="it outsourcing company "> </a>
                    <p class="icon_title"> MEAN Stack </p>
                  </div>
                  <div class="item"><a href="javascript:;"><img src="common/images/meteor.png" alt="it outsourcing company "></a>
                    <p class="icon_title"> Meteor </p>
                  </div>
                  <div class="item"><a href="/skills/reactjs"><img src="common/images/react.png" alt="it outsourcing company "></a>
                    <p class="icon_title"> React </p>
                  </div>
                  <div class="item"><a href="/skills/vuejs"><img src="common/images/vue.png" alt="it outsourcing company "></a>
                    <p class="icon_title"> Vue </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inner_sec others_click_cont">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p> Providing developers for C/C++, Hadoop, HTML5, Java, Python <br>
                </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="technology_slider owl-carousel owl-theme col-lg-12 col-md-12 col-sm-12 col-xs-12">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </section>
  <section class="testimonial-client ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="client-hd wow fadeIn animated" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">See why our clients love to work with me</h4>
        </div>
      </div>
      <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
          <!-- /Slide1 -->
          <div class="item  active">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="clint-img"> <img src="common/images/about_icon1.png" alt="user" data-width="0" data-height="0"> </div>
                <div class="client-text">
                  <p class="client_speak">This is the strong development partner that we were looking so far. He served the job excellently and knows very well how to build amazing apps within time. He knows how to maintain good relations via effective communication. His quick response to each query is highly appreciable. The final app delivered to us is of high-quality and developed strictly for our project's requirements. We are thankful for developing such an app and would be glad to work with him again. </p>
                  <div class="test-dp"><img src="common/images/rg-logo.png" alt="Testimonials" title="Testimonials" data-width="80" data-height="80"></div>
                  <p class="client_name">- Joshua Shields <br><small style="font-size:12px; color:#000;">Executive Director and Founding Partner Risklogic</small> </p>

                  <span>user</span> </div>
                <div class="view-testimonial"> <p>&nbsp;</p> </div>
              </div>
            </div>
          </div>
          <!-- /Slide1 -->
          <div class="item">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="clint-img"> <img src="common/images/about_icon1.png" alt="user" data-width="0" data-height="0"> </div>
                <div class="client-text">
                  <p class="client_speak">A great problem solver. He has a great culture. We worked as a team, not as a client and developers. He stays connected and reports on a regular basis. In the end all culminated in an awesome product.</p>
                  <div class="test-dp"><img src="common/images/cmp-logo.png" alt="Testimonials" title="Testimonials" data-width="0" data-height="0"></div>
                  <p class="client_name">- Benoît D'heygere <br><small style="font-size:12px; color:#000;">Founder at Refuge</small> </p>

                  <span>user</span> </div>
                <div class="view-testimonial"> <a href="testimonials">VIEW All TESTIMONIALS</a> </div>
              </div>
            </div>
          </div>
          <!-- /Slide1 -->
          <div class="item">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="clint-img"> <img src="common/images/about_icon1.png" alt="user" data-width="0" data-height="0"> </div>
                <div class="client-text">
                  <p class="client_speak">He is a remarkable software outsourcing developer with highly skilled developer. He has provided me expected outcomes for every project he undertook. I highly recommend him to others when they seek for a seasoned software development company. </p>
                  <div class="test-dp"><img src="common/images/candor-logo.png" alt="Testimonials" title="Testimonials" data-width="0" data-height="0"></div>
                  <p class="client_name">- Antonio Santos  <br><small style="font-size:12px; color:#000;">Head of Web Technolgy at Candor Renting SA </small> </p>

                  <span>user</span> </div>
                <div class="view-testimonial"> <a href="testimonials">VIEW All TESTIMONIALS</a> </div>
              </div>
            </div>
          </div>

        </div>
        <nav class="carosel-btn">
          <ul class="control-box">
            <li> <a data-slide="prev" href="#myCarousel" class=""><i class="fa fa-angle-left" aria-hidden="true"></i> </a> </li>
            <li> <a data-slide="next" href="#myCarousel" class=""><i class="fa fa-angle-right" aria-hidden="true"></i> </a> </li>
          </ul>
        </nav>
        <!-- /.control-box -->
      </div>
      <!-- /#myCarousel -->
    </div>
  </section>
  <section class="index_latest_pg">

    <footer class="footeFormr">
      <div class="container">
        <div class="footerInner">
          <h2>Get in touch</h2>
          <h5> Request a free consultation and get a no obligation quote for your project within 8 hours </h5>
          <div class="footerFormBody" style="display: none;">
            <form name="contact-frm" id="contact-frm" action="sendmail1.php" class="form-outer" method="post" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="input-group"> <span class="input-group-addon"> </span>
                    <input type="text" class="form-control" placeholder="Your Name *" name="user-name" id="user-name" dval="0">
                    <span id="user-name-err1" class="err"></span> </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="input-group"> <span class="input-group-addon"> </span>
                    <input type="text" class="form-control" placeholder="Email ID *" name="user-email" id="user-email" dval="1">
                    <span id="user-email-err" class="err"></span> </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="input-group"> <span class="input-group-addon"> </span>
                    <input type="text" class="form-control" placeholder="Phone" name="user-phone" id="user-phone" dval="2">
                    <span id="user-phone-err" class="err"></span> </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="input-group budujt" style="width:100%;"> <span class="input-group-addon"> </span>
                    <select class="citySelectze form-control " style="width:100%;" name="user-budget">
                      <option>What is your alloted budget?</option>
                      <option value="$5000 or less"> &lt;$5000 </option>
                      <option value="$5000-$10000">$5000-$10000</option>
                      <option value="$10000-$25000">$10000-$25000</option>
                      <option value="$25000-$50000">$25000-$50000</option>
                      <option value="$50000 or more">&gt;$50000 </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 ">
                  <div class="input-group"> <span class="input-group-addon" style="vertical-align:top;"> </span>
                    <textarea type="text" rows="3" class=" textarea_requirment form-control" placeholder="Your Requirements" name="user-req" id="user-req" dval="3"></textarea>
                    <span id="user-message-err" class="err"></span> </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                  <div class="drop_box_container">
                    <div id="uploadcontact">
                      <!--<a href="#">Browse</a> <a href="#">Link </a> <a href="#">DropBox</a>-->
                      <div id="dropcontact">
                        <!--                            <input type="file" name="hireupl" id="hirefile-3" style="width:30%">-->
                        <input type="file" name="upl" id="file-3" class="inputfile inputfile-3">
                        <p><a onclick="Javascript:void(0);">Browse</a> <a onclick="showShareURL();"> URL</a> <a class="dropfile" style="border-right:0px; border: 1px dashed #b1b1b1;padding: 4px 12px; height: 30px;cursor: default;background: #f5f5f5;white-space: nowrap; margin-left:10px;"> Drop Files Here </a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="uplfilelist">
                      <ul></ul>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 col-xs-12">
                    <div class="input-field" id="share_url" style="display:none;">
                      <div class="input-group"> <span class="input-group-addon"> </span>
                        <input type="text" class="form-control" placeholder="Share Url" name="customUrllink" id="user-url" dval="4">
                      </div>
                      <span id="hire-user-email-err" class="err"></span>
                    </div>
                  </div>
                </div>




                <div class="btn_main">

                </div>
              </div>

              <input type="hidden" name="frmOrderFileUploadedfilename" id="frmOrderFileUploadedfilename" value="">
              <input type="hidden" name="_frmOrder" value="frmOrder">
              <input type="hidden" name="type" value="contact-frm ">
              <input type="hidden" name="frmqueryString" id="frmqueryString" value="&amp;PageName=&amp;xForwordFor=&amp;deviceID=computer">
            </form>
          </div>
          <div class="clear"></div>
          <div class="row">
            <div class="col-lg1-12 col-md-12 col-sm-12 col-xs-12">
              <div class="ft_button"><a href="/contact" id="submitFrma">  SEND REQUEST</a></div>
            </div>
          </div>
        </div>

      </div>


    </footer>

    <script>
        function showShareURL() {
            $("#share_url").show();
            $("#label_share_url").hide();
        }
    </script>
    <style>


      .err {
        color: red;
        position: absolute;
        right: 30px;
        top: 31px;
        width: 400px;
        text-align: right;
      }

      .uplfilelist li {
        margin-top: 10px;
      }

      #hiredropcontact span {
        padding: 16px 12px;
      }
      .hiredev .dropfile {
        border: 1px solid hsl(0, 0%, 24%) !important;
        display: inline-block !important;
        text-decoration: none !important;
      }
      .hiredev .dropcontact {
        padding: 0px !important;
        border: none !important;
      }

      .uplfilelist { float: left;    width:465px; margin:10px 0px 0px 18px;}
      .uplfilelist ul {margin: 0 !important; float: left;width: 100% !important; text-align: left !important;list-style: outside none none; max-height: 80px; overflow-y: auto;background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;}
      .uplfilelist ul li{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important; margin: 0;padding: 0 !important;}
      .uplfilelist ul li p{ display: inline;
        font-size: 15px;
        line-height: 38px;
        margin: 0;
        padding-left: 9px;
        position: relative;
        top: -9px;}
      .uplfilelist ul li i{ font-size: 15px;}

      #dropcontact{position:relative;}
      #dropcontact > input[type="file"]{ display: block !important;   width: 118px;
        opacity: 0;
        height: 72px;
        position: absolute;
        top: 0;
        left: 0;}

      #share_url {
        width: 56%;
        margin-left: 15px;
        margin-top: 12px !important;
        line-height: 30px;
      }

      #uploadcontact {
        border: 2px solid #a9a9a9;
      }




      @media screen and (max-width:767px){

        #share_url {
          width: 90%;
          margin-left: 15px;
          margin-top: 12px !important;
          line-height: 30px;
        }


      }



    </style>  </section>
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="float: right;">
          <ul class="social_sec" style="top: 0; padding-top: 0; ">
            <li> <a href="https://twitter.com/WebMobile" title="Twitter" target="_blank"> <i class="fa fa-twitter-square"></i> </a> </li>
            <li> <a href="https://www.facebook.com/WebMobile" title="Facebook" target="_blank"> <i class="fa fa-facebook-square"></i> </a> </li>
            <li> <a href="https://plus.google.com/103716832322080901612/posts" title="Google +" target="_blank"> <i class="fa fa-google-plus-square"></i> </a> </li>
            <li> <a href="https://www.linkedin.com/company/webmobile" title="Linkedin" target="_blank"> <i class="fa fa-linkedin-square"></i> </a> </li>
            <li> <a href="https://www.youtube.com/webmobile/" title="youtube" target="_blank"> <i class="fa fa-youtube-square" aria-hidden="true"></i>
            </a> </li>
            <li> <a href="https://www.instagram.com/webmobile/" title="instagram" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i>

            </a> </li>

          </ul>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
<% else %>
  <style>body{overflow: hidden;}</style>
<% end %>
