<section class="iso_pgN QAServices_page qaservice_new ">
  <div class="tec_banner_sec tec_banner_secNew">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="bnr-hdr">
            <h1 class="" style="font-family:BebasNeueBold;"> software TESTING AND QA
              <small> Services for Clients</small>
            </h1>
            <p class="wow fadeIn animated" data-wow-delay=".3s"> I offer a wide range of independent software
              testing and QA services that adhere to the highest levels of security and industry standards.
            </p>
          </div>
          <div class="hirenow_button wow fadeInDown animated" data-wow-delay=".3s">
            <a href="/contact" title="Contact ME Now" class="ladda-button" data-style="slide-left"> CONTACT ME NOW </a>
          </div>
        </div>
      </div>
    </div>
    <!--   <div class="img_icon"> <img src="common/images/php_icon.png" alt="php ios developers" title="Dedicated php-developers" /> </div> -->
  </div>
  <section class="body_container" role="main">
    <section class="manufact-whychoose">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="manufact-heading">
              <h3>application testing Expertise</h3>
              <p> I specialize in a complete range of industry verticals catering to all kinds of start-ups and small
                businesses. <span class="border-small"></span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-121 col-sm-12 col-xs-12">
            <div class="whychoose-outer">
              <div class="whychoose-inner">
                <div class="choose-topic wow bounceInRight">
                  <div class="topic-icon-main"><span class="account-manager topic-icon"></span></div>
                  <div class="topic-description">
                    <h3> FUNCTIONAL TESTING </h3>
                    <p> In functional testing I check the overall
                      features of the app and tally with the
                      shared requirements. </p>
                    <div class="divider"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic2 wow bounceInLeft">
                  <div class="topic-icon-main"><span class="team-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3>PERFORMANCE TESTING</h3>
                    <p> This testing is performed to determine
                      how an app works in terms of
                      responsiveness & stability.</p>
                    <div class="divider_right"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic3 wow bounceInRight">
                  <div class="topic-icon-main"><span class="pricematch-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3> SECURITY TESTING </h3>
                    <p> I confirm that your app
                      does not face any security concerns like
                      data loss, malware etc.</p>
                    <div class="divider"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic4 wow bounceInLeft">
                  <div class="topic-icon-main"><span class="services-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3> USABILITY TESTING </h3>
                    <p> I check your software from a
                      user perspective and improve it from
                      UI & UX perspective. </p>
                    <div class="divider_right"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic5 wow bounceInRight">
                  <div class="topic-icon-main"><span class="tools-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3> COMPATIBILITY TESTING </h3>
                    <p> To make sure if your software will run
                      seamlessly on different platforms
                      I do compatibility testing. </p>
                    <div class="divider"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic6 wow bounceInLeft">
                  <div class="topic-icon-main"><span class="ftr-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3> LOCALIZATION TESTING </h3>
                    <p> This testing is for checking the localized
                      version of a product for that particular
                      culture or local settings. </p>
                    <div class="divider_right"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="consultationBtn"><a href="/contact">Contact me now</a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="client-focusM qa_service_outer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="ourecommerce_innr text-center">
              <h3> MANAGED TESTING </h3>
              <p> I offer a fully customized managed application testing service where we take the responsibility of
                applications or systems testing at an enterprise or program level. </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="ourecommerce_innr focusBox-list">
              <div class="box box1">
                <div class="box-inner"><a href="javascript:void(0)">
                  <small></small>
                  <span>IDENTIFICATION</span> </a></div>
                <div class="hover_content">
                  <h3><span class="iconH"></span> IDENTIFICATION</h3>
                  <ul>
                    <li> Business goals</li>
                    <li> IT goals</li>
                    <li> Current issues</li>
                    <li> Scope identification</li>
                    <li>Readiness scan</li>
                    <li> Steering committee</li>
                  </ul>
                </div>
              </div>
              <div class="box box2">
                <div class="box-inner"><a href="javascript:void(0)">
                  <small></small>
                  <span> PREPARATION </span> </a></div>
                <div class="hover_content">
                  <h3 class="colour"><span class="iconH"></span> PREPARATION </h3>
                  <ul>
                    <li> Responsibilities definition</li>
                    <li> KPIs and SLAs</li>
                    <li> Test processes</li>
                    <li> Test environments</li>
                    <li>Testware selection</li>
                    <li>Transition planning</li>
                  </ul>
                </div>
              </div>
              <div class="box box3">
                <div class="box-inner"><a href="javascript:void(0)">
                  <small></small>
                  <span>TRANSITION</span> </a></div>
                <div class="hover_content">
                  <h3><span class="iconH"></span> TRANSITION </h3>
                  <ul>
                    <li>Core team setup</li>
                    <li>Knowledge transfer</li>
                    <li>Test environment & test tools setup</li>
                    <li>Test cases development</li>
                    <li>Test planning</li>
                  </ul>
                </div>
              </div>
              <div class="box box4">
                <div class="box-inner"><a href="javascript:void(0)">
                  <small></small>
                  <span>OPERATION</span> </a></div>
                <div class="hover_content">
                  <h3 class="colour"><span class="iconH"></span> OPERATION </h3>
                  <ul>
                    <li>Test execution</li>
                    <li>KPI management</li>
                    <li>Performance optimization</li>
                    <li>Test data and results analysis</li>
                    <li>Defects management</li>
                    <!-- <li>Defects management</li>
                    <li>Demand management</li>
                    <li>Requirements Lifecycle Management</li>-->

                  </ul>
                </div>
              </div>
              <div class="box box5">
                <div class="box-inner"><a href="javascript:void(0)">
                  <small></small>
                  <span> Exit </span> </a></div>
                <div class="hover_content">
                  <h3><span class="iconH"></span> <br>
                    Exit </h3>
                  <ul>
                    <li> Exit planning</li>
                    <li> Knowledge transfer</li>
                    <li> Artefacts transfer</li>
                    <li>Team exit</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <%= render 'layouts/footer_former' %>
  </section>
</section>