<% provide(:title, "Home") %>
<div class="well">
  <h2 class="text-center">Twilio simple messaging app(almost implemented)</h2>
  <p><br></p>
  <ul class="list-group" style="list-style: decimal;">
    <li class="list-group-item">
      <a target="_blank" href="http://www.youtube.com/embed/ueyJT43UnK4">
        <strong class="text-danger" style="color: red; font-size: 15pt;">1. How does it work (Sending message in this App after signup)</strong>
        <br><br>
        <img class="img-rounded" width="100%" style="max-width: 600px;" src="/images/how-to-use-app.png" />
      </a>
    </li>
    <li class="list-group-item"><a target="_blank" href="https://www.screencast.com/t/mgab8CTX">
      <strong class="text-danger" style="color: red; font-size: 15pt;">
        2. How does it work (Setting up Webhook in order to capture incoming
        messages)
      </strong>
    </a></li>
  </ul>
  <% if !logged_in2? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-md btn-primary" %>
  <% end %>
</div>
