<p>
  Hi <%=params[:name] %>, Welcome to WebMobileDev.

</p>
<p>
  Thanks for your contacting to me. (This is an automatic response email.)<br>
  I have just received your contact email.
</p>

<p>
  After checking, let me know you very soon.
</p>

<p>
  Best Regards,<br>
  Web Mobile Dev
</p>
