.wrapper {
	margin: 0 auto;
	max-width: 900px;
}

body {
	font-size: 13px;
	line-height: 16px;
	font-family:Arial, Helvetica, sans-serif;
	color: #000000;
}

h1 {
	font-size: 20px;
	line-height: 21px;
	color: #444444;
	font-family: Arial;
	font-weight: 700;
	text-transform: capitalize;
}

h2 {
	font-size: 19px;
	line-height: 20px;
	color: #20394c;
	font-weight: 700;
	margin-bottom: 32px;
	text-transform: capitalize;
}

h3 {
	font-size: 15px;
	line-height: 16px;
	font-weight: 700;
	text-transform: capitalize;
	margin: 19px 0 18px;
}

h4 {
	font-size: 13px;
	line-height: 14px;
	font-weight: 700;
	text-transform: capitalize;
}

a:hover {
	color: #3366cc;
}

a, a:visited {
	text-decoration: underline;
	color: #4f83c5;
}

p {
	margin-bottom: 13px;
}

ol, ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

strong {
	font-weight: 700;
}

/*---------- Header -- -------*/
.header-container {
	float: left;
	width: 100%;
	padding: 25px 0 11px 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 57%, #ebf6fa 100%, #ebf6fa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffffff), color-stop(100%,#ebf6fa), color-stop(100%,#ebf6fa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 57%,#ebf6fa 100%,#ebf6fa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 57%,#ebf6fa 100%,#ebf6fa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 57%,#ebf6fa 100%,#ebf6fa 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 57%,#ebf6fa 100%,#ebf6fa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebf6fa',GradientType=0 ); /* IE6-9 */
}
.logo {
	float: left;
	width: 100%;
	text-align: center;
}
/*---------- Content -- -------*/
.content-container {
	float: left;
	width: 100%;
}
.menu-area {
	width: 100%;
	float: left;
	background: #000000;
	border-bottom: 1px solid #ffffff;
}

.main-menu {
	width: 100%;
	float: left;
}
.main-menu ul {
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
}
.main-menu ul li {
	width: auto;
	float: left;
	position: relative;
}
.main-menu ul li a {
	color: #ffffff;
	float: left;
	position: relative;
	padding: 10px 0 10px 28px;
	text-decoration: none;
}
.main-menu ul li:first-child a {
	padding-left: 0;
}
.main-menu ul li:first-child a:before {
	display: none;
}

.main-menu ul li li a:before {
	display: none;
}


.main-menu ul li a:before {
	position: absolute;
	content: "+";
	width: 8px;
	height: 15px;
	left: 10px;
}
.main-menu ul ul {
	position: absolute;
	display: none;
	top: 36px;
	left: 0;
	min-width: 200px;
	margin: 0px 2px 2px 0px;
	z-index: 999;
	background: #000;
	border-top: 1px solid #ffffff;
}
.main-menu ul li:hover ul {
	display: block;
}
.main-menu ul ul li {
	width: 100%;
	margin: 0;
	float: left;
	border-top: 1px dotted #ffffff;
	padding: 10px 20px;
}
.main-menu ul ul li:first-child {
	border-top: 0;
}
.main-menu ul ul li a {
	padding: 0;
}

.main-menu ul li a:hover {
	color: yellow;
}
.menu-title {
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	margin: 11px 0 11px 30px;
}

.mean-container .mean-nav {
	margin-top: 0;
}

.content-area {
	float: left;
	width: 100%;
	padding-top: 47px;
	position: relative;
	background: rgb(47,98,125);
	background: -moz-linear-gradient(top, rgb(47,98,125) 0px, rgb(213,224,230) 60px, rgb(234,240,243) 90px, rgb(255,255,255) 120px);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(47,98,125)), color-stop(60px, rgb(213,224,230)), color-stop(90px, rgb(234,240,243)), color-stop(120px, rgb(255,255,255)));
	background: -webkit-linear-gradient(top, rgb(47,98,125) 0px, rgb(213,224,230) 60px, rgb(234,240,243) 90px, rgb(255,255,255) 120px);
	background: -o-linear-gradient(top, rgb(47,98,125) 0px, rgb(213,224,230) 60px, rgb(234,240,243) 90px, rgb(255,255,255) 120px);
	background: -ms-linear-gradient(top, rgb(47,98,125) 0px, rgb(213,224,230) 60px, rgb(234,240,243) 90px, rgb(255,255,255) 120px);
	background: linear-gradient(to bottom, rgb(47,98,125) 0px, rgb(213,224,230) 60px, rgb(234,240,243) 90px, rgb(255,255,255) 120px);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f627d', endColorstr='#ffffff', GradientType=0 );
/* 
	background: -moz-linear-gradient(top, rgb(47,98,125) 0%, rgb(213,224,230) 5%, rgb(234,240,243) 8%, rgb(255,255,255) 11%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(47,98,125)), color-stop(5%, rgb(213,224,230)), color-stop(8%, rgb(234,240,243)), color-stop(11%, rgb(255,255,255)));
	background: -webkit-linear-gradient(top, rgb(47,98,125) 0%, rgb(213,224,230) 5%, rgb(234,240,243) 8%, rgb(255,255,255) 11%);
	background: -o-linear-gradient(top, rgb(47,98,125) 0%, rgb(213,224,230) 5%, rgb(234,240,243) 8%, rgb(255,255,255) 11%);
	background: -ms-linear-gradient(top, rgb(47,98,125) 0%, rgb(213,224,230) 5%, rgb(234,240,243) 8%, rgb(255,255,255) 11%);
	background: linear-gradient(to bottom, rgb(47,98,125) 0%, rgb(213,224,230) 5%, rgb(234,240,243) 8%, rgb(255,255,255) 11%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f627d', endColorstr='#ffffff', GradientType=0 );

*/

}

/*---------- Sidebar -- -------*/

.sidebar {
	float: left;
	width: 26.11%;
	padding-top: 28px;
}

.sidebar ul {
	float: left;
	width: 100%;
}

.sidebar ul li {
	float: left;
	width: 100%;
}

.side-block {
	float: left;
	width: 100%;
	margin-bottom: 23px;
}

.side-block h2 {
	float: left;
	width: 100%;
}

.side-block ul {
	float: left;
	width: 100%;
}

.side-block ul li {
	float: left;
	width: 100%;
	margin-bottom: 4px;
}

.side-block ul li a:before {
	content: '+';
	width: 8px;
	height: 9px;
	padding: 0 10px;
	font-weight: 400;
}

.side-block ul li a {
	text-transform: capitalize;
	text-decoration: none;
	color: #000000;
	font-weight: 700;
}

.side-block ul li a:hover {
	color: #3366cc;
}

/*---------- Offcanvas Sidebar ---------*/

.close-btn {
	display: none;
	width: 27.3px;
	height: 29.25px;
	padding: 0;
	border: 0;
	outline: none;
	background: url("../images/close-btn.svg") left center / 100% 100% no-repeat #ffffff;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-svg .nav-btn {
	background-image: url("../images//nav-icon.png");
}

.no-svg .close-btn {
	background-image: url("../images/close-btn.png");
}

.close-btn:focus, .close-btn:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
}

.nav-btn {
	display: none;
	width: 	85%;
	height: 29.25px;
	padding: 10px 30px;
	margin: 0 14px;
	border: 0;
	outline: none;
	background: url("../images/nav-icon.svg") left 7px no-repeat;
	white-space: nowrap;	
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a.nav-btn {
	color: #2f627d;
	font-weight: bold;
	text-decoration: none;
}	

a.nav-btn:hover {
	opacity: 0.7;
}

.no-svg .nav-btn {
	background-image: url("../images/nav-icon.png");
}

.nav-btn:hover, .nav-btn:focus {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.content-area .wrapper {
	position: relative;
	width: 100%;  
}

.sidebar .close-btn {
	display: none;
}


/*---------- Content Right -- -------*/

.content-right {
	float: left;
	width: 73.89%;
	background: #ffffff;
	padding: 5px;
}

.content-right a:hover {
	color: #3366cc;
}

.content-right h2 {
	float: left;
	width: 100%;
	text-align: center;
	margin: 15px 0;
}

.black-block {
	float: left;
	width: 100%;
	background: #000000;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	margin-bottom: 16px;	
}

.black-block strong {
	font-size: 12px;
}

.cal-block {
	float: left;
	width: 100%;
	padding: 0 0 70px 0;
}

.cal-content {
	float: left;
	width: 100%;
	padding-left: 4px;
}

.cal-box {
	float: left;
	width: 100%;
	padding: 6px 38px 0 0;
}

.rw-box {
	float: left;
	width: 100%;
	margin: 4px 0;
}

.rw-box .left-cell {
	float: left;
	width: 68.70%;
}

.rw-box .right-cell {
	float: right;
}

.sel-right-space {
	margin-right: 19px;
}

.center-position {
	text-align: center;
}

.img-block {
	float: right;
	width: 49.31%;
	padding: 40px 0 0 0px;
}

.disc-list {
	list-style-type: disc;
	padding: 0 4px 0px 40px;
}

.compare-content {
	float: left;
	width: 92.52%;
	padding: 30px 44px 32px;
	background-color: #E3F6FF;
	border: 3px dashed #3366CC;
	position: relative;
	margin-bottom: 15px;
	
	   -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	        border-radius: 15px;
}

.compare-content span {
	float: left;
	width: auto;
}

.compare-content span:before {
	content: url("../images/lightbulb.gif");
	width: 20px;
	height: 35px;
	position: absolute;
	left: 3%;
	top: 25%;
}

.compare-content .bulb:before {
	content: url("../images/lightbulb.gif");
	width: 20px;
	height: 35px;
	position: absolute;
	margin-left: 5px;
	top: 25%;
}

.compare-content span a {
	color: #459ed3;
}

.no-bottom-space {
	margin-bottom: 0;
}


/*---------- Footer -- -------*/
.footer-container {
	float: left;
	width: 100%;
	background: #20394c;
	min-height: 88px;	
}
.copyright {
	float: left;
	width: 100%;
	color: #ffffff;
	font-size: 11px;
	margin: 11px 0 4px;
}

/*--- Number styling ---*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

span.inline_radio > label {
      display: inline;
}
select[name="param[start_month]"] {
      margin-bottom: 0;
	  float: left;
}

