<section class="laravel_pgN iso_pgN laravel_new">
  <div class="tec_banner_sec tec_banner_secNew">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <h1 class="wow fadeIn animated" data-wow-delay=".2s"> <span class="whitecolor">Using</span> Laravel <span class="development wow fadeIn animated" data-wow-delay=".3s"> <span class="develop_before"></span> Web/Mobile Developer <span class="develop_after"></span> </span> </h1>
          <p class="tec_des wow fadeIn animated" data-wow-delay=".3s">  Building simple as well as complex enterprise grade Laravel applications for all business types. With dedicated Laravel developers, we deliver high quality and secure web apps at the most competitive rates.  </p>
          <ul class="wow fadeIn animated" data-wow-delay=".6s">
            <li class="ios_icon1">100% Money Back Guarantee</li>
            <li class="ios_icon2">On Time Delivery</li>
            <li class="ios_icon3">Non-Disclosure Agreement</li>
            <li class="ios_icon4">Better ROI</li>
          </ul>
          <div class="hirenow_button wow fadeInDown animated" data-wow-delay=".3s"> <a href="/contact" title=" contact me Now" class="ladda-button" data-style="slide-left"> CONTACT ME NOW </a> </div>
        </div>
      </div>
    </div>
    <div class="img_icon"> <img src="common/images/laravel_icon.png" alt="Dedicated ios developers" title="Dedicated ios-developers" /> </div>
  </div>
  <section class="body_container" role="main">
    <section class="lravel_outer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="ourecommerce_innr">
              <h3> My Full-Stack Laravel Web Development Services </h3>
              <p> My offshore Full-Stack Laravel programmers perfectly know how to get full advantage of such a framework and develop unique applications that please your customers.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon1"></small>
              <p> Laravel eCommerce Development </p>
              <span> When it comes to ecommerce development solutions, my Laravel  developers provide excellent services to clients across the globe.
 </span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon2"></small>
              <p> Custom Laravel Solutions
              </p>
              <span> Businesses with unique web development requirements are satisfactorily fulfilled by my Laravel application developers.
</span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon3"></small>
              <p> Laravel Template Development
              </p>
              <span> I am here  to help you with template development business needs that my offshore full-stack Laravel developers are adept at building.
 </span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon4"></small>
              <p> Testing and Maintenance services </p>
              <span> Over the last years, my Laravel maintenance team has gained immense amount experience in maintaining the Laravel software applications.
 </span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon5"></small>
              <p> Migration and Upgradation Services
              </p>
              <span>  If you’re in need of an in-house Laravel deployment, installation, customization or migration, my dedicated Laravel experts can help.
</span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon6"></small>
              <p> Laravel Application Development Services
              </p>
              <span> Hire Laravel developers who can build online portals & adept at custom product development for small to large businesses.
</span> </div>
          </div>
        </div>
        <div class="row headline">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeIn animated animated" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="request_MorInfo"> <a href="/contact"> contact ME today </a> </div>
          </div>
        </div>
      </div>
    </section>
    <section class="manufact-whychoose">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="manufact-heading">
              <h3> My Laravel Development Expertise </h3>
              <p> When you hire Laravel app developers, you get a team who are specialized in a wide array of industry verticals catering to all kinds of startups and small businesses.
                <span class="border-small"></span> </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-121 col-sm-12 col-xs-12">
            <div class="whychoose-outer">
              <div class="whychoose-inner">
                <div class="choose-topic wow bounceInRight">
                  <div class="topic-icon-main"> <span class="account-manager topic-icon"></span> </div>
                  <div class="topic-description">
                    <h3>Healthcare</h3>
                    <p>My  dedicated Laravel developers provide customized, end-to-end, Healthcare solution.
                    </p>
                    <div class="divider"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic2 wow bounceInLeft">
                  <div class="topic-icon-main"> <span class="team-icon topic-icon"></span> </div>
                  <div class="topic-description">
                    <h3>Hospitality</h3>
                    <p>My  offshore Laravel programmers build hospitality apps to create a retaining customer base.
                    </p>
                    <div class="divider_right"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic3 wow bounceInRight">
                  <div class="topic-icon-main"> <span class="pricematch-icon topic-icon"></span> </div>
                  <div class="topic-description">
                    <h3>Retail & eCommerce </h3>
                    <p> We understand retail & eComerce customers and provide end-to-end solutions for that.
                    </p>
                    <div class="divider"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic4 wow bounceInLeft">
                  <div class="topic-icon-main"> <span class="services-icon topic-icon"></span> </div>
                  <div class="topic-description">
                    <h3>Media & Entertainment </h3>
                    <p> Hire Laravel developers from us  who build apps that enhance your digital presence.
                    </p>
                    <div class="divider_right"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic5 wow bounceInRight">
                  <div class="topic-icon-main"> <span class="tools-icon topic-icon"></span> </div>
                  <div class="topic-description">
                    <h3> Banking & Finance </h3>
                    <p> Enhance ROI & manage daily workflows with my result driven Laravel development services
                    </p>
                    <div class="divider"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic6 wow bounceInLeft">
                  <div class="topic-icon-main"> <span class="ftr-icon topic-icon"></span> </div>
                  <div class="topic-description">
                    <h3> Education & E-Learning </h3>
                    <p> Think beyond traditional LMS  & enter the modern era with my Laravel Development Services
                    </p>
                    <div class="divider_right"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic7 wow bounceInRight">
                  <div class="topic-icon-main"> <span class="tools-icon topic-icon"></span> </div>
                  <div class="topic-description">
                    <h3>Travel & Tourism </h3>
                    <p class="line"> My offshore Laravel programmers build travel apps to create a retaining customer base.
                    </p>

                  </div>
                </div>
                <div class="choose-topic choose-topic8 wow bounceInLeft">
                  <div class="topic-icon-main"> <span class="ftr-icon topic-icon"></span> </div>
                  <div class="topic-description">
                    <h3>Others</h3>
                    <p class="line1"> We offer dedicated Laravel developers to other industries who focus to grow business digitally
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12"><div class="consultationBtn"> <a href="/contact">Contact me now</a> </div>
          </div>
        </div>
      </div>
    </section>
    <section class="key_benefits">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="ourecommerce_innr">
              <h3> Key Benefits </h3>
              <p> When you choose to work with my dedicated Laravel developers, you get a highly efficient team with host of business benefits
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> 100% Client Satisfaction </p>
              <span> Till date, we have successfully completed 4200+ projects of varying sizes including commercial grade software applications.
</span> <small class="borderSM"></small> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Zero Billing Guarantee </p>
              <span> If you are not satisfied with my work, then we guarantee that we won’t charge you or will refund full payment.
 </span> <small class="borderSM"></small> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Get Results In 48 Hours </p>
              <span> My dedicated Laravel developers are adept at all the latest technologies and provide you with quick results as well.
 </span> <small class="borderSM"></small> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon4"></small>
              <p> Keep Your Clients Coming Back </p>
              <span> My offshore Laravel programmers are expert in what they do. Hence, we create experiences that keep your users coming back.
 </span> <small class="borderSM"></small> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Your Local Guy Costs More </p>
              <span> We provide the perfect balance of competitive pricing & uncompromising quality and ensure to charge the lowest in my segment.
 </span> <small class="borderSM"></small> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Integrity & Transparency </p>
              <span> Your idea is safe with us as we respect your secrecy, work transparently  and my Laravel app developers follow NDA throughout the process.
 </span> <small class="borderSM"></small> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Trusted & Skilled Developers </p>
              <span> We pair you with my in-house developers whose skillsets match your needs afterwards. they reliably and dedicatedly work for you.
 </span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Hire A Team Of Your Choice </p>
              <span> You interview every dedicated Laravel developer you hire. If you decide not to continue, we will either provide replacement, or you get a refund.
 </span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Free No Obligation Quote </p>
              <span> When you share your idea, we listen &  provide you with a no-cost estimate, usually within 24 working hours.
 </span> </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-comp">
      <div class="container">
        <div class="about-comp-innr">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
              <div class="about-comp-info">
                <div class="companyR-info"> <strong><em data-speed="3500" data-to="4800" class="count-me timer">13</em>+</strong> <small>Years Experience</small> </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center wow bounceInLeft animated animated" style="visibility: visible;">
              <div class="about-comp-info">
                <div class="companyR-info"> <strong><em data-speed="3500" data-to="38" class="count-me timer">4200</em>+</strong> <small>project launched</small> </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center wow bounceInLeft animated animated" style="visibility: visible;">
              <div class="about-comp-info">
                <div class="companyR-info"> <strong><em data-speed="3500" data-to="11500" class="count-me timer">24/7</em>+</strong> <small>support provides</small> </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center wow bounceInLeft animated animated" style="visibility: visible;">
              <div class="about-comp-info">
                <div class="companyR-info broder"> <strong><em data-speed="3500" data-to="13" class="count-me timer">2500</em>+</strong> <small>satisfied customers</small> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="choose_from_sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="ourecommerce_innr">
              <h3> Choose from a variety of hiring models </h3>
              <p> We provide the flexibility of choosing the best suited engagement model to all my clients. </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="dedicated_sec">
              <div class="img_box"><img src="common/images/dedecated_team.png" alt="Hire Laravel" title="Hire Laravel"></div>
              <h4>Dedicated Laravel team
              </h4>
              <p>If you represent a company with regular large projects, or if your need ongoing work, ask about a retainer. It’s a pay-as-you-go monthly rolling contract. You’ll get my technical infrastructure, expertise, processes and execution abilities as easily as if I was located in your office.</p>
              <div class="orange_box">
                <ul>
                  <li>No hidden costs</li>
                  <li>80 or 160 hours of guaranteed production every month for
                    part-time and full-time hires respectively</li>
                  <li>Monthly billing</li>
                  <li>Pay only for measurable work done</li>
                  <li>No setup fees</li>
                  <li>Dedicated team is better than Fixed-cost</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="dedicated_sec">
              <div class="img_box"><img src="common/images/fixed_price.png" alt="Hire Laravel" title="Hire Laravel"></div>
              <h4> Fixed-price </h4>
              <p> When you have a clear and well-defined project requirement,
                you may go with my fixed-price model. We could make an agreement of certain amount that you will be billed for a defined amount of task, making this as simple and transparent
                as possible.</p>
              <div class="orange_box">
                <ul>
                  <li>Know exactly what you’re getting up front, and how much it will be</li>
                  <li>Requires no change in price unless your needs change</li>
                  <li>Can be split and paid in milestones</li>
                  <li>Upgrade or cancel anytime</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row headline"> <small>Interested?</small>
          <div style="visibility: visible; animation-delay: 0.2s;" data-wow-delay=".2s" class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeIn   animated animated">
            <div class="request_MorInfo"> <a href="/contact"> contact me today </a> </div>
          </div>
        </div>
      </div>
    </section>
    <section class="Why_outer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="ourecommerce_innr">
              <h3> Why hire Laravel developers? </h3>
              <p> Businesses hire Laravel developers because, we adopt the latest tools and advanced technologies to serve robust yet scalable solutions. Each of my laravel developer carefully studies every facet of the new technology before practicing it. My applications comprise sophisticated features catering to complex business needs for diverse industry verticals.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon1"></small>
              <p>3+ Years Of Average<br>
                Experience </p>
              <span> My Laravel  developers are experienced & well versed with perks of development. </span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon2"></small>
              <p> Implemented More Than<br>
                4200 Projects</p>
              <span> We have successfully completed hundreds of projects and ready to explore new ventures.
 </span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon3"></small>
              <p> Free Project Management<br>
                With Your Team </p>
              <span> We not only build fast but also free you from management issues a you get a PM from my side.
 </span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon4"></small>
              <p> Transparency Is <br>
                Guaranteed </p>
              <span> We report you daily and weekly through Skype, Call or email to maintain full transparency.
 </span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon5"></small>
              <p> Flexible Engagement <br>
                Models </p>
              <span> We provide the flexibility of choosing the best suited engagement model to all my clients.
 </span> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner"> <small class="Dservices_icon6"></small>
              <p> Over 2500 Happy <br>
                Clients </p>
              <span> Over the years, my clientele has increased and now we have satisfied customers all across the globe. </span> </div>
          </div>
        </div>
        <div class="row headline">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeIn animated animated" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="request_MorInfo"> <a href="/contact"> contact me today </a> </div>
          </div>
        </div>
      </div>
    </section>
    <section class="proccess">
      <div class="container text-center">
        <h2 class="title"> My Laravel Web Development Process </h2>
        <p class="sub-title"> My dedicated Laravel developers follow Agile methodology that ensures seamless communication and complete project transparency.
        </p>
        <div class="container">
          <ul class="nav nav-pills">
            <li class="active"> <a href="javascript:void(0)" data-toggle="tab1">Dedicated Team</a> </li>
            <li> <a href="javascript:void(0)" data-toggle="tab2">Fixed price</a> </li>
          </ul>
          <div class="tab-content clearfix">
            <div class="tab-pane active" id="tab1">
              <ul  class="process_list">
                <li>
                  <label class="stepNo">01</label>
                  <div class="content">
                    <div class="content_head">Team Screening & Selection </div>
                    <div class="content-body">
                      <p>Your resume screening & shortlisting time is
                        saved </p>
                      <ul>
                        <li> My Laravel developer skills will be matched with your requirements. </li>
                        <li>You are offered to conduct interview the developers before hiring. </li>
                        <li>You may also discuss project needs to get estimates on tasks(ETA). </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <label class="stepNo">02</label>
                  <div class="content">
                    <div class="content_head">Development & Reporting</div>
                    <div class="content-body">
                      <p>Experience high-end productivity from expert developers </p>
                      <ul>
                        <li> The dedicated Laravel developers are 24*7 available for you. </li>
                        <li> Your developers will work dedicatedly on your project.
                        </li>
                        <li> Get daily code validations and up to date reporting sheet.
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <label class="stepNo">03</label>
                  <div class="content">
                    <div class="content_head">Delivery & Future Relations</div>
                    <div class="content-body">
                      <p>Your team stays with you in all the ups and downs </p>
                      <ul>
                        <li> You can assign one or multiple projects to them.
                        </li>
                        <li> Extent or reduce team size as per business needs.
                        </li>
                        <li> Work with the same team to get consistent Productivity.
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="tab2">
              <ul  class="process_list">
                <li>
                  <label class="stepNo">01</label>
                  <div class="content">
                    <div class="content_head">Requirements Analysis </div>
                    <div class="content-body">
                      <p>Your project consultation & brainstorming time is
                        saved </p>
                      <ul>
                        <li> Once you articulate your idea, you send it to my inhouse team.
                        </li>
                        <li> We analyze it to decide the team strength and plan your project.
                        </li>
                        <li>We discuss project plans with you to decide ETA and cost.
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <label class="stepNo">02</label>
                  <div class="content">
                    <div class="content_head">Development & Reporting</div>
                    <div class="content-body">
                      <p>Experience high-end productivity from expert developers </p>
                      <ul>
                        <li> The offshore Laravel programmers  are 24*7 available for you. </li>
                        <li> Your developers will work dedicatedly on your project.
                        </li>
                        <li> Get daily code validations and up to date reporting sheet.
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <label class="stepNo">03</label>
                  <div class="content">
                    <div class="content_head">Execution & Delivery</div>
                    <div class="content-body">
                      <p>Your team stays with you in all the ups and downs </p>
                      <ul>
                        <li> We adhere to the deadlines and the signed NDAs
                        </li>
                        <li> You get delivery of every project with detailed report.
                        </li>
                        <li> We work with the same team to get consistent Productivity.
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="tskills_outer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="tskills_inner">
              <h4 class="wow fadeIn animated" data-wow-delay=".2s">Technical Skills of My Offshore Laravel Developers
              </h4>
              <p class="wow fadeIn animated" data-wow-delay=".1s"> My offshore Laravel development company is adept with all the modern development tools and well versed with the latest Laravel updates
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="tskills_middle wow  boder_right  rotateInDownLeft animated" data-wow-delay=".1s">
            <h4>Tools</h4>
            <p><i class="dash"></i> <i> Experienced in PHPDesigner 8, Netbeans </i></p>
            <p><i class="dash"></i> <i> Worked in NuSphere, Eclipse,  Komodo, </i></p>
            <p><i class="dash"></i> <i> Expert in  PHP Debugbar, Slim, Dreamweaver </i></p>
            <span class="DSicon2"></span> </div>
          <div class="tskills_middle wow boder_right  rotateInDownLeft animated" data-wow-delay=".1s">
            <h4>KEY STRENGTHS
              <!--<small>s</small>--></h4>
            <p><i class="dash"></i> <i> Develop, Implement & Test Custom Laravel apps  </i></p>
            <p><i class="dash"></i> <i> Front-end development using JS frameworks. </i></p>
            <p><i class="dash"></i> <i> MVC Design Patterns and other frameworks like Symfony,CodeIgniter, CakePHP  </i></p>
            <span class="DSicon3_new"></span> </div>
          <div class="tskills_middle margin wow rotateInDownLeft animated" data-wow-delay=".1s">
            <h4>DEVELOPMENT SKILLS</h4>
            <p><i class="dash"></i> <i> Adept at PHP 4.x, PHP 5.x, Php 7, HTML 5 </i>
            <p>
            <p><i class="dash"></i> <i> Programming skills of CSS, XHTML, SMARTY, PEAR, AJAX </i>
            <p>
            <p><i class="dash"></i> <i> Expert in MySQL 4.x/5.x, Angular, jQuery etc.
            </i></p>


            <span class="DSicon1"></span> </div>
        </div>
        <div class="row headline"> <small>Interested?</small>
          <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeIn     animated animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">
            <div class="request_MorInfo"> <a href="/contact"> contact me today </a> </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  </section>
</section>