<section class="symfony_pgN iso_pgN symfony_new">
  <div class="tec_banner_sec tec_banner_secNew">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <h1 class="wow fadeIn animated" data-wow-delay=".2s"><span class="whitecolor">Using</span> symfony
            <span class="development wow fadeIn animated" data-wow-delay=".3s"> <span class="develop_before"></span> Web/Mobile Developer <span class="develop_after"></span> </span>
          </h1>
          <p class="tec_des wow fadeIn animated" data-wow-delay=".3s"> Get expert Symfony development services from
            my dedicated Symfony developers on hourly or full time (dedicated monthly) basis for all kinds of
            commercial grade, mid-large scale web applications.  </p>
          <ul class="wow fadeIn animated" data-wow-delay=".6s">
            <li class="ios_icon1">100% Money Back Guarantee</li>
            <li class="ios_icon2">On Time Delivery</li>
            <li class="ios_icon3">Non-Disclosure Agreement</li>
            <li class="ios_icon4">Better ROI</li>
          </ul>
          <div class="hirenow_button wow fadeInDown animated" data-wow-delay=".3s">
            <a href="/contact" title=" contact me Now" class="ladda-button" data-style="slide-left"> contact me now</a></div>
        </div>
      </div>
    </div>
    <div class="img_icon">
      <img src="common/images/symfony_icon.png" alt="Dedicated ios developers" title="Dedicated ios-developers"/>
    </div>
  </div>
  <section class="body_container" role="main">
    <section class="symfony_outer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="ourecommerce_innr">
              <h3> My Symfony Web Application Development Services </h3>
              <p> Avail excellent Symfony web development solutions from my dedicated Symfony developers for quick
                turnaround time and quality development.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon1"></small>
              <p>Symfony eCommerce Development</p>
              <span> When it comes to ecommerce development solutions, my Symfony developers provide excellent services to clients across the globe.
 </span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon2"></small>
              <p> Custom Symfony Solutions</p>
              <span> Businesses with unique web development requirements are satisfactorily fulfilled by my Symfony application developers.
 </span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon3"></small>
              <p> Symfony Template Development</p>
              <span> I am here  to help you with template development business needs that my offshore Symfony developers are adept at building.
</span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon4"></small>
              <p> Testing and Maintenance services </p>
              <span> Over the last years, my Symfony maintenance team has gained immense amount experience in maintaining the Symfony software applications.
 </span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon5"></small>
              <p> Migration and Upgradation Services </p>
              <span>  If you’re in need of an in-house Symfony deployment, installation, customization or migration, my dedicated Symfony experts can help.
 </span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon6"></small>
              <p> Symfony Application Development Services </p>
              <span> Hire Symfony developers who can build online portals & adept at custom product development for small to large businesses.
 </span></div>
          </div>
        </div>
        <div class="row headline">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeIn animated animated" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="request_MorInfo"><a href="/contact"> contact me today </a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="manufact-whychoose">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="manufact-heading">
              <h3> My Symfony Development Expertise </h3>
              <p> When you hire Symfony app developers, you get a team who are specialized in a wide array of
                industry verticals catering to all kinds of startups and small businesses.
                <span class="border-small"></span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-121 col-sm-12 col-xs-12">
            <div class="whychoose-outer">
              <div class="whychoose-inner">
                <div class="choose-topic wow bounceInRight">
                  <div class="topic-icon-main"><span class="account-manager topic-icon"></span></div>
                  <div class="topic-description">
                    <h3>Healthcare</h3>
                    <p> My dedicated Symfony developers provide customized, end-to-end, Healthcare solution. </p>
                    <div class="divider"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic2 wow bounceInLeft">
                  <div class="topic-icon-main"><span class="team-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3>Hospitality</h3>
                    <p>My  offshore Symfony programmers build hospitality apps to create a retaining customer
                      base. </p>
                    <div class="divider_right"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic3 wow bounceInRight">
                  <div class="topic-icon-main"><span class="pricematch-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3>Retail & eCommerce </h3>
                    <p> We build apps that create lightning fast communication between agents and customers. </p>
                    <div class="divider"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic4 wow bounceInLeft">
                  <div class="topic-icon-main"><span class="services-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3>Media & Entertainment </h3>
                    <p> Hire Symfony developers from us who build apps that enhance your digital presence.
                    </p>
                    <div class="divider_right"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic5 wow bounceInRight">
                  <div class="topic-icon-main"><span class="tools-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3> Banking & Finance </h3>
                    <p> Enhance ROI & manage daily workflows with my result driven Symfony development services

                    </p>
                    <div class="divider"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic6 wow bounceInLeft">
                  <div class="topic-icon-main"><span class="ftr-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3> Education & E-Learning </h3>
                    <p> Think beyond traditional LMS & enter the modern era with my Symfony Development Services
                    </p>
                    <div class="divider_right"></div>
                  </div>
                </div>
                <div class="choose-topic choose-topic7 wow bounceInRight">
                  <div class="topic-icon-main"><span class="tools-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3>Travel & Tourism </h3>
                    <p class="line"> My offshore Symfony programmers build travel apps to create a retaining
                      customer base. </p>

                  </div>
                </div>
                <div class="choose-topic choose-topic8 wow bounceInLeft">
                  <div class="topic-icon-main"><span class="ftr-icon topic-icon"></span></div>
                  <div class="topic-description">
                    <h3>Others</h3>
                    <p class="line1"> We offer dedicated Symfony developers to other industries who focus to grow
                      business digitally
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="consultationBtn"><a href="/contact"> contact me now</a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="key_benefits">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="ourecommerce_innr">
              <h3> Key benefits </h3>
              <p> When you choose to work with my dedicated Symfony developers, you get a highly efficient team
                with host of business benefits </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> 100% Client Satisfaction </p>
              <span> Till date, we have successfully completed 4200+ projects of varying sizes including commercial grade software applications.
 </span>
              <small class="borderSM"></small>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Zero Billing Guarantee </p>
              <span> If you are not satisfied with my work, then we guarantee that we won’t charge you or will refund full payment.
 </span>
              <small class="borderSM"></small>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Get Results In 48 Hours </p>
              <span> My dedicated Symfony developers are adept at all the latest technologies and provide you with quick results as well.
 </span>
              <small class="borderSM"></small>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon4"></small>
              <p> Keep Your Clients Coming Back </p>
              <span> My offshore Symfony programmers are expert in what they do. Hence, we create experiences that keep your users coming back.
 </span>
              <small class="borderSM"></small>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Your Local Guy Costs More </p>
              <span> We provide the perfect balance of competitive pricing & uncompromising quality and ensure to charge the lowest in my segment.
</span>
              <small class="borderSM"></small>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Integrity & Transparency </p>
              <span> Your idea is safe with us as we respect your secrecy, work transparently  and my Symfony app developers follow NDA throughout the process.
 </span>
              <small class="borderSM"></small>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Trusted & Skilled Developers </p>
              <span> We pair you with my in-house developers whose skillsets match your needs afterwards. they reliably and dedicatedly work for you.
 </span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Hire A Team Of Your Choice </p>
              <span> You interview every dedicated Symfony developer you hire. If you decide not to continue, we will either provide replacement, or you get a refund.
 </span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <p> Free No Obligation Quote </p>
              <span> When you share your idea, we listen &  provide you with a no-cost estimate, usually within 24 working hours.
 </span></div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-comp">
      <div class="container">
        <div class="about-comp-innr">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
              <div class="about-comp-info">
                <div class="companyR-info">
                  <strong><em data-speed="3500" data-to="4800" class="count-me timer">13</em>+</strong>
                  <small>Years Experience</small>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center wow bounceInLeft animated animated" style="visibility: visible;">
              <div class="about-comp-info">
                <div class="companyR-info">
                  <strong><em data-speed="3500" data-to="38" class="count-me timer">4200</em>+</strong>
                  <small>project launched</small>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center wow bounceInLeft animated animated" style="visibility: visible;">
              <div class="about-comp-info">
                <div class="companyR-info">
                  <strong><em data-speed="3500" data-to="11500" class="count-me timer">24/7</em>+</strong>
                  <small>support provides</small>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center wow bounceInLeft animated animated" style="visibility: visible;">
              <div class="about-comp-info">
                <div class="companyR-info broder">
                  <strong><em data-speed="3500" data-to="13" class="count-me timer">2500</em>+</strong>
                  <small>satisfied customers</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="choose_from_sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="ourecommerce_innr">
              <h3> Choose from a variety of hiring models </h3>
              <p> We provide the flexibility of choosing the best suited engagement model to all my clients. </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="dedicated_sec">
              <div class="img_box">
                <img src="common/images/dedecated_team.png" alt="Hire symfony" title="Hire symfony"></div>
              <h4> Dedicated Symfony team </h4>
              <p>If you represent a company with regular large projects, or if your need ongoing work, ask about a
                retainer. It’s a pay-as-you-go monthly rolling contract. You’ll get my technical infrastructure,
                expertise, processes and execution abilities as easily as if I was located in your office.</p>
              <div class="orange_box">
                <ul>
                  <li>No hidden costs</li>
                  <li>80 or 160 hours of guaranteed production every month for
                    part-time and full-time hires respectively
                  </li>
                  <li>Monthly billing</li>
                  <li>Pay only for measurable work done</li>
                  <li>No setup fees</li>
                  <li>Dedicated team is better than Fixed-cost</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="dedicated_sec">
              <div class="img_box"><img src="common/images/fixed_price.png" alt="Hire symfony" title="Hire symfony">
              </div>
              <h4> Fixed-price </h4>
              <p> When you have a clear and well-defined project requirement,
                you may go with my fixed-price model. We could make an agreement of certain amount that you will be
                billed for a defined amount of task, making this as simple and transparent
                as possible.</p>
              <div class="orange_box">
                <ul>
                  <li>Know exactly what you’re getting up front, and how much it will be</li>
                  <li>Requires no change in price unless your needs change</li>
                  <li>Can be split and paid in milestones</li>
                  <li>Upgrade or cancel anytime</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row headline">
          <small>Interested?</small>
          <div style="visibility: visible; animation-delay: 0.2s;" data-wow-delay=".2s" class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeIn   animated animated">
            <div class="request_MorInfo"><a href="/contact"> contact me today </a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="Why_outer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="ourecommerce_innr">
              <h3> Why hire Symfony developers? </h3>
              <p> I provide reliable Symfony development services with faster turnaround times and better
                ROI . Hire Symfony developers who are well trained and expert in Symfony app development to deliver
                innovative and best in class results. My applications comprise sophisticated features catering to
                complex business needs for diverse industry verticals.

              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon1"></small>
              <p> 3+ Years Of Average Experience </p>
              <span> My Symfony  developers are experienced & well versed with perks of development. </span></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon2"></small>
              <p> Implemented More Than 4200 Projects </p>
              <span> We have successfully completed hundreds of projects and ready to explore new ventures. </span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon3"></small>
              <p> Free Project Management With Your Team </p>
              <span> We not only build fast but also free you from management issues a you get a PM from my side. </span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon4"></small>
              <p> Transparency Is Guaranteed </p>
              <span> We report you daily and weekly through Skype, Call or email to maintain full transparency. </span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon5"></small>
              <p> Flexible Engagement Models </p>
              <span> We provide the flexibility of choosing the best suited engagement model to all my clients. </span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="development_services_inner">
              <small class="Dservices_icon6"></small>
              <p> Over 2500 Happy Clients </p>
              <span> Over the years, my clientele has increased and now we have satisfied customers all across the globe. </span>
            </div>
          </div>
        </div>
        <div class="row headline">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeIn animated animated" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="request_MorInfo"><a href="/contact"> contact me today </a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="proccess">
      <div class="container text-center">
        <h2 class="title"> My Symfony Web Development Process </h2>
        <p class="sub-title"> My dedicated Symfony developers follow Agile methodology that ensures seamless
          communication and complete project transparency.
        </p>
        <div class="container">
          <ul class="nav nav-pills">
            <li class="active"><a href="javascript:void(0)" data-toggle="tab1">Dedicated Team</a></li>
            <li><a href="javascript:void(0)" data-toggle="tab2">Fixed price</a></li>
          </ul>
          <div class="tab-content clearfix">
            <div class="tab-pane active" id="tab1">
              <ul class="process_list">
                <li>
                  <label class="stepNo">01</label>
                  <div class="content">
                    <div class="content_head">Team Screening & Selection</div>
                    <div class="content-body">
                      <p>Your resume screening & shortlisting time is
                        saved </p>
                      <ul>
                        <li> My Symfony developer skills will be matched with your requirements.</li>
                        <li> You are offered to conduct interview the developers before hiring.</li>
                        <li> You may also discuss project needs to get estimates on tasks(ETA).</li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <label class="stepNo">02</label>
                  <div class="content">
                    <div class="content_head">Development & Reporting</div>
                    <div class="content-body">
                      <p>Experience high-end productivity from expert developers </p>
                      <ul>
                        <li> The dedicated Symfony developers are 24*7 available for you.</li>
                        <li> Your developers will work dedicatedly on your project.</li>
                        <li> Get daily code validations and up to date reporting sheet.</li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <label class="stepNo">03</label>
                  <div class="content">
                    <div class="content_head">Delivery & Future Relations</div>
                    <div class="content-body">
                      <p>Your team stays with you in all the ups and downs </p>
                      <ul>
                        <li> You can assign one or multiple projects to them.</li>
                        <li> Extent or reduce team size as per business needs.</li>
                        <li> Work with the same team to get consistent Productivity.</li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="tab2">
              <ul class="process_list">
                <li>
                  <label class="stepNo">01</label>
                  <div class="content">
                    <div class="content_head">Requirements Analysis</div>
                    <div class="content-body">
                      <p>Your project consultation & brainstorming time is
                        saved </p>
                      <ul>
                        <li> Once you articulate your idea, you send it to my inhouse team.</li>
                        <li> We analyze it to decide the team strength and plan your project.</li>
                        <li> We discuss project plans with you to decide ETA and cost.</li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <label class="stepNo">02</label>
                  <div class="content">
                    <div class="content_head">Development & Reporting</div>
                    <div class="content-body">
                      <p>Experience high-end productivity from expert developers </p>
                      <ul>
                        <li> The offshore Symfony programmers are 24*7 available for you.</li>
                        <li> Your developers will work dedicatedly on your project.</li>
                        <li> Get daily code validations and up to date reporting sheet.</li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <label class="stepNo">03</label>
                  <div class="content">
                    <div class="content_head">Execution & Delivery</div>
                    <div class="content-body">
                      <p>Your team stays with you in all the ups and downs </p>
                      <ul>
                        <li> We adhere to the deadlines and the signed NDAs</li>
                        <li> You get delivery of every project with detailed report.</li>
                        <li> We work with the same team to get consistent Productivity.
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="application_development_sec">
      <div class="top_sec">
        <h3>Symfony Web Development Samples</h3>
        <p>Here are some projects that are completed by my offshore Symfony programmers </p>
      </div>
      <section class="samples-dev">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <div class="col-12">
                <div class="box box1">
                  <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                  <div class="box-inner">
                    <h4>Apparel Shopping Portal</h4>
                    <div class="hover-cont">
                      <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                      <div class="cross-icon"><a href="javascript:void(0);">x</a></div>
                      <h3>Apparel Shopping Portal</h3>
                      <p>Apparel Shopping Portal From The Scratch: My client is an online wholesale shopping
                        website for clothes customer. A large variety of cloth ranging from T- Shirts, Polos,
                        Trousers etc for both men and women are available.</p>
                      <div class="button-full">
                        <a href="case-studies/apparel-shopping-portal" target="_blank">full case study</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="col-3">
                <div class="box box2">
                  <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                  <div class="box-inner">
                    <h4>Online Store For Scarves</h4>
                    <div class="hover-cont">
                      <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                      <h3>Online Store For Scarves</h3>
                      <p>Building An Online Store For Scarves
                        : My client is an online platform to purchase or customise variety of scarves. It serves
                        the unique idea of buying designer scarves online or simply customise your own scarf and buy
                        in desired taste or cloth texture.</p>
                      <div class="button-full">
                        <a href="case-studies/online-shopping-portal" target="_blank">full case study</a></div>
                    </div>
                  </div>
                </div>
                <div class="box box3">
                  <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                  <div class="box-inner">
                    <h4>Online Shopping Portal</h4>
                    <div class="hover-cont">
                      <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                      <h3>Online Shopping Portal</h3>
                      <p>Complete Revamp Of Online Shopping Portal: My client is a Germany based leading Online
                        Shopping Portal for clothes. It displays variety of cloth range for men, women, kids.
                        Customers can also shop for home clothing such as bed linen, blankets etc.</p>
                      <div class="button-full">
                        <a href="case-studies/building-online-store" target="_blank">full case study</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="box box4">
                  <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                  <div class="box-inner">
                    <h4>Portal For Indoor Furnishing</h4>
                    <div class="hover-cont">
                      <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                      <h3>Portal For Indoor Furnishing</h3>
                      <p>Creating e-Commerce Portal For Indoor Furnishing Products: The client is an online portal
                        selling designer goods for offices, living, kitchen etc. They also sell attractive products
                        for kids or special ones designed for festive like Christmas.</p>
                      <div class="button-full">
                        <a href="case-studies/ecommerce-portal-indoor-furnishing" target="_blank">full case
                          study</a></div>
                    </div>
                  </div>
                </div>
                <div class="box box5">
                  <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                  <div class="box-inner">
                    <h4>Home Delivery Portal</h4>
                    <div class="hover-cont">
                      <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                      <h3>Home Delivery Portal</h3>
                      <p>Online Shopping & Home Delivery Portal: It is a great idea to provide customers with a
                        service that can deliver all their goods from different shops and deliver them at doorsteps.
                        My client came to us with the idea of online shopping and delivery portal it was a great
                        opportunity for us.</p>
                      <div class="button-full">
                        <a href="case-studies/online-shopping-home-delivery-portal" target="_blank">full case
                          study</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="client_testimonila_sec">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="testmonilas_innr">
                <h3> CLIENT TESTIMONIALS </h3>
                <p>Still not convinced? See what my customers are saying..</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="testimonial_slide1 owl-carousel owl-theme col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="item">
                <div class="development_services_inner"> <span>“
                
               They did their best to make the website look great and function perfectly. I am overwhelmed with their service ethics. I would highly recommend their services to those I know.
                
                ” </span>
                  <h4>- Marguerite Lyons </h4>
                </div>
              </div>


            </div>
            <div style="visibility: visible; animation-delay: 0.1s;" data-wow-delay=".1s" class="col-lg-2 col-md-12 col-sm-12 col-xs-12 wow rotateInDownLeft   animated animated animated animated animated">
              <div class="development_services_inner">
                <div class="img_box"><img src="common/images/ios_testomonila131217.png"/></div>
              </div>
            </div>
            <div class="testimonial_slide2 col-lg-5 col-md-12 col-sm-12 col-xs-12">


              <div class="item">
                <div class="development_services_inner "> <span>“
                
               I have provided a scalable enterprise level portal solution to meet my business objectives. Looking forward to work with them on my future projects as well.
                
                ” </span>
                  <h4>- Herbert Allen </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="Other_related_outer" style="display:none;">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="Other_related_innr">
                <h3> Other Related Services </h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div style="visibility: visible; animation-delay: 0.1s;" data-wow-delay=".1s" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow rotateInDownLeft   animated animated animated animated animated">
              <div class="development_services_inner">
                <small class="Dservices_icon1"></small>
                <p>PHP Web <br>
                  Development </p>
                <div class="request_MorInfo"><a href="hire-developers/hire-php-developers">explore more</a></div>
              </div>
            </div>
            <div style="visibility: visible; animation-delay: 0.1s;" data-wow-delay=".1s" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow rotateInDownLeft   animated animated animated animated animated">
              <div class="development_services_inner">
                <small class="Dservices_icon2"></small>
                <p>Laravel Web<br>
                  Development </p>
                <div class="request_MorInfo"><a href="hire-developers/hire-laravel-developers">explore more</a>
                </div>
              </div>
            </div>
            <div style="visibility: visible; animation-delay: 0.1s;" data-wow-delay=".1s" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow rotateInDownLeft   animated animated animated animated animated">
              <div class="development_services_inner">
                <small class="Dservices_icon3"></small>
                <p>Yii Web <br>
                  Development </p>
                <div class="request_MorInfo"><a href="hire-developers/hire-yii-developers">explore more</a></div>
              </div>
            </div>
            <div style="visibility: visible; animation-delay: 0.1s;" data-wow-delay=".1s" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow rotateInDownLeft   animated animated animated animated animated">
              <div class="development_services_inner">
                <small class="Dservices_icon4"></small>
                <p>Codeigniter Web<br>
                  Development </p>
                <div class="request_MorInfo"><a href="hire-developers/hire-codeigniter-developers">explore more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <footer class="footeFormr">


        <script type="text/javascript" src="common/js/scriptcontact.js"></script>
        <link rel="stylesheet" type="text/css" href="common/css/style_ios.css"/>
        <script>
            function showShareURL() {
                $("#share_url").show();
                $("#label_share_url").hide();
            }
        </script>
        <style>
          .input-group .err {
            position: absolute;
            right: 10px;
            top: 0;
            color: #ff1d1d;
            font: 12px/48px aller_lightregular;
            z-index: 10;
          }

          .footerInner .chain {
            display: inline-block;
            float: left;
            margin-right: 195px;
            margin-top: 10px;
            width: 30%;
          }


          chain::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: pink;
          }

          ::-moz-placeholder { /* Firefox 19+ */
            color: pink;
          }

          :-ms-input-placeholder { /* IE 10+ */
            color: pink;
          }

          :-moz-placeholder { /* Firefox 18- */
            color: pink;
          }


          .chain > span {
            display: inline-block;
            padding-top: 14px;
            color: #625959 !important;
          }


          .drop {
            border: 1.5px dashed hsl(0, 0%, 24%);
            color: hsl(0, 0%, 38%);
            display: inline-block;
            font: 400 16px/26px Lato;
            margin: 0 75px;
            padding: 3px 12px;
            position: relative;
            text-decoration: none;
          }

          @media only screen and (max-width: 1199px) {
            .drop {
              border: 1px solid hsl(0, 0%, 24%);
              color: hsl(0, 0%, 38%);
              display: inline-block;
              font: 400 16px/26px Lato;
              margin: 0 15px;
              padding: 3px 12px;
              position: relative;
              text-decoration: none;
            }

            .footerInner .chain {
              display: inline-block;
              float: right;
              margin-right: 145px;
              margin-top: 12px;
              width: 30%;
            }


          }


          @media only screen and (max-width: 991px) {

            .drop {
              border: 1px solid hsl(0, 0%, 24%);
              color: hsl(0, 0%, 38%);
              display: inline-block;
              font: 400 16px/26px Lato;
              margin: 0;
              padding: 3px 12px;
              position: relative;
              text-decoration: none;
            }


            .footerInner .chain {
              display: inline-block;
              margin-right: 25px;
              margin-top: 28px;
              width: 40%;
            }

            .rating_outer .social-btn {
              margin-top: 20px !important;
            }

          }


          @media only screen and (max-width: 767px) {
            .footerInner .chain {
              display: inline-block;
              float: right;
              margin-right: 0;
              margin-top: 0px;
              padding: 0 20px;
              margin-bottom: 5px;
              width: 100%;
            }


            .footerInner .btn {
              margin-top: 6px;
              padding: 12px 20px;
              text-transform: uppercase;
            }


          }

          @media only screen and (max-width: 479px) {

            .footerInner .btn {
              background-color: hsl(91, 100%, 35%);
              font: 400 17px/30px Lato;
              margin-bottom: 20px;
              margin-top: 11px;
              padding: 12px 20px;
              text-transform: uppercase;
            }


          }


        </style>


        <div class="container">
          <div class="footerInner">
            <div class="footerHeadder text-center">
              <h2 class="secssion_heading">Get in touch</h2>
              <p>Request a free consultation and get a no obligation quote for your project within 8 hours</p>
            </div>
            <div class="footerFormBody">
              <form name="contact-frm" id="contact-frm" action="sendmail1.php" class="form-outer" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group"><span class="input-group-addon"> <i class="fa fa-user"></i> </span>
                      <input type="text" class="form-control" placeholder="Your Name *" name="user-name" id="user-name"/>
                      <span id="user-name-err1" class="err"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group"><span class="input-group-addon"> <i class="fa fa-envelope"></i> </span>
                      <input type="text" class="form-control" placeholder="Email ID *" name="user-email" id="user-email"/>
                      <span id="user-email-err" class="err"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group"><span class="input-group-addon"> <i class="fa fa-phone"></i> </span>
                      <input type="text" class="form-control" placeholder="Phone" name="user-phone" id="user-phone"/>
                      <span id="user-phone-err" class="err"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group budujt" style="width:100%;">
                      <span class="input-group-addon"> <i class="fa fa-usd"></i> </span>
                      <select class="citySelectze form-control" style="width:100%;" name="user-budget">
                        <option>What is your alloted budget?</option>
                        <option value="$1000"><$1000</option>
                        <option value="$1000-$5000">$1000-$5000</option>
                        <option value="$5000-$10000">$5000-$10000</option>
                        <option value="$10000 or more">>$10000</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" style="vertical-align:top;"> <i class="fa fa-server"></i> </span>
                      <textarea type="text" class="form-control" placeholder="Your Requirements" name="user-req" id="user-req"></textarea>
                      <span id="user-message-err" class="err"></span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <div id="uploadcontact">
                      <div id="dropcontact">
                        <label for="file-3">
                          <span class="fileUload" style="color: #616161;display: inline-block;position: relative;font: 400 16px/26px Lato;text-decoration: none;padding: 12px 20px 0 0;margin-bottom: 20px;"><i class="fa fa-file-text-o"></i> &nbsp;Upload your file.</span>
                          <span class="drop"><i class="fa fa-dropbox"></i> &nbsp;Drop files here</span>


                        </label>
                        <input type="file" name="upl" id="file-3" class="inputfile inputfile-3"/>
                      </div>
                      <ul></ul>
                    </div>
                    <div class="file-format">
                      <span id="filetext" style="display:none;"></span>
                      <label> </label>
                    </div>
                  </div>
                  <div class="chain">
                    <span onclick="showShareURL();" id="label_share_url"><i class="fa fa-link"></i> &nbsp;Share Dropbox or Other Url</span>
                    <div class="input-group" id="share_url" style="display:none;">
                      <span class="input-group-addon"> <i class="fa fa-link"></i> </span>
                      <input type="text" class="form-control" placeholder="Share Dropbox or Other Url" name="customUrllink" id="user-url" maxlength="100"/>
                    </div>
                  </div>
                  <!--<div class="col-sm-12"> <a href="javascript:void(0);" class="fileUload" onclick="document.getElementById('footerFormFile').click();"> <i class="fa fa-file-text-o"></i> &nbsp;Upload your file.</a>
                   <a href="#" class="drop"> <i class="fa fa-dropbox"></i> &nbsp;Drop files here </a>
                  <a href="#" class="chain"> <i class="fa fa-link"></i> &nbsp;Share Dropbox or Other Url </a>

                    <input type="file" id="footerFormFile" />
                    <span id="filetext" style="display:none;"></span> <br>
                    <label> Accepted file Formats: <span> .PSD, .JPG, .JPEG, .GIF, .PNG, .AI, .ZIP,
                      .RAR, .PDF, .DOC, .DOCX, .XLS, .XLSX, .PPT. </span> If file size is greater than
                      20MB,
                      Please share using Dropbox or similar. </label>
                  </div>-->
                  <div class="btn_main">
                    <div class="formfooter text-center">
                      <button class="btn btn-success" id="submitFrm">Send your request</button>
                      <p class="privacy"><i class="fa fa-lock"></i> Your privacy is guaranteed. We hate spam as much
                        as you do! </p>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="frmOrderFileUploadedfilename" id="frmOrderFileUploadedfilename" value=""/>
                <input type="hidden" name="_frmOrder" value="frmOrder"/>
                <input type="hidden" name="type" value="contact-frm"/>
                <input type="hidden" name="frmqueryString" id="frmqueryString" value="&amp;PageName=&amp;xForwordFor=&amp;deviceID=computer"/>
              </form>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </footer>


      <section class="get_outer">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <style>
                @media only screen and (max-width: 479px) {
                  .form_info .country.error, .form_info input.error[type="text"], .form_info textarea.error {
                    border: 2px solid red;
                  }

                  .form_info #user-name-err1, .form_info #user-email-err, .form_info #user-country-err, .form_info #user-phone-err, .form_info #user-message-err {
                    display: none;
                  }
                }
              </style>
              <div class="get_left">
                <div class="bill_satisfaction">
                  <a href="javascript:void(0);" class="satisfaction_pop"><img src="common/images/satisfaction1.png" alt="Hire Offshore Developers - Logo - 1" class="satisfaction2"/></a>
                  <a href="javascript:void(0);" class="billing_pop"><img src="common/images/billing1.png" alt="Hire Offshore Developers - Logo - 2" class="billing2"/></a>
                </div>
                <form name="contact-frm" id="contact-frm" action="sendmail.php" method="post">
                  <input type="hidden" name="type" value="contact-frm"/>
                  <input type="hidden" name="frmqueryString" id="frmqueryString" value="&amp;PageName=&amp;xForwordFor=&amp;deviceID=computer"/>
                  <h6>Get in Touch</h6>
                  <p>Request further information or free trial.</p>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form_info">
                    <span class="form_info_icon">
                        <i class="fa fa-user"></i> 
                    </span>

                        <input type="text" class="name" placeholder="Name" maxlength="100" name="user-name" id="user-name" onkeyup="removeErrMsg(this.name)"/>
                        <small><img src="common/images/field_required.png" alt="Get In Touch - Required Field - 1"/>
                        </small>
                        <span id="user-name-err1"></span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form_info">
                    <span class="form_info_icon">
                        <i class="fa fa-envelope"></i>
                    </span>
                        <input type="text" name="user-email" id="user-email" maxlength="100" class="email" placeholder="Email" onkeypress="isNumberKey(this)" onkeyup="removeErrMsg(this.name)"/>
                        <small><img src="common/images/field_required.png" alt="Get In Touch - Required Field - 2"/>
                        </small>
                        <span id="user-email-err"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form_info">
                            <span class="form_info_icon">
                                <i class="fa fa-globe"></i>
                            </span>
                            <div class="country" id="user-country-div">
                                <select id="user-country" name="user-country">
                                    <option value="">Choose Country</option>
                                    <option value="USA">United States</option>
                                    <option value="GBR">United Kingdom</option>
                                    <option value="CAN">Canada</option>
                                    <option value="AUS">Australia</option>
                                    <option value="AFG">Afghanistan</option>
                                    <option value="ALB">Albania</option>
                                    <option value="DZA">Algeria</option>
                                    <option value="ASM">American Samoa</option>
                                    <option value="AND">Andorra</option>
                                    <option value="AGO">Angola</option>
                                    <option value="AIA">Anguilla</option>
                                    <option value="ATA">Antarctica</option>
                                    <option value="ATG">Antigua and Barbuda</option>
                                    <option value="ARG">Argentina</option>
                                    <option value="ARM">Armenia</option>
                                    <option value="ABW">Aruba</option>
                                    <option value="AUT">Austria</option>
                                    <option value="AZE">Azerbaijan</option>
                                    <option value="BHS">Bahamas</option>
                                    <option value="BHR">Bahrain</option>
                                    <option value="BGD">Bangladesh</option>
                                    <option value="BRB">Barbados</option>
                                    <option value="BLR">Belarus</option>
                                    <option value="BEL">Belgium</option>
                                    <option value="BLZ">Belize</option>
                                    <option value="BEN">Benin</option>
                                    <option value="BMU">Bermuda</option>
                                    <option value="BTN">Bhutan</option>
                                    <option value="BOL">Bolivia</option>
                                    <option value="BIH">Bosnia and Herzegovina</option>
                                    <option value="BWA">Botswana</option>
                                    <option value="BVT">Bouvet Island</option>
                                    <option value="BRA">Brazil</option>
                                    <option value="IOT">British Indian Ocean Territory</option>
                                    <option value="BRN">Brunei Darussalam</option>
                                    <option value="BGR">Bulgaria</option>
                                    <option value="BFA">Burkina Faso</option>
                                    <option value="BDI">Burundi</option>
                                    <option value="KHM">Cambodia</option>
                                    <option value="CMR">Cameroon</option>
                                    <option value="CPV">Cape Verde</option>
                                    <option value="CYM">Cayman Islands</option>
                                    <option value="CAF">Central African Republic</option>
                                    <option value="TCD">Chad</option>
                                    <option value="CHL">Chile</option>
                                    <option value="CHN">China</option>
                                    <option value="CXR">Christmas Island</option>
                                    <option value="CCK">Cocos (Keeling) Islands</option>
                                    <option value="COL">Colombia</option>
                                    <option value="COM">Comoros</option>
                                    <option value="COG">Congo</option>
                                    <option value="COD">Congo, the Democratic Republic of the</option>
                                    <option value="COK">Cook Islands</option>
                                    <option value="CRI">Costa Rica</option>
                                    <option value="CIV">Cote Divoire</option>
                                    <option value="HRV">Croatia (Hrvatska)</option>
                                    <option value="CUB">Cuba</option>
                                    <option value="CYP">Cyprus</option>
                                    <option value="CZE">Czech Republic</option>
                                    <option value="DNK">Denmark</option>
                                    <option value="DJI">Djibouti</option>
                                    <option value="DMA">Dominica</option>
                                    <option value="DOM">Dominican Republic</option>
                                    <option value="ECU">Ecuador</option>
                                    <option value="EGY">Egypt</option>
                                    <option value="SLV">El Salvador</option>
                                    <option value="GNQ">Equatorial Guinea</option>
                                    <option value="ERI">Eritrea</option>
                                    <option value="EST">Estonia</option>
                                    <option value="ETH">Ethiopia</option>
                                    <option value="FLK">Falkland Islands (Malvinas)</option>
                                    <option value="FRO">Faroe Islands</option>
                                    <option value="FJI">Fiji</option>
                                    <option value="FIN">Finland</option>
                                    <option value="FRA">France</option>
                                    <option value="FXX">France, Metropolitan</option>
                                    <option value="GUF">French Guiana</option>
                                    <option value="PYF">French Polynesia</option>
                                    <option value="ATF">French Southern Territories</option>
                                    <option value="GAB">Gabon</option>
                                    <option value="GMB">Gambia</option>
                                    <option value="GEO">Georgia</option>
                                    <option value="DEU">Germany</option>
                                    <option value="GHA">Ghana</option>
                                    <option value="GIB">Gibraltar</option>
                                    <option value="GRC">Greece</option>
                                    <option value="GRL">Greenland</option>
                                    <option value="GRD">Grenada</option>
                                    <option value="GLP">Guadeloupe</option>
                                    <option value="GUM">Guam</option>
                                    <option value="GTM">Guatemala</option>
                                    <option value="GIN">Guinea</option>
                                    <option value="GNB">Guinea-Bissau</option>
                                    <option value="GUY">Guyana</option>
                                    <option value="HTI">Haiti</option>
                                    <option value="HMD">Heard Island and Mcdonald Islands</option>
                                    <option value="HND">Honduras</option>
                                    <option value="HKG">Hong Kong</option>
                                    <option value="HUN">Hungary</option>
                                    <option value="ISL">Iceland</option>
                                    <option value="IND">India</option>
                                    <option value="IDN">Indonesia</option>
                                    <option value="IRN">Iran, Islamic Republic of</option>
                                    <option value="IRQ">Iraq</option>
                                    <option value="IRL">Ireland</option>
                                    <option value="ISR">Israel</option>
                                    <option value="ITA">Italy</option>
                                    <option value="JAM">Jamaica</option>
                                    <option value="JPN">Japan</option>
                                    <option value="JOR">Jordan</option>
                                    <option value="KAZ">Kazakhstan</option>
                                    <option value="KEN">Kenya</option>
                                    <option value="KIR">Kiribati</option>
                                    <option value="PRK">Korea, Democratic Peoples Republic of</option>
                                    <option value="KOR">Korea, Republic of</option>
                                    <option value="KWT">Kuwait</option>
                                    <option value="KGZ">Kyrgyzstan</option>
                                    <option value="LAO">Lao Peoples Democratic Republic</option>
                                    <option value="LVA">Latvia</option>
                                    <option value="LBN">Lebanon</option>
                                    <option value="LSO">Lesotho</option>
                                    <option value="LBR">Liberia</option>
                                    <option value="LBY">Libyan Arab Jamahiriya</option>
                                    <option value="LIE">Liechtenstein</option>
                                    <option value="LTU">Lithuania</option>
                                    <option value="LUX">Luxembourg</option>
                                    <option value="MAC">Macao</option>
                                    <option value="MKD">Macedonia</option>
                                    <option value="MDG">Madagascar</option>
                                    <option value="MWI">Malawi</option>
                                    <option value="MYS">Malaysia</option>
                                    <option value="MDV">Maldives</option>
                                    <option value="MLI">Mali</option>
                                    <option value="MLT">Malta</option>
                                    <option value="MHL">Marshall Islands</option>
                                    <option value="MTQ">Martinique</option>
                                    <option value="MRT">Mauritania</option>
                                    <option value="MUS">Mauritius</option>
                                    <option value="MYT">Mayotte</option>
                                    <option value="MEX">Mexico</option>
                                    <option value="FSM">Micronesia, Federated States of</option>
                                    <option value="MDA">Moldova, Republic of</option>
                                    <option value="MCO">Monaco</option>
                                    <option value="MNG">Mongolia</option>
                                    <option value="MNE">Montenegro</option>
                                    <option value="MSR">Montserrat</option>
                                    <option value="MAR">Morocco</option>
                                    <option value="MOZ">Mozambique</option>
                                    <option value="MMR">Myanmar</option>
                                    <option value="NAM">Namibia</option>
                                    <option value="NRU">Nauru</option>
                                    <option value="NPL">Nepal</option>
                                    <option value="NLD">Netherlands</option>
                                    <option value="ANT">Netherlands Antilles</option>
                                    <option value="NCL">New Caledonia</option>
                                    <option value="NZL">New Zealand</option>
                                    <option value="NIC">Nicaragua</option>
                                    <option value="NER">Niger</option>
                                    <option value="NGA">Nigeria</option>
                                    <option value="NIU">Niue</option>
                                    <option value="NFK">Norfolk Island</option>
                                    <option value="MNP">Northern Mariana Islands</option>
                                    <option value="NOR">Norway</option>
                                    <option value="OMN">Oman</option>
                                    <option value="PAK">Pakistan</option>
                                    <option value="PLW">Palau</option>
                                    <option value="PSE">Palestinian Territory, Occupied</option>
                                    <option value="PAN">Panama</option>
                                    <option value="PNG">Papua New Guinea</option>
                                    <option value="PRY">Paraguay</option>
                                    <option value="PER">Peru</option>
                                    <option value="PHL">Philippines</option>
                                    <option value="PCN">Pitcairn</option>
                                    <option value="POL">Poland</option>
                                    <option value="PRT">Portugal</option>
                                    <option value="PRI">Puerto Rico</option>
                                    <option value="QAT">Qatar</option>
                                    <option value="REU">Reunion</option>
                                    <option value="ROU">Romania</option>
                                    <option value="RUS">Russian Federation</option>
                                    <option value="RWA">Rwanda</option>
                                    <option value="SHN">Saint Helena</option>
                                    <option value="KNA">Saint Kitts and Nevis</option>
                                    <option value="LCA">Saint Lucia</option>
                                    <option value="SPM">Saint Pierre and Miquelon</option>
                                    <option value="VCT">Saint Vincent and the Grenadines</option>
                                    <option value="WSM">Samoa</option>
                                    <option value="SMR">San Marino</option>
                                    <option value="STP">Sao Tome and Principe</option>
                                    <option value="SAU">Saudi Arabia</option>
                                    <option value="SEN">Senegal</option>
                                    <option value="SRB">Serbia</option>
                                    <option value="SCG">Serbia and Montenegro</option>
                                    <option value="SYC">Seychelles</option>
                                    <option value="SLE">Sierra Leone</option>
                                    <option value="SGP">Singapore</option>
                                    <option value="SVK">Slovakia</option>
                                    <option value="SVN">Slovenia</option>
                                    <option value="SLB">Solomon Islands</option>
                                    <option value="SOM">Somalia</option>
                                    <option value="ZAF">South Africa</option>
                                    <option value="SGS">South Georgia and the South Sandwich Islands</option>
                                    <option value="ESP">Spain</option>
                                    <option value="LKA">Sri Lanka</option>
                                    <option value="SDN">Sudan</option>
                                    <option value="SUR">Suriname</option>
                                    <option value="SJM">Svalbard and Jan Mayen Islands</option>
                                    <option value="SWZ">Swaziland</option>
                                    <option value="SWE">Sweden</option>
                                    <option value="CHE">Switzerland</option>
                                    <option value="SYR">Syrian Arab Republic</option>
                                    <option value="TWN">Taiwan</option>
                                    <option value="TJK">Tajikistan</option>
                                    <option value="TZA">Tanzania, United Republic of</option>
                                    <option value="THA">Thailand</option>
                                    <option value="TLS">Timor-Leste</option>
                                    <option value="TGO">Togo</option>
                                    <option value="TKL">Tokelau</option>
                                    <option value="TON">Tonga</option>
                                    <option value="TTO">Trinidad and Tobago</option>
                                    <option value="TUN">Tunisia</option>
                                    <option value="TUR">Turkey</option>
                                    <option value="TKM">Turkmenistan</option>
                                    <option value="TCA">Turks and Caicos Islands</option>
                                    <option value="TUV">Tuvalu</option>
                                    <option value="UGA">Uganda</option>
                                    <option value="UKR">Ukraine</option>
                                    <option value="ARE">United Arab Emirates</option>
                                    <option value="UMI">United States Minor Outlying Islands</option>
                                    <option value="URY">Uruguay</option>
                                    <option value="UZB">Uzbekistan</option>
                                    <option value="VUT">Vanuatu</option>
                                    <option value="VAT">Vatican City State (Holy See)</option>
                                    <option value="VEN">Venezuela</option>
                                    <option value="VNM">Viet Nam</option>
                                    <option value="VGB">Virgin Islands, British</option>
                                    <option value="VIR">Virgin Islands, U.S.</option>
                                    <option value="WLF">Wallis and Futuna Islands</option>
                                    <option value="ESH">Western Sahara</option>
                                    <option value="YEM">Yemen</option>
                                    <option value="YUG">Yugoslavia</option>
                                    <option value="ZAR">Zaire</option>
                                    <option value="ZMB">Zambia</option>
                                    <option value="ZWE">Zimbabwe</option>
                                </select>
                            </div>
                            <small><img src="common/images/field_required.png" alt="Get In Touch - Required Field - 3"/> </small>
                            <span id="user-country-err" style="right: 25px;"></span>

                        </div>
                    </div> -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form_info">
                    <span class="form_info_icon">
                        <i class="fa fa-phone"></i>
                    </span>
                        <input type="text" class="phone" placeholder="Phone" maxlength="40" id="user-phone" name="user-phone" onkeyup="removeErrMsg(this.name)"/>
                        <small><img src="common/images/field_required.png" alt="Get In Touch - Required Field - 4"/>
                        </small>
                        <span id="user-phone-err"></span>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form_info form_infobudget">
                    <span class="form_info_icon">
                        <i class="fa fa-dollar"></i>
                    </span>
                        <div class="country budget">
                          <select id="user-budget" name="user-budget">
                            <option value="">What is your allocated budget?</option>
                            <option value="$1000">&lt;$1000</option>
                            <option value="$1000-$5000">$1000-$5000</option>
                            <option value="$5000-$10000">$5000-$10000</option>
                            <option value="$10000 or more">&gt;$10000</option>
                          </select>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!--<div class="row">

                              </div>-->
                  <div class="form_info margin_bottom">
            <span class="form_info_icon">
                <i class="fa fa-list-ul"></i>
            </span>
                    <textarea name="user-req" id="user-req" placeholder="Your Requirements" onkeyup="removeErrMsg(this.name)"></textarea><!--Your Requirements -->
                    <small><img src="common/images/field_required.png" alt="Get In Touch - Required Field - 4"/>
                    </small>
                    <span id="user-message-err"></span>


                  </div>
                  <span class="required_field">*Fields are required</span>
                  <a href="javascript:void(0);" class="send_your_request" data-style="slide-left" id="submitFrm" title="Send your request. We'll get back within 1 business day.">Send
                    your request. We'll get back within 1 business day.</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#contact_pdf_request").submit(function () {
                var proceed = true;
                //simple validation at client's end
                //loop through each field and we simply change border color to red for invalid fields
                $("#contact_form input[required=true]").each(function () {
                    $(this).css('border-color', '');
                    if (!$.trim($(this).val())) { //if this field is empty
                        $(this).css({'border': '1px solid #FF0000', 'box-shadow': '0 0 5px red'}); //change border color to red
                        proceed = false; //set do not proceed flag
                    }
                    //check invalid email
                    var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                    if ($(this).attr("type") == "email" && !email_reg.test($.trim($(this).val()))) {
                        $(this).css({'border': '1px solid #FF0000', 'box-shadow': '0 0 5px red'}); //change border color to red
                        proceed = false; //set do not proceed flag
                    }
                });

                if (proceed) //everything looks good! proceed...
                {

                    //data to be sent to server
                    var m_data = new FormData();
                    m_data.append('user_name', $('#contact_form input[name=name]').val());
                    m_data.append('user_email', $('#contact_form input[name=email]').val());
                    m_data.append('company_name', $('#contact_form input[name=company_name]').val());

                    if ($('#subscribe').is(':checked')) m_data.append('subscribe', 'Yes');
                    else m_data.append('subscribe', 'No');

                    //instead of $.post() I am using $.ajax()
                    //that's because $.ajax() has more options and flexibly.
                    $.ajax({
                        url: 'common/inc/contact_me.php',
                        data: m_data,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        dataType: 'json',
                        success: function (response) {
                            $('#contact_form input[name=name]').val('').css({
                                'border': '1px solid #cfcfcf',
                                'box-shadow': 'none'
                            });
                            $('#contact_form input[name=email]').val('').css({
                                'border': '1px solid #cfcfcf',
                                'box-shadow': 'none'
                            });
                            $('#contact_form input[name=company_name]').val('').css({
                                'border': '1px solid #cfcfcf',
                                'box-shadow': 'none'
                            });
                            $('#subscribe').prop('checked', false);

                            //load json data from server and output message
                            if (response.type == 'error') { //load json data from server and output message
                                output = '<div class="error">' + response.text + '</div>';
                            } else {
                                $('.contact-description').addClass('hide-me').hide();
                                $('#contact_body').addClass('hide-me').hide();
                                output = '<div class="success">' + response.text + '</div>';
                            }
                            $("#contact_form #contact_results").hide().html(output).slideDown();
                        }
                    });


                }
            });

            //reset previously set border colors and hide all message on .keyup()
            $("#contact_form  input[required=true]").keyup(function () {
                $(this).removeAttr("style");
                //$(".success, .error").slideUp();
            });
        });
    </script>

  </section>
  </div>
</section>