<!-- Mp Color -->
<div class="mp-color">
  <div class="icon inOut"><i class="fa fa-cog fa-spin"></i></div>
  <h4>Choose Color</h4>
  <span class="color1"></span>
  <span class="color2"></span>
  <span class="color3"></span>
  <span class="color4"></span>
  <span class="color5"></span>
  <span class="color6"></span>
  <span class="color7"></span>
  <span class="color8"></span>
</div>
<!--/ ENd Mp Color -->
