<div class="pop-up-box">
  <div class="pop-up">
    <span class="popup_cross"></span>
    <div class="pop-up-sec">
      <div class="pop-up-left">
        <p>ValueCoders goes much beyond the regular hiring of offshore teams. The clients are insured that their projects will never slow down. The stability of teams provided by ValueCoders is unmatched as we provide free immediate replacement of teams in case of any dissatisfaction whatsoever.</p>
        <ul>
          <li>Minimum optimum productivity guaranteed </li>
          <li>Get billed only if the performance is up to the mark </li>
          <li>Hire and review first and then move forward </li>
        </ul>
      </div>
      <div class="pop-up-right">
        <img src="common/images/popup_img1.png" alt="Billing Gaurantee- Logo - 1" />
      </div>
    </div>
  </div>
</div>
<div class="pop-up-box1">
  <div class="pop-up">
    <span class="popup_cross"></span>
    <div class="pop-up-sec">
      <div class="pop-up-left">
        <p>At ValueCoders we provide people who are passionate about their work. ValueCoders ensures you 100% satisfaction guarantee every single time. The professional are chosen on the basis of their ability to outperform their tasks.  We make sure, each of the personnel go through rigorous tests before coming on-board.</p>
        <ul>
          <li>Highly productive and qualified teams</li>
          <li>On-time project deliveries</li>
          <li>A collaborative and happy work culture </li>
        </ul>
      </div>
      <div class="pop-up-right">
        <img src="common/images/popup_img2.png" alt="Satisfaction Gaurantee- Logo - 2" />
      </div>
    </div>
  </div>
</div>
<div class="pop-up-box2">
  <div class="pop-up">
    <span class="popup_cross"></span>
    <div class="pop-up-sec">
      <div class="pop-up-left">
        <ul>
          <li>
						<span class="popup_icon popup_icon1">

						</span>
            Take a free trial of your development work, for a period of 2 weeks
          </li>
          <li>
						<span class="popup_icon popup_icon2">

						</span>
            Billing will be done after you are satisfied and decide to continue
          </li>
          <li>
						<span class="popup_icon popup_icon3">

						</span>
            No bill will be raised if you do-not wish to continue
          </li>
        </ul>
      </div>
      <div class="get-touch">
        <a href="request-free-trial" title="Get In Touch" >Request a free Trial</a>
      </div>
    </div>
  </div>
</div>
<div class="pop-up-box3">
  <div class="pop-up">
    <span class="popup_cross"></span>
    <div class="pop-up-sec">
      <div class="pop-up-right">
        <img src="common/images/popup3_img.jpg" alt="Outsource - Logo - 2" />
      </div>
      <div class="pop-up-left">
        <p class="contact-description">The cost advantages of outsourcing can be huge if it is executed with a long term plan in mind. Short term tactical hiring of remote teams may not bring fruitful results for the outsourcing customer. This E-book details out the challenges, solutions and strategies to better outsourcing.</p>
        <div class="form-style" id="contact_form">
          <div id="contact_results"></div>
          <div id="contact_body">
            <form name="contact_pdf_request" id="contact_pdf_request" method="post" onSubmit="return false;">
              <input type="text" placeholder="Contact Name" name="name" id="name" required="required" class="input-field"/>
              <input type="email" placeholder="Email" name="email" required="required" class="input-field"/>
              <input type="text" placeholder="Company Name" name="company_name" class="input-field"/>
              <label class="contct_checkbox" for="subscribe">
                <input type="checkbox" id="subscribe" name="subscribe" class="input-field input-checkbox" value='1' />
                <span class="label-text">&nbsp;&nbsp;Subscribe to our Newsletters, Updates &amp; Offers</span>
              </label>
              <input type="submit" id="submit_btn" value="Get Download Link" data-style="slide-left" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
