<!-- Preloader -->
<div class="loader">
  <div class="l-inner">
    <div class="k-spinner">
      <div class="k-bubble-1"></div>
      <div class="k-bubble-2"></div>
    </div>
  </div>
</div>
<!--/ End Preloader -->
