<section class="banking_finance_pg iso_pgN agencies_software_page">
  <section class="web_appl_dvl_newPG">
    <div class="banking_finance_bnner_sec_outr agencies_software_outer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="web_appl_dvl_bnner_sec">
              <h1>DIGITAL & MARKETING<span class="mobile_text"> SOFTWARE DEVELOPMENT </span></h1>
              <p class=" disply_block wow fadeIn animated" data-wow-delay=".3s"> Enhance ROI & manage daily
                workflows with "/contact"’ result driven Digital Marketing Software Development Services. We offer
                a bunch of solutions like Workflow Management apps, Legacy Migration Solutions, Marketing apps,
                Interactive websites, Analytic tools etc.

                Tailored For Digital & Marketing Agencies. </p>
              <ul class="wow fadeIn animated" data-wow-delay=".6s">
                <li class="web-icon1">100% Money Back Guarantee</li>
                <li class="web-icon2">On Time Delivery</li>
                <li class="web-icon3">Non-Disclosure Agreement</li>
                <li class="web-icon4">Better ROI</li>
              </ul>
              <div class="Web_dvl_button wow fadeInDown animated" data-wow-delay=".3s">
                <a href="contact" title=" contact us now "> contact us now </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="why_software_sec_agency">
    <div class="container">
      <div class="row">
        <div class="inner_sec">
          <h4 class="secssion_heading">Why A Software Development Partner?</h4>
          <div class="row_1">
            <div class="col-md-7 col-sm-7 col-xs-12">
              <p>Digital & Marketing Agencies have evolved tremendously in the past few years.
                Digitization and newer technologies have radically changed the trend of
                marketing. From Search engines, Social Media Platforms to Blogging Platforms,
                they are transforming this industry completely to a new world. However, this industry
                in highly dependant on technologies, and with the rapid change in customer demand,
                technological upgradation becomes a necessity. Moreover, as </p>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <figure>
                <img src="common/images/fainnince_page_chain.jpg" alt="Why A Software Development Partner" title="Why A Software Development Partner"/>
              </figure>
            </div>
          </div>
          <ul>
            <li>Worldwide spending for IT Outsourcing services is
              288 Billion
            </li>
            <li> 10% growth in ITO industry is expected every upcoming years</li>
            <li> 60% of total IT outsourcing
              is done from Indian companies
            </li>
            <li> 89% of global clients are
              satisfied with their IT
              outsourcing results.
            </li>
          </ul>
          <h6 class="pd">It becomes inevitable for digital & marketing agencies to hire a software development
            partner.
            As a tech expert, ValueCoders meets all the technology related needs of such businesses and help them to
            serve their customers better. Are you looking for a Software Development Partner?</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <a class="btn btn-discuss-reqr wow fadeInDown  animated" data-wow-delay=".1s" href="contact" style="visibility: visible; animation-delay: 0.1s;">CONTACT
            US TODAY</a></div>
      </div>
    </div>
  </section>
  <section class="key_challenges key_challenges_agency">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="inner_sec">
            <h4 class="secssion_heading">Key Challenges For Digital & Marketing Agencies </h4>
            <p>Being a vast industry, there are many challenges to be addressed repeatedly</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="box_sec_main">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <div class="img_box">
                <figure><img src="common/images/agency_1.png" alt="Rapid Changes" title="Rapid Changes"/></figure>
              </div>
              <h4>Rapid Changes</h4>
              <p>The digital space is ever changing. Companies need to update themselves very quickly in order to
                sustain in the market and achieve competitive advantage.
                For that, technical advancements are very crucial for a strong backbone. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <div class="img_box">
                <figure><img src="common/images/agency_2.png" alt="Data Management" title="Data Management"/>
                </figure>
              </div>
              <h4>Data Management</h4>
              <p>With tons of data produced everyday it's hard to manage such valuables without proper technical
                expertise. It also brings security threats and other casualties.
                Hence, strong technical expertise is required to manage data on
                a daily basis. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <div class="img_box">
                <figure><img src="common/images/agency_3.png" alt="Risk Management" title="Risk Management"/>
                </figure>
              </div>
              <h4>Risk Management</h4>
              <p> Integrating governance commonalities & risk entities into your business can play a significant
                role in decision making. With process standardization enterprises become capable of adapting
                regulations to head for strong future.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="can_help_agencies_software_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="ourecommerce_innr">
            <h3 class="secssion_heading">How ValueCoders Can Help</h3>
            <p>ValueCoders helps Digital & Marketing Agencies with it’s innovative solutions for cost reductions,
              margin improvement and
              transforming their existing operations to cope up with the rapidly changing market trends.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner">
            <small class="Dservices_icon1"></small>
            <h4>Latest Technologies</h4>
            <p>We at ValueCoders have expertise in providing
              software development services utilizing the latest technologies so that the customers get a
              personalized and enhanced experience ahead of competition. </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner">
            <small class="Dservices_icon2"></small>
            <h4>Data Analysis</h4>
            <p>We understand that it can be hard for
              businesses to manage large amount of data every day. Our data analysts ensure complete management of
              data so that workflows go smoothly. </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner">
            <small class="Dservices_icon3"></small>
            <h4>Effective Operations</h4>
            <p>With our solution offerings your financial business is empowered with the ability to maximize
              efficiency, reduce risk factors and minimize expenses. We have enabled many of our clients to
              establish technological excellence with quality assurance.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <a class="btn btn-discuss-reqr wow fadeInDown    animated" data-wow-delay=".1s" href="contact" style="visibility: visible; animation-delay: 0.1s;">
            contact us now </a></div>
      </div>
    </div>
  </section>
  <section class="agencies_softwar_services">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="inner_sec">
            <h4 class="secssion_heading">Our Solutions For Digital & Marketing Agencies</h4>
            <p>At,ValueCoders, we have dedicated development teams who are experts in building business solutions
              according to
              the specific client requirements of digital & marketing agencies. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="img_box_main">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Marketing tools & <br>
                Software</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Marketing Management <br>
                Portals</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Online Marketing Software <br>
                & Apps </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> SEO Analysis Applications</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Portfolio Management <br>
                Applications</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Online Operations Management <br>
                Apps </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <a class="btn btn-discuss-reqr wow fadeInDown      animated" data-wow-delay=".1s" href="contact" style="visibility: visible; animation-delay: 0.1s;">
            contact us now </a></div>
      </div>
    </div>
  </section>
  <section class="what_service_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="ourecommerce_innr">
            <h3 class="secssion_heading">What Services Can You Opt From ValueCoders?</h3>
            <p>ValueCoders offers a range of services that can help you to meet your industry specific technological
              needs in a better way. </p>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:25px;">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner"><a href="application-development">
            <small class="Dservices_icon1"></small>
          </a>
            <div class="content_box">
              <h4><a href="application-development">WEB/MOBILE APPLICATION DEVELOPMENT</a></h4>
              <p>We build high performance
                software apps for both web &
                mobile leveraging the best of
                platform capabilities and offering
                a premium user-experience. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner"><a href="application-maintenance">
            <small class="Dservices_icon2"></small>
          </a>
            <div class="content_box">
              <h4><a href="application-maintenance">APPLICATION SUPPORT & MAINTENANCE</a></h4>
              <p>Sustain your existing software
                applications to reduce costs.
                We help you focus on your
                business and leave the
                headache of ongoing application
                maintenance to us. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner"><a href="application-modernization">
            <small class="Dservices_icon3"></small>
          </a>
            <div class="content_box">
              <h4><a href="application-modernization">APPLICATION MODERNIZATION</a></h4>
              <p>Transform legacy applications
                to state of art technologies and
                modern architecture to stay
                relevant and deliver greater
                business value. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner"><a href="testing-qa">
            <small class="Dservices_icon4"></small>
          </a>
            <div class="content_box border">
              <h4><a href="testing-qa">TESTING <br>
                & QA</a></h4>
              <p>ValueCoders provides hassle free
                and precise testing and quality
                analysis(QA) services catering to
                diverse business requirements. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="application_development_sec">
    <div class="top_sec">
      <h3 class="secssion_heading"> Digital & Marketing Case Studies </h3>
      <p> Here are some project case studies that are completed by our software developers.
      </p>
    </div>
    <section class="samples-dev">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="col-12">
              <div class="box box1">
                <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="box-inner">
                  <h4> Online KRA & KPI Management Software </h4>
                  <div class="hover-cont">
                    <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <div class="cross-icon"><a href="javascript:void(0);">x</a></div>
                    <h3> Online KRA & KPI Management Software </h3>
                    <p> Online KRA & KPI Management Software: Well-structured KRA’s and KPI’s enable employees to
                      get a clear understanding of what important areas need to be attended to and what work needs
                      to be focussed on, how that can be measured and monitored. A Custom Online KRA & KPI
                      Management Software makes it easy to walk through the road when compared to a manual
                      process.</p>
                    <div class="button-full">
                      <a href="case-studies/online-kra-kpi-management-software" target="_blank">full case study</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="col-3">
              <div class="box box2">
                <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="box-inner">
                  <h4> Business Process Management Tool </h4>
                  <div class="hover-cont">
                    <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <h3> Business Process Management Tool </h3>
                    <p> Business Process Management Tool: Building an integrated Business Management Tool to manage
                      organization's workflow more effective, more efficient and more capable of adapting to an
                      ever-changing environment.</p>
                    <div class="button-full">
                      <a href="case-studies/business-process-management" target="_blank">full case study</a></div>
                  </div>
                </div>
              </div>
              <div class="box box3">
                <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="box-inner">
                  <h4> Order Management System Based on SYSPRO </h4>
                  <div class="hover-cont">
                    <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <h3> Order Management System Based on SYSPRO </h3>
                    <p> Order Management System Based on SYSPRO: ValueCoders developed a middleware solution which
                      would interact with SYSPRO at the backend and the ecommerce site at the front end and with
                      seamless integration for the orders into the production schedule. </p>
                    <div class="button-full">
                      <a href="case-studies/order-management-system" target="_blank">full case study</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="box box4">
                <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="box-inner">
                  <h4> Video Conferecning Platform </h4>
                  <div class="hover-cont">
                    <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <h3> Video Conferecning Platform </h3>
                    <p> Video Conferecning Platform: A video conferencing platform is designed for businesses to
                      have one-on-one business conversations among themselves. </p>
                    <div class="button-full">
                      <a href="case-studies/video-conferencing-platform" target="_blank">full case study</a></div>
                  </div>
                </div>
              </div>
              <div class="box box5">
                <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="box-inner">
                  <h4> Shopping Network App for Android and iOS </h4>
                  <div class="hover-cont">
                    <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <h3> Shopping Network App for Android and iOS </h3>
                    <p> Shopping Network App:Our clients, a very known content management and advertising services
                      and they required a shopping-network mobile app for empowering potential buyers. This app
                      enables potential buyers to browse shops, categories, and products by using their mobile
                      devices and download discount coupons offered by various shop owners. </p>
                    <div class="button-full">
                      <a href="case-studies/shopping-network-app-android-and-ios" target="_blank">full case
                        study</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="client_testimonila_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="testmonilas_innr">
            <h3 class="secssion_heading">CLIENT TESTIMONIALS </h3>
            <p>Still not convinced? See what our customers are saying..</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="testimonial_slide1 owl-carousel owl-theme col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="item">
            <div class="development_services_inner"> <span> “
                
               In my opinion ValueCoders is a stress buster. I have had the most peaceful time with ValueCoders by my side taking care of all my complicated website development. All I did was to wait for their prompt email updates in my inbox.
                
                ” </span>
              <h4>- Cathy Wise </h4>
            </div>
          </div>
          <div class="item">
            <div class="development_services_inner"> <span>“
                
               Understanding the needs of customers is the key to any successful business. They perfectly understand these needs and know how to make them applicable. They are world-class experts in this field and they are more eager than us to get the project done! They are exceptionally reliable and highly efficient.
                
                ” </span>
              <h4> - Krystal Norris </h4>
            </div>
          </div>


        </div>
        <div style="visibility: visible; animation-delay: 0.1s;" data-wow-delay=".1s" class="col-lg-2 col-md-12 col-sm-12 col-xs-12 wow rotateInDownLeft   animated animated animated animated animated">
          <div class="development_services_inner">
            <div class="img_box"><img src="common/images/ios_testomonila131217.png"/></div>
          </div>
        </div>
        <div class="testimonial_slide2 col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="item">
            <div class="development_services_inner "> <span>“
                
               With ValueCoders I have experienced a lot of 'firsts'. I noticed that they never shied away from innovating especially with technologies that were a bit old. Their belief in the power of combination and permutation is astounding as they took the best of all.
                
                ” </span>
              <h4>- - Daisy Banks </h4>
            </div>
          </div>
          <div class="item">
            <div class="development_services_inner "> <span>“
                
             I am looking forward to work with ValueCoders in the near future. ValueCoders, through their exceptional service culture, has found a place in our provider list despite them being new to us. They took the least time to impress.
                
                ” </span>
              <h4>- Eddie May </h4>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>


  <footer class="footeFormr">


    <script type="text/javascript" src="common/js/scriptcontact.js"></script>
    <link rel="stylesheet" type="text/css" href="common/css/style_ios.css"/>
    <script>
        function showShareURL() {
            $("#share_url").show();
            $("#label_share_url").hide();
        }
    </script>
    <style>
      .input-group .err {
        position: absolute;
        right: 10px;
        top: 0;
        color: #ff1d1d;
        font: 12px/48px aller_lightregular;
        z-index: 10;
      }

      .footerInner .chain {
        display: inline-block;
        float: left;
        margin-right: 195px;
        margin-top: 10px;
        width: 30%;
      }


      chain::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: pink;
      }

      ::-moz-placeholder { /* Firefox 19+ */
        color: pink;
      }

      :-ms-input-placeholder { /* IE 10+ */
        color: pink;
      }

      :-moz-placeholder { /* Firefox 18- */
        color: pink;
      }


      .chain > span {
        display: inline-block;
        padding-top: 14px;
        color: #625959 !important;
      }


      .drop {
        border: 1.5px dashed hsl(0, 0%, 24%);
        color: hsl(0, 0%, 38%);
        display: inline-block;
        font: 400 16px/26px Lato;
        margin: 0 75px;
        padding: 3px 12px;
        position: relative;
        text-decoration: none;
      }

      @media only screen and (max-width: 1199px) {
        .drop {
          border: 1px solid hsl(0, 0%, 24%);
          color: hsl(0, 0%, 38%);
          display: inline-block;
          font: 400 16px/26px Lato;
          margin: 0 15px;
          padding: 3px 12px;
          position: relative;
          text-decoration: none;
        }

        .footerInner .chain {
          display: inline-block;
          float: right;
          margin-right: 145px;
          margin-top: 12px;
          width: 30%;
        }


      }


      @media only screen and (max-width: 991px) {

        .drop {
          border: 1px solid hsl(0, 0%, 24%);
          color: hsl(0, 0%, 38%);
          display: inline-block;
          font: 400 16px/26px Lato;
          margin: 0;
          padding: 3px 12px;
          position: relative;
          text-decoration: none;
        }


        .footerInner .chain {
          display: inline-block;
          margin-right: 25px;
          margin-top: 28px;
          width: 40%;
        }

        .rating_outer .social-btn {
          margin-top: 20px !important;
        }

      }


      @media only screen and (max-width: 767px) {
        .footerInner .chain {
          display: inline-block;
          float: right;
          margin-right: 0;
          margin-top: 0px;
          padding: 0 20px;
          margin-bottom: 5px;
          width: 100%;
        }


        .footerInner .btn {
          margin-top: 6px;
          padding: 12px 20px;
          text-transform: uppercase;
        }


      }

      @media only screen and (max-width: 479px) {

        .footerInner .btn {
          background-color: hsl(91, 100%, 35%);
          font: 400 17px/30px Lato;
          margin-bottom: 20px;
          margin-top: 11px;
          padding: 12px 20px;
          text-transform: uppercase;
        }


      }


    </style>


    <div class="container">
      <div class="footerInner">
        <div class="footerHeadder text-center">
          <h2 class="secssion_heading">Get in touch</h2>
          <p>Request a free consultation and get a no obligation quote for your project within 8 hours</p>
        </div>
        <div class="footerFormBody">
          <form name="contact-frm" id="contact-frm" action="sendmail1.php" class="form-outer" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group"><span class="input-group-addon"> <i class="fa fa-user"></i> </span>
                  <input type="text" class="form-control" placeholder="Your Name *" name="user-name" id="user-name"/>
                  <span id="user-name-err1" class="err"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group"><span class="input-group-addon"> <i class="fa fa-envelope"></i> </span>
                  <input type="text" class="form-control" placeholder="Email ID *" name="user-email" id="user-email"/>
                  <span id="user-email-err" class="err"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group"><span class="input-group-addon"> <i class="fa fa-phone"></i> </span>
                  <input type="text" class="form-control" placeholder="Phone" name="user-phone" id="user-phone"/>
                  <span id="user-phone-err" class="err"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group budujt" style="width:100%;">
                  <span class="input-group-addon"> <i class="fa fa-usd"></i> </span>
                  <select class="citySelectze form-control" style="width:100%;" name="user-budget">
                    <option>What is your alloted budget?</option>
                    <option value="$1000"><$1000</option>
                    <option value="$1000-$5000">$1000-$5000</option>
                    <option value="$5000-$10000">$5000-$10000</option>
                    <option value="$10000 or more">>$10000</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon" style="vertical-align:top;"> <i class="fa fa-server"></i> </span>
                  <textarea type="text" class="form-control" placeholder="Your Requirements" name="user-req" id="user-req"></textarea>
                  <span id="user-message-err" class="err"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <div id="uploadcontact">
                  <div id="dropcontact">
                    <label for="file-3">
                      <span class="fileUload" style="color: #616161;display: inline-block;position: relative;font: 400 16px/26px Lato;text-decoration: none;padding: 12px 20px 0 0;margin-bottom: 20px;"><i class="fa fa-file-text-o"></i> &nbsp;Upload your file.</span>
                      <span class="drop"><i class="fa fa-dropbox"></i> &nbsp;Drop files here</span>


                    </label>
                    <input type="file" name="upl" id="file-3" class="inputfile inputfile-3"/>
                  </div>
                  <ul></ul>
                </div>
                <div class="file-format">
                  <span id="filetext" style="display:none;"></span>
                  <label> </label>
                </div>
              </div>
              <div class="chain">
                <span onclick="showShareURL();" id="label_share_url"><i class="fa fa-link"></i> &nbsp;Share Dropbox or Other Url</span>
                <div class="input-group" id="share_url" style="display:none;">
                  <span class="input-group-addon"> <i class="fa fa-link"></i> </span>
                  <input type="text" class="form-control" placeholder="Share Dropbox or Other Url" name="customUrllink" id="user-url" maxlength="100"/>
                </div>
              </div>
              <!--<div class="col-sm-12"> <a href="javascript:void(0);" class="fileUload" onclick="document.getElementById('footerFormFile').click();"> <i class="fa fa-file-text-o"></i> &nbsp;Upload your file.</a>
               <a href="#" class="drop"> <i class="fa fa-dropbox"></i> &nbsp;Drop files here </a>
              <a href="#" class="chain"> <i class="fa fa-link"></i> &nbsp;Share Dropbox or Other Url </a>

                <input type="file" id="footerFormFile" />
                <span id="filetext" style="display:none;"></span> <br>
                <label> Accepted file Formats: <span> .PSD, .JPG, .JPEG, .GIF, .PNG, .AI, .ZIP,
                  .RAR, .PDF, .DOC, .DOCX, .XLS, .XLSX, .PPT. </span> If file size is greater than
                  20MB,
                  Please share using Dropbox or similar. </label>
              </div>-->
              <div class="btn_main">
                <div class="formfooter text-center">
                  <button class="btn btn-success" id="submitFrm">Send your request</button>
                  <p class="privacy"><i class="fa fa-lock"></i> Your privacy is guaranteed. We hate spam as much as
                    you do! </p>
                </div>
              </div>
            </div>
            <input type="hidden" name="frmOrderFileUploadedfilename" id="frmOrderFileUploadedfilename" value=""/>
            <input type="hidden" name="_frmOrder" value="frmOrder"/>
            <input type="hidden" name="type" value="contact-frm"/>
            <input type="hidden" name="frmqueryString" id="frmqueryString" value=""/>
          </form>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </footer>


  <script type="text/javascript">

      equalheight = function (container) {
          var currentTallest = 0,
              currentRowStart = 0,
              rowDivs = new Array(),
              $el,
              topPosition = 0;
          $(container).each(function () {
              $el = $(this);
              $($el).height('auto')
              topPostion = $el.position().top;

              if (currentRowStart != topPostion) {
                  for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                      rowDivs[currentDiv].height(currentTallest);
                  }
                  rowDivs.length = 0; // empty the array
                  currentRowStart = topPostion;
                  currentTallest = $el.height();
                  rowDivs.push($el);
              } else {
                  rowDivs.push($el);
                  currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
              }
              for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                  rowDivs[currentDiv].height(currentTallest);
              }
          });
      }
      $(window).load(function () {
          equalheight('.eql_height');
          equalheight('.eql_height2');
          equalheight('.eql_height3');
          equalheight('.eql_height4');
          equalheight('.eql_height5');
          equalheight('.eql_height6');
          equalheight('.eql_height7');
          equalheight('.eql_height1');

      });
      $(window).resize(function () {
          equalheight('.eql_height');
          equalheight('.eql_height2');
          equalheight('.eql_height3');
          equalheight('.eql_height4');
          equalheight('.eql_height5');
          equalheight('.eql_height6');
          equalheight('.eql_height7');
          equalheight('.eql_height1');
      });


      $(".hire_dev_sec .hire_dev_sec-right ul li").addClass("eql1_height");

      if ($(window).width() < 768) {
          $(".hire_dev_sec .hire_dev_sec-right .hire_dev_right-inner").removeClass("eql_height");
      } else {

      }


  </script>

  <script type="text/javascript">
      $(document).ready(function () {
          $("#contact_pdf_request").submit(function () {
              var proceed = true;
              //simple validation at client's end
              //loop through each field and we simply change border color to red for invalid fields
              $("#contact_form input[required=true]").each(function () {
                  $(this).css('border-color', '');
                  if (!$.trim($(this).val())) { //if this field is empty
                      $(this).css({'border': '1px solid #FF0000', 'box-shadow': '0 0 5px red'}); //change border color to red
                      proceed = false; //set do not proceed flag
                  }
                  //check invalid email
                  var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                  if ($(this).attr("type") == "email" && !email_reg.test($.trim($(this).val()))) {
                      $(this).css({'border': '1px solid #FF0000', 'box-shadow': '0 0 5px red'}); //change border color to red
                      proceed = false; //set do not proceed flag
                  }
              });

              if (proceed) //everything looks good! proceed...
              {

                  //data to be sent to server
                  var m_data = new FormData();
                  m_data.append('user_name', $('#contact_form input[name=name]').val());
                  m_data.append('user_email', $('#contact_form input[name=email]').val());
                  m_data.append('company_name', $('#contact_form input[name=company_name]').val());

                  if ($('#subscribe').is(':checked')) m_data.append('subscribe', 'Yes');
                  else m_data.append('subscribe', 'No');

                  //instead of $.post() we are using $.ajax()
                  //that's because $.ajax() has more options and flexibly.
                  $.ajax({
                      url: 'common/inc/contact_me.php',
                      data: m_data,
                      processData: false,
                      contentType: false,
                      type: 'POST',
                      dataType: 'json',
                      success: function (response) {
                          $('#contact_form input[name=name]').val('').css({
                              'border': '1px solid #cfcfcf',
                              'box-shadow': 'none'
                          });
                          $('#contact_form input[name=email]').val('').css({
                              'border': '1px solid #cfcfcf',
                              'box-shadow': 'none'
                          });
                          $('#contact_form input[name=company_name]').val('').css({
                              'border': '1px solid #cfcfcf',
                              'box-shadow': 'none'
                          });
                          $('#subscribe').prop('checked', false);

                          //load json data from server and output message
                          if (response.type == 'error') { //load json data from server and output message
                              output = '<div class="error">' + response.text + '</div>';
                          } else {
                              $('.contact-description').addClass('hide-me').hide();
                              $('#contact_body').addClass('hide-me').hide();
                              output = '<div class="success">' + response.text + '</div>';
                          }
                          $("#contact_form #contact_results").hide().html(output).slideDown();
                      }
                  });


              }
          });

          //reset previously set border colors and hide all message on .keyup()
          $("#contact_form  input[required=true]").keyup(function () {
              $(this).removeAttr("style");
              //$(".success, .error").slideUp();
          });
      });
  </script>

</section>
