<section class="banking_finance_pg iso_pgN media_software_page">
  <section class="web_appl_dvl_newPG">
    <div class="banking_finance_bnner_sec_outr media_software_outer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="web_appl_dvl_bnner_sec">
              <h1>Media <span class="cl mobile_text"> & Entertainment</span></h1>
              <p class=" disply_block wow fadeIn animated" data-wow-delay=".3s"> Unlock the world of exposure by
                choosing a core Media and Entertainment app development company. We at ValueCoders offer gaming
                application development, media app development, digital SCM, ERP /CRM solutions, Salesforce
                automation and many more for media and entertainment industry.
              </p>
              <ul class="wow fadeIn animated" data-wow-delay=".6s">
                <li class="web-icon1">100% Money Back Guarantee</li>
                <li class="web-icon2">On Time Delivery</li>
                <li class="web-icon3">Non-Disclosure Agreement</li>
                <li class="web-icon4">Better ROI</li>
              </ul>
              <div class="Web_dvl_button wow fadeInDown animated" data-wow-delay=".3s">
                <a href="contact" title="contact us now"> contact us now </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="why_software_sec">
    <div class="container">
      <div class="row">
        <div class="inner_sec">
          <h4 class="secssion_heading">Why A Software Development Partner?</h4>
          <div class="row_1">
            <div class="col-md-7 col-sm-7 col-xs-12">
              <p> Researchers say that the media & entertainment industry will
                foresee a growth rate of 5.7 % in the upcoming years. The
                estimated revenue over the next 5 years sums up to 2.1 trillion.
                Media products such as Twitter, Facebook and YouTube and
                online games like Pokemon Go or Farmville have proved to be
                successful business avenues for companies. The drastic change
                in the perspective of online consumer is quite evident and enterprises
                can acquire their market share only by harnessing the power
                of technology. </p>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <figure>
                <img src="common/images/fainnince_page_chain.jpg" alt="Why A Software Development Partner" title="Why A Software Development Partner"/>
              </figure>
            </div>
          </div>
          <h6 class="pd"> As a tech expert, ValueCoders meets all the technology related needs of such businesses
            and help them to serve their customers better. Are you looking for a Software Development Partner? </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <a class="btn btn-discuss-reqr wow fadeInDown  animated" data-wow-delay=".1s" href="contact" style="visibility: visible; animation-delay: 0.1s;">CONTACT
            US TODAY</a></div>
      </div>
    </div>
  </section>
  <section class="key_challenges">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="inner_sec">
            <h4 class="secssion_heading">Key Challenges For Media & Entertainment Industry </h4>
            <p>Being one of the most dynamic industry, there are many challenges to be addressed repeatedly</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="box_sec_main">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <div class="img_box">
                <figure>
                  <img src="common/images/media-software_icon1.png" alt="Multiple Platforms" title="Multiple Platforms"/>
                </figure>
              </div>
              <h4 class="font">Multiple Platforms</h4>
              <p class="font_size">Digital consumers diversify their experience, utilizing plethora of devices such
                as smart phones, tablets, desktops and laptops, to access diversified media dimensions. Developing
                native applications that can be accessed from multiple platforms will meet market demands.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <div class="img_box">
                <figure>
                  <img src="common/images/media-software_icon2.png" alt="Process Management" title="Process Management"/>
                </figure>
              </div>
              <h4 class="font">Process Management</h4>
              <p class="font_size"> Managing an entire business process is not easy, especially when it comes to
                media & entertainment. Organisations should be aware of the need to guard against the risk of
                failing to comply with this multitude of regulation as well as managing day-to-day operational
                risks. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <div class="img_box">
                <figure>
                  <img src="common/images/media-software_icon3.png" alt="User Experience" title="User Experience"/>
                </figure>
              </div>
              <h4 class="font">User Experience</h4>
              <p class="font_size"> Owing to the high competition in the industry, rendering unique user experience
                is cardinal. Your media applications must be well-executed, and well-tested to enable users make the
                most out of it. Even a slight technical glitch in app can amount to cause damage. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="can_help_media_software_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="ourecommerce_innr">
            <h3 class="secssion_heading">How ValueCoders Can Help</h3>
            <p> ValueCoders helps Media & Entertainment companies with it’s innovative solutions for cost
              reductions, margin improvement and transforming their existing operations to cope up with the rapidly
              changing market trends.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner">
            <small class="Dservices_icon1"></small>
            <h4>Multi-Channel Approach</h4>
            <p> At ValueCoders, we offer media solutions that have
              a multi-channel approach. We are focused on
              enhancing customer experience and creating new revenue-generating ventures with our
              broad-spectrum solutions </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner">
            <small class="Dservices_icon2"></small>
            <h4> Process Optimization </h4>
            <p> As Media & Entertainment industries are required to cater to millions of customers across globe,
              ValueCoders offers round-the-clock support and optimization services that elevate revenue and enhance
              customer satisfaction </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner">
            <small class="Dservices_icon3"></small>
            <h4>Simplifying Collaboration</h4>
            <p> Solutions rendered by ValueCoders simplifies the collaboration process amongst designers and
              engineers and suppliers and OEMs across engineering disciplines, removing the barriers and propagating
              innovation across the development ecosystem.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <a class="btn btn-discuss-reqr wow fadeInDown    animated" data-wow-delay=".1s" href="contact" style="visibility: visible; animation-delay: 0.1s;">contact
            us now</a></div>
      </div>
    </div>
  </section>
  <section class="media_software_services">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="inner_sec">
            <h4 class="secssion_heading">Our Solutions For Media & Entertainment Industry</h4>
            <p> At ValueCoders, we have dedicated development teams who are experts in building business solutions
              according to the specific client requirements of media and entertainment. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="img_box_main">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Salesforce Automation <br>
                Solutions </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Workflow Management <br>
                Applications </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Video & Audio Streaming <br>
                Apps </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Full-Cycle ERP /CRM <br>
                Solutions </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Content Management <br>
                Software </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <p> Legacy Migration <br>
                Solutions </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <a class="btn btn-discuss-reqr wow fadeInDown      animated" data-wow-delay=".1s" href="contact" style="visibility: visible; animation-delay: 0.1s;">contact
            us now</a></div>
      </div>
    </div>
  </section>
  <section class="what_service_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="ourecommerce_innr">
            <h3 class="secssion_heading">What Services Can You Opt From ValueCoders?</h3>
            <p>ValueCoders offers a range of services that can help you to meet your industry specific technological
              needs in a better way. </p>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:25px;">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner"><a href="application-development">
            <small class="Dservices_icon1"></small>
          </a>
            <div class="content_box">
              <h4><a href="application-development">WEB/MOBILE APPLICATION DEVELOPMENT</a></h4>
              <p>We build high performance
                software apps for both web &
                mobile leveraging the best of
                platform capabilities and offering
                a premium user-experience. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner"><a href="application-maintenance">
            <small class="Dservices_icon2"></small>
          </a>
            <div class="content_box">
              <h4><a href="application-maintenance">APPLICATION SUPPORT & MAINTENANCE</a></h4>
              <p>Sustain your existing software
                applications to reduce costs.
                We help you focus on your
                business and leave the
                headache of ongoing application
                maintenance to us. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner"><a href="application-modernization">
            <small class="Dservices_icon3"></small>
          </a>
            <div class="content_box">
              <h4><a href="application-modernization">APPLICATION MODERNIZATION</a></h4>
              <p>Transform legacy applications
                to state of art technologies and
                modern architecture to stay
                relevant and deliver greater
                business value. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow rotateInDownLeft animated animated animated animated animated animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
          <div class="development_services_inner"><a href="testing-qa">
            <small class="Dservices_icon4"></small>
          </a>
            <div class="content_box border">
              <h4><a href="testing-qa">TESTING <br>
                & QA</a></h4>
              <p>ValueCoders provides hassle free
                and precise testing and quality
                analysis(QA) services catering to
                diverse business requirements. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="application_development_sec">
    <div class="top_sec">
      <h3 class="secssion_heading"> Media and Entertainment Case Studies </h3>
      <p> Here are some project case studies that are completed by our software developers.
      </p>
    </div>
    <section class="samples-dev">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="col-12">
              <div class="box box1">
                <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="box-inner">
                  <h4> Website Search Customization </h4>
                  <div class="hover-cont">
                    <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <div class="cross-icon"><a href="javascript:void(0);">x</a></div>
                    <h3> Website Search Customization </h3>
                    <p> Website Search Customization: An advanced website search helps your users to find what they
                      are searching for without leaving the website. Apart from that right placement of your
                      subscription forms and call to actions help you build a large customer base. </p>
                    <div class="button-full">
                      <a href="case-studies/website-search-customization" target="_blank">full case study</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="col-3">
              <div class="box box2">
                <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="box-inner">
                  <h4>Online KRA & KPI Management Software</h4>
                  <div class="hover-cont">
                    <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <h3>Online KRA & KPI Management Software</h3>
                    <p> Online KRA & KPI Management Software: Well-structured KRA’s and KPI’s enable employees to
                      get a clear understanding of what important areas need to be attended to and what work needs
                      to be focussed on, how that can be measured and monitored. A Custom Online KRA & KPI
                      Management Software makes it easy to walk through the road when compared to a manual
                      process. </p>
                    <div class="button-full">
                      <a href="case-studies/story-book-app-ipad" target="_blank">full case study</a></div>
                  </div>
                </div>
              </div>
              <div class="box box3">
                <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="box-inner">
                  <h4> Business Process Management Tool </h4>
                  <div class="hover-cont">
                    <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <h3> Business Process Management Tool </h3>
                    <p>Business Process Management Tool: Building an integrated Business Management Tool to manage
                      organization's workflow more effective, more efficient and more capable of adapting to an
                      ever-changing environment. </p>
                    <div class="button-full">
                      <a href="case-studies/business-process-management" target="_blank">full case study</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="box box4">
                <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="box-inner">
                  <h4> Order Management System Based on SYSPRO </h4>
                  <div class="hover-cont">
                    <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <h3> Order Management System Based on SYSPRO </h3>
                    <p> Order Management System Based on SYSPRO: ValueCoders developed a middleware solution which
                      would interact with SYSPRO at the backend and the ecommerce site at the front end and with
                      seamless integration for the orders into the production schedule. </p>
                    <div class="button-full">
                      <a href="case-studies/order-management-system" target="_blank">full case study</a></div>
                  </div>
                </div>
              </div>
              <div class="box box5">
                <div class="click_icons_sample"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="box-inner">
                  <h4> Video Conferecning Platform </h4>
                  <div class="hover-cont">
                    <div class="close_icons_sample"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <h3> Video Conferecning Platform </h3>
                    <p> Video Conferecning Platform: A video conferencing platform is designed for businesses to
                      have one-on-one business conversations among themselves. </p>
                    <div class="button-full">
                      <a href="case-studies/video-conferencing-platform" target="_blank">full case study</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="client_testimonila_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="testmonilas_innr">
            <h3 class="secssion_heading">CLIENT TESTIMONIALS </h3>
            <p>Still not convinced? See what our customers are saying..</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="testimonial_slide1 owl-carousel owl-theme col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="item">
            <div class="development_services_inner"> <span> “
                
               In my opinion ValueCoders is a stress buster. I have had the most peaceful time with ValueCoders by my side taking care of all my complicated website development. All I did was to wait for their prompt email updates in my inbox.
                
                ” </span>
              <h4>- Cathy Wise </h4>
            </div>
          </div>
          <div class="item">
            <div class="development_services_inner"> <span>“
                
               Understanding the needs of customers is the key to any successful business. They perfectly understand these needs and know how to make them applicable. They are world-class experts in this field and they are more eager than us to get the project done! They are exceptionally reliable and highly efficient.
                
                ” </span>
              <h4> - Krystal Norris </h4>
            </div>
          </div>


        </div>
        <div style="visibility: visible; animation-delay: 0.1s;" data-wow-delay=".1s" class="col-lg-2 col-md-12 col-sm-12 col-xs-12 wow rotateInDownLeft   animated animated animated animated animated">
          <div class="development_services_inner">
            <div class="img_box"><img src="common/images/ios_testomonila131217.png"/></div>
          </div>
        </div>
        <div class="testimonial_slide2 col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="item">
            <div class="development_services_inner "> <span>“
                
               With ValueCoders I have experienced a lot of 'firsts'. I noticed that they never shied away from innovating especially with technologies that were a bit old. Their belief in the power of combination and permutation is astounding as they took the best of all.
                
                ” </span>
              <h4>- - Daisy Banks </h4>
            </div>
          </div>
          <div class="item">
            <div class="development_services_inner "> <span>“
                
             I am looking forward to work with ValueCoders in the near future. ValueCoders, through their exceptional service culture, has found a place in our provider list despite them being new to us. They took the least time to impress.
                
                ” </span>
              <h4>- Eddie May </h4>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>


  <footer class="footeFormr">


    <script type="text/javascript" src="common/js/scriptcontact.js"></script>
    <link rel="stylesheet" type="text/css" href="common/css/style_ios.css"/>
    <script>
        function showShareURL() {
            $("#share_url").show();
            $("#label_share_url").hide();
        }
    </script>
    <style>
      .input-group .err {
        position: absolute;
        right: 10px;
        top: 0;
        color: #ff1d1d;
        font: 12px/48px aller_lightregular;
        z-index: 10;
      }

      .footerInner .chain {
        display: inline-block;
        float: left;
        margin-right: 195px;
        margin-top: 10px;
        width: 30%;
      }


      chain::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: pink;
      }

      ::-moz-placeholder { /* Firefox 19+ */
        color: pink;
      }

      :-ms-input-placeholder { /* IE 10+ */
        color: pink;
      }

      :-moz-placeholder { /* Firefox 18- */
        color: pink;
      }


      .chain > span {
        display: inline-block;
        padding-top: 14px;
        color: #625959 !important;
      }


      .drop {
        border: 1.5px dashed hsl(0, 0%, 24%);
        color: hsl(0, 0%, 38%);
        display: inline-block;
        font: 400 16px/26px Lato;
        margin: 0 75px;
        padding: 3px 12px;
        position: relative;
        text-decoration: none;
      }

      @media only screen and (max-width: 1199px) {
        .drop {
          border: 1px solid hsl(0, 0%, 24%);
          color: hsl(0, 0%, 38%);
          display: inline-block;
          font: 400 16px/26px Lato;
          margin: 0 15px;
          padding: 3px 12px;
          position: relative;
          text-decoration: none;
        }

        .footerInner .chain {
          display: inline-block;
          float: right;
          margin-right: 145px;
          margin-top: 12px;
          width: 30%;
        }


      }


      @media only screen and (max-width: 991px) {

        .drop {
          border: 1px solid hsl(0, 0%, 24%);
          color: hsl(0, 0%, 38%);
          display: inline-block;
          font: 400 16px/26px Lato;
          margin: 0;
          padding: 3px 12px;
          position: relative;
          text-decoration: none;
        }


        .footerInner .chain {
          display: inline-block;
          margin-right: 25px;
          margin-top: 28px;
          width: 40%;
        }

        .rating_outer .social-btn {
          margin-top: 20px !important;
        }

      }


      @media only screen and (max-width: 767px) {
        .footerInner .chain {
          display: inline-block;
          float: right;
          margin-right: 0;
          margin-top: 0px;
          padding: 0 20px;
          margin-bottom: 5px;
          width: 100%;
        }


        .footerInner .btn {
          margin-top: 6px;
          padding: 12px 20px;
          text-transform: uppercase;
        }


      }

      @media only screen and (max-width: 479px) {

        .footerInner .btn {
          background-color: hsl(91, 100%, 35%);
          font: 400 17px/30px Lato;
          margin-bottom: 20px;
          margin-top: 11px;
          padding: 12px 20px;
          text-transform: uppercase;
        }


      }


    </style>


    <div class="container">
      <div class="footerInner">
        <div class="footerHeadder text-center">
          <h2 class="secssion_heading">Get in touch</h2>
          <p>Request a free consultation and get a no obligation quote for your project within 8 hours</p>
        </div>
        <div class="footerFormBody">
          <form name="contact-frm" id="contact-frm" action="sendmail1.php" class="form-outer" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group"><span class="input-group-addon"> <i class="fa fa-user"></i> </span>
                  <input type="text" class="form-control" placeholder="Your Name *" name="user-name" id="user-name"/>
                  <span id="user-name-err1" class="err"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group"><span class="input-group-addon"> <i class="fa fa-envelope"></i> </span>
                  <input type="text" class="form-control" placeholder="Email ID *" name="user-email" id="user-email"/>
                  <span id="user-email-err" class="err"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group"><span class="input-group-addon"> <i class="fa fa-phone"></i> </span>
                  <input type="text" class="form-control" placeholder="Phone" name="user-phone" id="user-phone"/>
                  <span id="user-phone-err" class="err"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group budujt" style="width:100%;">
                  <span class="input-group-addon"> <i class="fa fa-usd"></i> </span>
                  <select class="citySelectze form-control" style="width:100%;" name="user-budget">
                    <option>What is your alloted budget?</option>
                    <option value="$1000"><$1000</option>
                    <option value="$1000-$5000">$1000-$5000</option>
                    <option value="$5000-$10000">$5000-$10000</option>
                    <option value="$10000 or more">>$10000</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon" style="vertical-align:top;"> <i class="fa fa-server"></i> </span>
                  <textarea type="text" class="form-control" placeholder="Your Requirements" name="user-req" id="user-req"></textarea>
                  <span id="user-message-err" class="err"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <div id="uploadcontact">
                  <div id="dropcontact">
                    <label for="file-3">
                      <span class="fileUload" style="color: #616161;display: inline-block;position: relative;font: 400 16px/26px Lato;text-decoration: none;padding: 12px 20px 0 0;margin-bottom: 20px;"><i class="fa fa-file-text-o"></i> &nbsp;Upload your file.</span>
                      <span class="drop"><i class="fa fa-dropbox"></i> &nbsp;Drop files here</span>


                    </label>
                    <input type="file" name="upl" id="file-3" class="inputfile inputfile-3"/>
                  </div>
                  <ul></ul>
                </div>
                <div class="file-format">
                  <span id="filetext" style="display:none;"></span>
                  <label> </label>
                </div>
              </div>
              <div class="chain">
                <span onclick="showShareURL();" id="label_share_url"><i class="fa fa-link"></i> &nbsp;Share Dropbox or Other Url</span>
                <div class="input-group" id="share_url" style="display:none;">
                  <span class="input-group-addon"> <i class="fa fa-link"></i> </span>
                  <input type="text" class="form-control" placeholder="Share Dropbox or Other Url" name="customUrllink" id="user-url" maxlength="100"/>
                </div>
              </div>
              <!--<div class="col-sm-12"> <a href="javascript:void(0);" class="fileUload" onclick="document.getElementById('footerFormFile').click();"> <i class="fa fa-file-text-o"></i> &nbsp;Upload your file.</a>
               <a href="#" class="drop"> <i class="fa fa-dropbox"></i> &nbsp;Drop files here </a>
              <a href="#" class="chain"> <i class="fa fa-link"></i> &nbsp;Share Dropbox or Other Url </a>

                <input type="file" id="footerFormFile" />
                <span id="filetext" style="display:none;"></span> <br>
                <label> Accepted file Formats: <span> .PSD, .JPG, .JPEG, .GIF, .PNG, .AI, .ZIP,
                  .RAR, .PDF, .DOC, .DOCX, .XLS, .XLSX, .PPT. </span> If file size is greater than
                  20MB,
                  Please share using Dropbox or similar. </label>
              </div>-->
              <div class="btn_main">
                <div class="formfooter text-center">
                  <button class="btn btn-success" id="submitFrm">Send your request</button>
                  <p class="privacy"><i class="fa fa-lock"></i> Your privacy is guaranteed. We hate spam as much as
                    you do! </p>
                </div>
              </div>
            </div>
            <input type="hidden" name="frmOrderFileUploadedfilename" id="frmOrderFileUploadedfilename" value=""/>
            <input type="hidden" name="_frmOrder" value="frmOrder"/>
            <input type="hidden" name="type" value="contact-frm"/>
            <input type="hidden" name="frmqueryString" id="frmqueryString" value=""/>
          </form>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">

      equalheight = function (container) {
          var currentTallest = 0,
              currentRowStart = 0,
              rowDivs = new Array(),
              $el,
              topPosition = 0;
          $(container).each(function () {
              $el = $(this);
              $($el).height('auto')
              topPostion = $el.position().top;

              if (currentRowStart != topPostion) {
                  for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                      rowDivs[currentDiv].height(currentTallest);
                  }
                  rowDivs.length = 0; // empty the array
                  currentRowStart = topPostion;
                  currentTallest = $el.height();
                  rowDivs.push($el);
              } else {
                  rowDivs.push($el);
                  currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
              }
              for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                  rowDivs[currentDiv].height(currentTallest);
              }
          });
      }
      $(window).load(function () {
          equalheight('.eql_height');
          equalheight('.eql_height2');
          equalheight('.eql_height3');
          equalheight('.eql_height4');
          equalheight('.eql_height5');
          equalheight('.eql_height6');
          equalheight('.eql_height7');
          equalheight('.eql_height1');

      });
      $(window).resize(function () {
          equalheight('.eql_height');
          equalheight('.eql_height2');
          equalheight('.eql_height3');
          equalheight('.eql_height4');
          equalheight('.eql_height5');
          equalheight('.eql_height6');
          equalheight('.eql_height7');
          equalheight('.eql_height1');
      });


      $(".hire_dev_sec .hire_dev_sec-right ul li").addClass("eql1_height");

      if ($(window).width() < 768) {
          $(".hire_dev_sec .hire_dev_sec-right .hire_dev_right-inner").removeClass("eql_height");
      } else {

      }


  </script>

  <script type="text/javascript">
      $(document).ready(function () {
          $("#contact_pdf_request").submit(function () {
              var proceed = true;
              //simple validation at client's end
              //loop through each field and we simply change border color to red for invalid fields
              $("#contact_form input[required=true]").each(function () {
                  $(this).css('border-color', '');
                  if (!$.trim($(this).val())) { //if this field is empty
                      $(this).css({'border': '1px solid #FF0000', 'box-shadow': '0 0 5px red'}); //change border color to red
                      proceed = false; //set do not proceed flag
                  }
                  //check invalid email
                  var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                  if ($(this).attr("type") == "email" && !email_reg.test($.trim($(this).val()))) {
                      $(this).css({'border': '1px solid #FF0000', 'box-shadow': '0 0 5px red'}); //change border color to red
                      proceed = false; //set do not proceed flag
                  }
              });

              if (proceed) //everything looks good! proceed...
              {

                  //data to be sent to server
                  var m_data = new FormData();
                  m_data.append('user_name', $('#contact_form input[name=name]').val());
                  m_data.append('user_email', $('#contact_form input[name=email]').val());
                  m_data.append('company_name', $('#contact_form input[name=company_name]').val());

                  if ($('#subscribe').is(':checked')) m_data.append('subscribe', 'Yes');
                  else m_data.append('subscribe', 'No');

                  //instead of $.post() we are using $.ajax()
                  //that's because $.ajax() has more options and flexibly.
                  $.ajax({
                      url: 'common/inc/contact_me.php',
                      data: m_data,
                      processData: false,
                      contentType: false,
                      type: 'POST',
                      dataType: 'json',
                      success: function (response) {
                          $('#contact_form input[name=name]').val('').css({
                              'border': '1px solid #cfcfcf',
                              'box-shadow': 'none'
                          });
                          $('#contact_form input[name=email]').val('').css({
                              'border': '1px solid #cfcfcf',
                              'box-shadow': 'none'
                          });
                          $('#contact_form input[name=company_name]').val('').css({
                              'border': '1px solid #cfcfcf',
                              'box-shadow': 'none'
                          });
                          $('#subscribe').prop('checked', false);

                          //load json data from server and output message
                          if (response.type == 'error') { //load json data from server and output message
                              output = '<div class="error">' + response.text + '</div>';
                          } else {
                              $('.contact-description').addClass('hide-me').hide();
                              $('#contact_body').addClass('hide-me').hide();
                              output = '<div class="success">' + response.text + '</div>';
                          }
                          $("#contact_form #contact_results").hide().html(output).slideDown();
                      }
                  });


              }
          });

          //reset previously set border colors and hide all message on .keyup()
          $("#contact_form  input[required=true]").keyup(function () {
              $(this).removeAttr("style");
              //$(".success, .error").slideUp();
          });
      });
  </script>

</section>
