<div hightlight=''>

  <pre>
    <span class="code-title">Javascript</span>
    <code class="js">
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'with_kml'}}, function(){
  var kmls = handler.addKml(
    { url: "http://gmaps-samples.googlecode.com/svn/trunk/ggeoxml/cta.kml" }
  );
});
    </code>
  </pre>

  <pre>
    <span class="code-title">HTML</span>
    <code class="html">
&lt;div style='width: 800px;'&gt;
  &lt;div id="kml" style='width: 800px; height: 400px;'&gt;&lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>

</div>
