// Place all the styles related to the twilios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.twilio-body{
  margin: 0px;
  padding: 0px;
}