<style>
  html, body, .outer_layout, .outer_wrapper_new, .banking_finance_pg,
  .web_appl_dvl_newPG, .banking_finance_bnner_sec_outr,
  .container, .row, .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center,
  .web_appl_dvl_bnner_sec{
    height: 100%!important;
  }

  #map_frame{
    margin-top: 35px;
  }
  h1.map-header {
    line-height: 30px;
    font-size: 40px!important;
    margin: 0!important;
    padding-top: 40px!important;
    padding-bottom: 10px!important;
  }
  #map_frame{
    margin-top: 0px;
  }
</style>
<section class="banking_finance_pg iso_pgN agencies_software_page">
  <section class="web_appl_dvl_newPG">
    <div class="banking_finance_bnner_sec_outr agencies_software_outer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="web_appl_dvl_bnner_sec">
              <h1 class="map-header">Twilio API Test</h1>
              <iframe id="map_frame" frameborder="0" src="/twilio_histories"
                      style="background: transparent; width: 100%; height: 400px;
                      border: solid 1px white; border-radius: 5px;"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
