<script>
    (function (jQuery) {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 500) {
                $('.logo img').attr('src', 'case-studies/wp-content/themes/demotheme11/common/images/VC-Log-1.png');
            }
            if ($(this).scrollTop() < 500) {
                $('.logo img').attr('src', 'case-studies/wp-content/themes/demotheme11/common/images/logo.svg');
            }
        });
    })(jQuery);

</script>

<link rel="stylesheet" type="text/css" href="case-studies/common/css/jquery.rateyo.min.css" />
<link rel="stylesheet" type="text/css" href="case-studies/common/css/rating.css" />
<link rel="stylesheet" type="text/css" href="case-studies/common/css/mytab.css" />
<style>
  /* This only works with JavaScript,
                 if it's not present, don't show loader */
  /*#loader { display: none;  }*/
  .js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
  }

  .case_studies_pg .web_appl_dvl_newPG .web_appl_dvl_bnner_sec_outr {
    display: none;
  }

  /*.case_studies_inner p{font-family:lato !important;font-size:16px !important;}
  .case_studies_inner h2{font-family:lato bold !important;}
  .case_studies_inner ul.sub-cat{font-family:lato !important;}
  .case_studies_inner a.read-more{font-family:lato !important;}*/
  .banner-cont h1 {
    margin-top: 40px;
    font-family: BebasNeueBold !important;
    padding-top: 102px;
  }

  .case_studies_pg .case_studies_container .case_studies_block {
    min-height: 570px !important;
  }

  .case_studies_pg .case_studies_container .case_studies_block .case_studies_inner p {
    font: 400 16px/22px Lato-Regular;
  }

  .case_studies_pg .case_studies_container .case_studies_block .case_studies_inner .read-more {
    font: 400 12px/16px Lato-Regular;
  }

  .case_studies_pg .case_studies_container .case_studies_block .case_studies_inner .sub-cat li {
    font: 400 16px/22px Lato-Regular;
  }


  .case_studies_pg .case_studies_container .case_studies_block .case_studies_inner h2, .case_studies_pg .case_studies_container .case_studies_block .case_studies_inner h2 a {
    font: 300 24px/28px Lato-bold;
  }

  .case_studies_inner_pg .web_appl_dvl_newPG .domain-info p {
    font: 400 17px/28px Lato-Regular;
  }

  .case_studies_pg .case_studies_container .case_studies_block .case_studies_inner .sub-cat li {
    font: 400 14px/18px Lato-Regular;
  }


  .case_studies_inner_pg .case-content-block ul li {
    font: 300 16px/28px Lato-Regular;
  }

  .case_studies_pg .case_studies_container .case_studies_block .case_studies_inner h3 {
    font: 400 16px/20px Lato-bold;
    margin: 12px 0 14px;
  }

  .case_studies_inner_pg .case-content-block p {
    font: 400 16px/28px Lato-Regular;
  }


  .case_studies_pg .case_studies_container {
    float: left;
    width: 100%;
    padding: 0px 0 70px;
  }

  .lode_mor_btn {
    width: 100%;
    text-align: center;
    margin: 70px 0px 10px 0px;
  }

  .lode_mor_btn a {
    background: #67b40b;
    color: #fff;
    display: inline-block;
    font: 400 15px/20px Lato-Semibold;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .lode_mor_btn a:hover {
    display: inline-block;
    background: #549407;
    color: #fff;
  }

  .key-points-list ul li span {
    background: url(case-studies/wp-content/themes/demotheme11/common/images/chkbox-icon.png) center center no-repeat;
    background-size: auto;
    width: 24px;
    height: 22px;
    float: left;
    margin-right: 15px;
  }

  .header_new {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99999;
    background: #000;
  }

  .related-caseStudies {
    padding: 40px 0 80px;
    width: 100%;
    float: left;
  }

  .slider .bx-controls-direction .bx-prev {
    background: url(case-studies/wp-content/themes/demotheme11/common/images/yellow-arrowL.jpg);
    margin-right: 10px;
  }

  .slider .bx-controls-direction .bx-next {
    background: url(case-studies/wp-content/themes/demotheme11/common/images/yellow-arrowR.jpg);
  }

  .slider .bx-controls-direction {
    text-align: right;
    width: 100%;
    float: left;
    line-height: 0;
    padding-top: 30px;
  }

  .slider .bx-controls-direction a {
    background-size: auto;
    height: 32px;
    width: 32px;
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
  }

  .slider .bx-pager-item {
    display: none;
  }

  .related-caseStudies-inner-result .related-caseStudies-slider-result .bx-controls-direction {
    display: none;
  }

  .related-caseStudies-slider-result .CS_list_left {
    width: 100%;
    /*float: left;*/
  }

  .related-caseStudies-slider-result img {
    width: 100%;
    height: 450px !important;
  }

  .banner-cont h1 {
    font-family: Lato-Semibold;
    border-bottom: 2px solid #0a0a0a;
    padding-bottom: 15px;
    color: #29abe1;
    float: left;
    width: 100%;
    margin: 25px 0px;
    font-size: 70px;
    line-height: 75px;
    text-transform: uppercase;
  }


  .tab-main ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: auto;
    border: none;
    width: 100%;
    font-size: 30px;
    line-height: 35px;
  }

  .tab-main ul.tabs li {
    margin: 0 20px 0 0;
    padding: 0;
    font-family: Lato-Semibold;
    text-transform: uppercase;
    color: #3c3c3c !important;
    display: block !important;
    border: none !important;
    font-size: 30px;
    line-height: 35px;
    height: auto !important;
    width: auto;
  }


  .tab-main ul.tabs li.active {
    color: #29abe1 !important;
    background: none !important;
  }


  .tab-main .tab_container {
    border: 0 !important;
    background: 0 0 !important;
    margin: 40px 0 0;
  }


  .tab-main .tab_content {
    padding: 0px !important;
    float: left;
    width: 100%;
    background: 0 0 !important;
  }

  .related-caseStudies .web_service_sec p {
    font: 400 17px/23px Lato;
    min-height: 100px;
  }

  .related-caseStudies-inner-result .related-caseStudies-slider-result .bx-controls.bx-has-pager .bx-pager.bx-default-pager .bx-pager-item a.active {
    background-color: #cfcfcf;
    width: 25px;
    height: 7px;
    border-radius: 15px;
  }

  .related-caseStudies-inner-result .related-caseStudies-slider-result .bx-controls.bx-has-pager .bx-pager.bx-default-pager .bx-pager-item a {
    background-image: none;
    background-color: #757575;
    float: none;
    width: 7px;
    height: 7px;
    text-indent: -9999px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 3px;
  }

  .related-caseStudies-inner-result .related-caseStudies-slider-result .bx-pager-item a.active, .bx-pager-item a:hover {
    background-position: -265px -35px;
  }

  .related-caseStudies-inner-result .related-caseStudies-slider-result .bx-controls.bx-has-pager .bx-pager.bx-default-pager {
    display: inline-block;
  }

  .related-caseStudies-inner-result .related-caseStudies-slider-result .bx-controls.bx-has-pager .bx-pager.bx-default-pager .bx-pager-item {
    float: left;
    margin-right: 0;
    text-align: center;
  }

  .related-caseStudies-inner-result .related-caseStudies-slider-result .bx-controls.bx-has-pager {
    text-align: center;
    padding-top: 20px;
  }

  @media screen and (max-width: 767px) {

    .banner-cont h1 {
      font-family: Lato-Semibold;
      border-bottom: 1px solid #0a0a0a;
      padding-bottom: 5px !important;
      color: #29abe1;
      float: left;
      width: 100%;
      margin: 0px 0px !important;
      font-size: 40px;
      line-height: 50px !important;
      text-transform: uppercase;
      text-align: center !important;
      margin-top: 15px;
    }

    .tab-main .tab_container {
      border: 0 !important;
      background: 0 0 !important;
      margin: 40px 0 0;
      display: none !important;
    }

    .tab-main ul.tabs {
      display: none !important;
    }


    .case_studies_pg .case_studies_container .case_studies_block {
      margin: 10px 0px;
    }

    .header_new {
      left: 0;
      position: static !important;
      top: 0;
      z-index: 99999;
      background: #000;
    }

  }

  @media screen and (max-width: 479px) {

    .case_studies_inner_pg .web_appl_dvl_newPG .web_appl_dvl_bnner_sec_outr .web_appl_dvl_bnner_sec h1 {
      font: 20px/27px allerbold;
      margin: 0px 0 10px !important;
    }

    .case_studies_inner_pg .web_appl_dvl_newPG .web_appl_dvl_bnner_sec_outr .web_appl_dvl_bnner_sec h1 {
      color: #6bb80f;
      font: 28px/34px BebasNeueBold !important;
      text-align: left;


    }

    .case_studies_inner_pg .web_appl_dvl_newPG .domain-skill h3 {
      font: 19px/23px BebasNeueBold;
    }

    .case_studies_inner_pg .web_appl_dvl_newPG .domain-skill .sub-cat li {
      display: inline-block;
      background: 0 0;
      color: #fff;
      border-bottom: 1px dotted;
      font: 12px/15px Lato !important;

    }

    .case_studies_inner_pg .case-content-block {
      padding: 20px 0 20px;
    }

    .case_studies_inner_pg .case-content-block h2 {
      font: 28px/34px BebasNeueBold !important;
      text-align: center;
      padding: 10px 0;

    }

    .case_studies_inner_pg .case-content-block h2::after {
      left: 90px;
    }


    .related-caseStudies .heading-row h3 {
      font: 28px/34px BebasNeueBold;
      padding: 30px 0px 50px;

    }

    .related-caseStudies {
      padding: 0px 0 43px;
      width: 100%;
      float: left;
    }

    .related-caseStudies .heading-row h3::after {
      left: 30%;
    }

    .related-caseStudies {
      padding: 0px 0 80px;

    }

    .related-caseStudies {
      display: none;

    }

    .get_outer.appl_dvl_frm {
      background-color: #094978;
      padding: 40px 0 40px;
    }

    .related-caseStudies-slider-result img {
      width: 100%;
      height: 250px !important;
    }

    div.budget_field {
      display: none !important;
    }

    label.file_format_msg {
      display: none !important;
    }
  }
</style>
<style>
  .overall > span {
    color: #fff;
  }

  .rating-view .overall {
    display: inline-block;
    margin-top: 2px;
    font-family: lato;
    font: 13px lato;
  }

  .rating_outer .social-btn {
    margin-top: 7px;

  }

  .rating_outer {
    padding: 16px 0 16px;

  }

  .rating_outer {
    background: #424242 none repeat scroll 0 0;
    display: block;
    float: left;
    margin-top: 0;
    padding-bottom: 25px !important;
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    width: 100%;
  }


  .overall > span {
    display: inline-flex;
    padding: 5px;
    width: 100%;
  }

  .rate-btn .edited {
    background: url(/common/images/like.png) no-repeat 0 center;
    background-size: 18px auto;
    font-size: 12px;
    padding-left: 26px;
    padding-top: 3px;
    color: #939393;
  }


  .rateit-wrap {
    float: left;
  }

  @media only screen and (max-width: 1199px) {
    .rating-view .overall {
      display: inline-block;
      float: left;
      font: 11px lato;
      margin-top: 2px;
      padding: 8px 0 9px;
      text-align: center;
    }


    @media only screen and (max-width: 767px) {
      .rateit-wrap {
        float: none;
      }

      .rating-view .overall {
        display: inline-block;
        float: left;
        font: 9px lato;
        margin-top: 2px;
        padding: 22px 0 1px;
        text-align: center;
        width: 100%;
      }

    }

    @media only screen and (max-width: 479px) {
      .rating_outer .social-btn {
        margin-top: 9px;
      }

      .overall > span {
        display: none;
        padding: 5px;
        width: 100%;
      }

      .rating-view .overall {
        padding: 0 0 1px;
        text-align: center;

      }

      .get-in-touch {
        padding-bottom: 9px;

      }

      .rateit-wrap {
        display: none;
        float: none;
      }


    }
  }


</style>
<section class="case_studies_pg">

  <!-- end of header -->
  <!-- Tab Menu starts -->
  <div class="container">
    <div class="row">
      <div class="banner-cont">
        <h1>Portfolio Websites</h1>
      </div>


    </div>
  </div>
  <section class="case_studies_container">
    <div class="container">
      <div class="row grid">
        <!-- while loop starts here -->


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item angularjs-developmentapplication-developmentbanking-financial-servicescase-studydigital-marketing-agencieseducation-elearninghealthcarehtml5-bootstrap-developmentisvs-software-product-companieslaravellogistics-transportationmaintenance-supportmanufacturingmedia-entertainmentphp-developmentproduct-engineeringpublishing-advertisingretail-ecommercesoftware-developmenttravel-hospitality">
          <div class="case_studies_block">
            <a href="http://www.signvideo.co.uk" target="_blank">
              <img src="case-studies/images/sign-video-uk.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.signvideo.co.uk" target="_blank">Sign Video</a></h2>
              <p><br>Our BSL video interpretation solution demolishes existing barriers facing service providers, businesses, work colleagues and family wanting to hold conversations with deaf BSL-using people.  In addition, our service has reduced the previous waiting time of three to six weeks for a BSL interpreter to be available, down to an average of thirty seconds or less..</p>

              </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item net-developmentcase-studyisvs-software-product-companiesit-consulting-strategymaintenance-supportmigration-modernisationmobile-application-developmentmobile-developmentproduct-engineeringsoftware-developmentteam-extensionxamarin-app-development">
          <div class="case_studies_block">
            <a href="http://www.Lawdingo.com" target="_blank">
              <img src="case-studies/images/lawdingo.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.Lawdingo.com" target="_blank">
                Law Dingo</a></h2>
              <p>
              <p><br>PARALEGALS & ATTORNEYS, WHENEVER.
                <br>We fulfill legal services needs of law firms and companies, via a network of on-demand virtual paralegals and contract attorneys.</p>
              </p>
              <!-- <h3>Expertise</h3>
              <ul class="sub-cat sub-cat-full">
                <li></li>
                <li></li>
              </ul> -->
            </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item net-developmentandroid-app-developmentapplication-developmentcase-studyhealthcareios-app-developmentit-consulting-strategymaintenance-supportmobile-application-developmentmobile-developmentproduct-engineeringsoftware-developmentteam-extensionxamarin-app-development">
          <div class="case_studies_block">
            <a href="http://www.SafetyNotice.com" target="_blank">
              <img src="case-studies/images/safety-notice.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.SafetyNotice.com" target="_blank">Safety Notice</a></h2>
              <p>
              <p><br>“Safety for Seniors – Peace of Mind for their Families”<br>
                The FREE and revolutionary solution
                for family members that cannot be present when their
                senior loved one interacts with a service provider.</p>
              </p>

              </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item isvs-software-product-companiesit-consulting-strategymaintenance-supportproduct-engineeringreactjs-developmentsoftware-developmentteam-extension">
          <div class="case_studies_block">
            <a href="http://www.liviraelingerie.com" target="_blank">
              <img src="case-studies/images/livirae.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.liviraelingerie.com" target="_blank">LiviRae Lingerie</a></h2>
              <p>
              <p><br>
                Cynthia Decker and Molly Hopkins first opened LiviRae in 2006. The idea, inspiration, and original concepts for a custom fit lingerie and bra boutique arose, as they often do, with a need to help women feel confident and sexy, not just in Georgia, but around the world.
              </p>
              </p>

              </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item angularjs-developmentcase-studyhtml5-bootstrap-developmentisvs-software-product-companiesit-consulting-strategylogistics-transportationmaintenance-supportproduct-engineeringretail-ecommercesoftware-developmentteam-extension">
          <div class="case_studies_block">
            <a href="http://www.soundcloud.com" target="_blank">
              <img src="case-studies/images/sound-cloud.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.soundcloud.com" target="_blank">Sound Cloud</a></h2>
              <p>
              <p><br>Discover more with SoundCloud Go+<br>
                SoundCloud Go+ lets you listen offline, ad-free, with over 150 million tracks — and growing.
                <br>
              </p>
              </p>
              <!-- <h3>Expertise</h3>
              <ul class="sub-cat sub-cat-full">
                <li></li>
                <li></li>
              </ul> -->
            </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item angularjs-developmentcase-studyhealthcarehtml5-bootstrap-developmentit-consulting-strategymaintenance-supportmanufacturingproduct-engineeringsoftware-developmentteam-extension">
          <div class="case_studies_block">
            <a href="http://www.aggolfe.com" target="_blank">
              <img src="case-studies/images/aggolfe.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.aggolfe.com" target="_blank">Aggolfe</a></h2>
              <p>
              <p><br>
                Real estate transactions in Corsica
                BUY OR SELL TO THE BEST OF YOUR INTEREST IN ALL SERENITY
              </p>
              </p>

              </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item case-studyit-consulting-strategyjava-developmentmaintenance-supportmedia-entertainmentproduct-engineeringsoftware-developmentteam-extension">
          <div class="case_studies_block">
            <a href="http://www.j2a-evasion.com" target="_blank">
              <img src="case-studies/images/j2a-evasion.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.j2a-evasion.com" target="_blank">J2a Evasion</a></h2>
              <p>
              <p><br>Depuis 25 ans, nous vous faisons partager notre expérience du voyage de groupes. Partez à la découverte de deux destinations de choix et de valeur : La Corse et la Sardaigne, où charme et traditions sont de mise.
              </p>
              </p>

              </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item net-developmentcase-studydigital-marketing-agenciesit-consulting-strategymaintenance-supportmedia-entertainmentmigration-modernisationproduct-engineeringsoftware-developmentteam-extension">
          <div class="case_studies_block">
            <a href="http://www.sables-santa-giulia.com" target="_blank">
              <img src="case-studies/images/sables-santa.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.sables-santa-giulia.com" target="_blank">Sables Santa Giulia</a></h2>
              <p>
              <p><br>Villas de vacances à louer, plage de Santa Giulia
                Vous rêviez d’un cadre idyllique pour vos vacances, nous vous offrons à Porto-Vecchio en Corse du Sud, nos villas de vacances à louer, plage de Santa Giulia.</p>
              </p>
              <!-- <h3>Expertise</h3>
              <ul class="sub-cat sub-cat-full">
                <li></li>
                <li></li>
              </ul> -->

              </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item android-app-developmentapplication-developmentdigital-marketing-agenciesios-app-developmentit-consulting-strategymaintenance-supportmobile-application-developmentsoftware-developmentteam-extensiontesting-qa">
          <div class="case_studies_block">
            <a href="http://www.pozzodimastri.com" target="_blank">
              <img src="case-studies/images/pozzodi.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.pozzodimastri.com" target="_blank">Pozzo di Mastri</a></h2>
              <p>
              <p><br> Première ferme auberge créée sur une propriété familiale en 1987, c'est l'histoire d'une famille passionnée avec, au départ, une idée fixe : Recevoir les gens comme l'on aimerait être reçu.
              </p>
              </p>
              <!-- <h3>Expertise</h3>
              <ul class="sub-cat sub-cat-full">
                <li></li>
                <li></li>
              </ul> -->

              </div>
          </div>
        </div>


        

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item android-app-developmentangularjs-developmentcase-studyit-consulting-strategymaintenance-supportmedia-entertainmentproduct-engineeringsoftware-developmentteam-extension">
          <div class="case_studies_block">
            <a href="http://www.essinova.com" target="_blank">
              <img src="case-studies/images/essinova.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.essinova.com" target="_blank">Essinova and BeiBei Song</a></h2>
              <p>
              <p><br>
                Essinova's Founder BeiBei Song is leading a Special Issue on "Business, Open Innovation and Art", along with Prof. Piero Formica and Dr. Claus Springboard, being published on MDPI Journal of Open Innovation: Technology, Market and Complexity (JOItmC), a multidisciplinary open-access scholarly journal.</p>
              </p>
            </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item net-developmenthtml5-bootstrap-developmentit-consulting-strategylogistics-transportationmaintenance-supportproduct-engineeringsoftware-developmentteam-extensiontravel-hospitality">
          <div class="case_studies_block">
            <a href="http://www.investments.net" target="_blank">
              <img src="case-studies/images/investments.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.investments.net" target="_blank">Investments</a>
              </h2>
              <p>
              <p><br>With so many different investment choices out there, it can be difficult to find out what the best options are for you when it is your turn to put your money to work. </p>
              </p>
            </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item case-studyhtml5-bootstrap-developmentit-consulting-strategyjava-developmentmaintenance-supportphp-developmentproduct-engineeringretail-ecommercesoftware-developmentteam-extension">
          <div class="case_studies_block">
            <a href="http://www.stayful.com" target="_blank">
              <img src="case-studies/images/stayful.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.stayful.com" target="_blank">Stayful</a></h2>
              <p>
              <p><br>Hey 🙂 I’m Cass and my blog Stayful is all about living the full life. I love to review hotels and write about anything lifestyle. I’m passionate and creative about everything I do in life. Travel is a top contender for my free time, but I also like to play with technology and decor.
              </p>
              </p>
            </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item net-developmentangularjs-developmentcase-studyhtml5-bootstrap-developmentit-consulting-strategylogistics-transportationmaintenance-supportmobile-developmentproduct-engineeringsoftware-developmentteam-extensionxamarin-app-development">
          <div class="case_studies_block">
            <a href="http://www.smallofficesearch.com" target="_blank">
              <img src="case-studies/images/small-office-search.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.smallofficesearch.com" target="_blank">Small Office Search</a></h2>
              <p>
              <p><br>Small Office Search has strived to create:<br>

                A simple search site that helps businesses and individuals find their perfect space.
                A place for owners to list, post, and manage their buildings for one low price, no matter how many offices are in the building.
              </p>
              </p>
            </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 element-item net-developmentcase-studyhealthcarehtml5-bootstrap-developmentit-consulting-strategymaintenance-supportproduct-engineeringsoftware-developmentteam-extension">
          <div class="case_studies_block">
            <a href="http://www.venturekamloops.com" target="_blank">
              <img src="case-studies/images/venture-kamloops.png" alt="Portfolio Image"/></a>
            <div class="case_studies_inner">
              <h2><a href="http://www.venturekamloops.com" target="_blank">Venture Kam Loops</a></h2>
              <p>
              <p><br>
                Support for starting and growing your business.<br>
                As the economic development organization for the City of Kamloops, Venture Kamloops’ focus is just that, economic development.
              </p>
              </p>
            </div>
          </div>
        </div>
        <!-- while loop end here -->


      </div>

    </div>
    <script>
        // var arr = ;

    </script>
    <!-- Load More posts -->
    <div class="container">
      <div class="row" id="load_posts">

      </div>


    </div>

    <input type="hidden" id="published_post" name="total_published_post" value=""/>
    <input type="hidden" id="defaultShown_post" name="default_post" value="14"/>

  </section>

</section>
